.product {
  width: 300px;
  height: 247px;
  background-position: -1px -1px;
}
.logo {
  width: 152px;
  height: 63px;
  background-position: -303px -1px;
}
.text_f1_4 {
  width: 147px;
  height: 54px;
  background-position: -303px -66px;
}
.text_f1_2 {
  width: 125px;
  height: 54px;
  background-position: -303px -122px;
}
.cta {
  width: 198px;
  height: 32px;
  background-position: -303px -178px;
}
.replay-button {
  width: 12px;
  height: 12px;
  background-position: -430px -122px;
}
.text_f1_3 {
  width: 97px;
  height: 54px;
  background-position: -303px -212px;
}
.text_f1_5 {
  width: 75px;
  height: 54px;
  background-position: -402px -212px;
}
.text_f1_6 {
  width: 222px;
  height: 54px;
  background-position: -1px -250px;
}
.text_f1_1 {
  width: 222px;
  height: 26px;
  background-position: -225px -268px;
}
.replay_button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* POSITIONING */
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}
#global-container {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 300px;
  height: 600px;
  max-width: 300px;
  max-height: 600px;
  box-sizing: border-box;
  border: solid 1px #696969;
  background: url(background.jpg);
}
/* CLICKTAG */
#clicktag-button {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.replay-button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
.text_f1 {
  display: block;
  overflow: hidden;
  width: 222px;
  height: 188px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: -5px;
  left: 0px;
  overflow: visible;
}
.word {
  position: relative;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  float: left;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.product {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  opacity: 0;
  filter: alpha(opacity=0);
  top: 100px;
  left: 0px;
}
.partner-logo {
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.logo {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  bottom: 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  left: -1px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.cta {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 345px;
  left: 3px;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  opacity: 0;
  filter: alpha(opacity=0);
}
