.product {
  width: 81px;
  height: 50px;
  background-position: -1px -1px;
}
.logo {
  width: 79px;
  height: 34px;
  background-position: -84px -1px;
}
.text_f1_3 {
  width: 127px;
  height: 17px;
  background-position: -84px -37px;
}
.cta {
  width: 88px;
  height: 32px;
  background-position: -165px -1px;
}
.text_f1_6 {
  width: 101px;
  height: 18px;
  background-position: -213px -35px;
}
.text_f1_4 {
  width: 88px;
  height: 18px;
  background-position: -255px -1px;
}
.replay-button {
  width: 12px;
  height: 12px;
  background-position: -255px -21px;
}
.text_f1_5 {
  width: 26px;
  height: 18px;
  background-position: -316px -21px;
}
.text_f1_1 {
  width: 54px;
  height: 17px;
  background-position: -344px -21px;
}
.text_f1_2 {
  width: 34px;
  height: 17px;
  background-position: -345px -1px;
}
.replay_button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* POSITIONING */
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}
#global-container {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 320px;
  height: 50px;
  max-width: 320px;
  max-height: 50px;
  box-sizing: border-box;
  border: solid 1px #696969;
  background: url(background.jpg);
}
/* CLICKTAG */
#clicktag-button {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.replay-button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
.text_f1 {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 215px;
  height: 35px;
  top: 8px;
  left: 52px;
  overflow: visible;
}
.word {
  position: relative;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  float: left;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.product {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  left: 60px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.partner-logo {
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.logo {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  bottom: 7px;
  right: 8px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.cta {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  left: 137px;
  top: 11px;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  opacity: 0;
  filter: alpha(opacity=0);
}
