$component: '.header';

#{$component} {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $header-height;
  padding: 25px;
  background: #fff;
  border-bottom: 1px solid $gray;
  z-index: 25;
  transition: all .2s ease-in-out;
  @media(min-width: $large) {
    left: $left-split;
    width: $right-split;
  }
  a img {
    transform-origin: center center;
    transition: transform .2s ease-in-out;
  }
}

#{$component}.shrunk {
  height: 75px;
  a img {
    transform: scale(.5);
  }
}

.full #{$component} {
  width: 100%;
  left: 0;
}

.mobile-nav-open #{$component} {
  @media(max-width: $large) {
    transform: translateX($mobile-nav-width);
  }
}


.mobile-nav-button {
  display: block;
  position: fixed;
  z-index: 3;
  right: 10px;
  z-index: 200;
  top: 20px;
  height: 28px;
  width: 28px;
  background-color: $medium-gray;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
  transition: transform .3s, opacity .3s;
  @media(min-width: $large) {
    display: none;
  }
  .mobile-nav-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    width: 14px;
    height: 2px;
    background-color: #fff;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
      transform: translateZ(0);
      backface-visibility: hidden;
      transition: transform .3s, width .3s, top .3s;
    }
    &:before {
      transform-origin: right top;
      transform: translateY(-6px);
    }
    &:after {
      transform-origin: right bottom;
      transform: translateY(6px);
    }
  }
  &.open .mobile-nav-icon {
    &:before, &:after {
      width: 50%;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
