$component: '.main-navigation';

#{$component} .menu-block header {
  display: flex;
  align-items: center;
}

#{$component} .menu-block-title {
  margin: 0 0 0 25px;
  color: $blue-gray;
  font-size: 28px;
  cursor: pointer;
  font-weight: 300;
  &::selection {
    background: rgba(0,0,0,0);
  }
}

#{$component} .expand-icon {
  width: 16px;
  height: 2px;
  background: #fff;
  cursor: pointer;
  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    transform: rotate(90deg);
    transition: transform .1s ease-in-out;
    background: #fff;
  }
  &.expanded:after {
    transform: rotate(0);
  }
}

#{$component} .menu-block-items {
  margin: 0 0 0 75px;
  padding: 0;
  list-style: none;
  li a {
    color: #fff;
    // color: #cbcbcb;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
  }
}
