$component: '.navigation';

#{$component} {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 200%;
  transition: transform .2s ease-in-out;
}

#{$component} .menu {
  min-height: 100vh;
  //padding: 75px 0 0 75px;
  padding: 40px 0 0 35px;
  width: 50%;
  transition: background .2s linear .2s;
}

#{$component}.show-right {
  transform: translateX(-50%);
}

#{$component} .left-menu {
  background-image: url(https://res.cloudinary.com/response-mktg/image/upload/e_colorize:75,co_rgb:000,q_auto,w_800/v1487359537/forevermark/nav/main-bg.jpg);
  background-size: cover;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

#{$component} .right-menu {
  background: $light-gray;
}

#{$component} .control {
  position: absolute;
  top: 0;
  width: 50%;
  z-index: 2;
  transition: transform .2s ease-in-out;
  transform: translateX(100%);
  .control-icon {
    cursor: pointer;
    margin: 20px 28px;
    width: 28px;
    height: 28px;
    fill: #fff;
    transform-origin: 50% 50%;
    transform: translateX(-84px) rotate(180deg);
    transition: transform .2s ease-in-out;
  }
}

#{$component}.show-right .control {
  .control-icon {
    transform: translateX(0) rotate(0);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
