$input-height: 75px;
$outline-width: 2px;

.outline-input {
  display: block;
  position: relative;
  margin: 0 0 50px 0;
  height: $input-height;
  input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 10px;
    font-weight: 200;
    width: 100%;
    height: 100%;
    border: none;
    &:focus {
      outline: none;
      border: none;
    }
  }

  .hint {
    position: absolute;
    bottom: -22px;
    color: $blue-gray;
    font-size: 14px;
    opacity: 0;
    transition: .2s opacity linear .2s;
  }

  span:first-child {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    &:before, &:after {
      position: absolute;
      top: 0;
      content: '';
      display: inline-block;
      width: 50%;
      height: $outline-width;
      background: $blue-gray;
      z-index: 2;
      transform: scaleX(0);
      transition: transform .2s cubic-bezier(0.645, .045, .355, 1);
    }
    &:before {
      left: 0;
      transform-origin: left center;
    }
    &:after {
      transform-origin: right center;
      right: 0;
    }
  }

  span:nth-child(2) {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    &:after, &:before {
      content: '';
      position: absolute;
      display: block;
      width: $outline-width;
      height: 100%;
      background: $blue-gray;
      z-index: 2;
      transform-origin: center bottom;
      transform: scaleY(0);
      transition: transform .2s cubic-bezier(0.645, .045, .355, 1) .2s;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: $outline-width;
    background: $blue-gray;
    z-index: 2;
  }
  &:after {
    bottom: 0;
  }
}

.outline-input.active {
  .hint {
    opacity: 1;
  }
  span:nth-child(2):after, span:nth-child(2):before {
    transform: scaleY(1);
    transition: transform .2s cubic-bezier(0.645, .045, .355, 1);
  }
  span:first-child:after, span:first-child:before {
    transform: scaleX(1);
    transition: transform .2s cubic-bezier(0.645, .045, .355, 1) .2s;
  }
}
