html, body, #app, .layout {
  overflow-x: hidden;
  width: 100%;
  height: auto;
  font-family: $body-font-family;
}

.layout {
  position: relative;
}

.layout .left {
  position: fixed;
  top: 0;
  left: 0;
  width: $left-split;
  height: 100%;
  transition: transform .2s ease-in-out, background-image .5s;
  overflow-x: hidden;
  z-index: 2;
  @media(max-width: $large) {
    width: $mobile-nav-width;
  }
}

.layout .right {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX($left-split);
  background: #fff;
  transition: transform .2s ease-in-out;
  @media(max-width: $large) {
    transform: translateX(0);
    z-index: 3;
  }
  .right--inner {
    width: $right-split;
    padding-top: $header-height;
  }
}

.layout.mobile-nav-open {
  @media(max-width: $large) {
    .right {
      transform: translateX($mobile-nav-width);
    }
  }
}

.layout.full {

  .left {
    transform: translateX(-100%);
  }

  .right {
    transform: translateX(0);
    .right--inner {
      width: auto;
    }
  }

}
