// breakpoints
$small: 320px;
$medium: 640px;
$large: 960px;
$xlarge: 1366px;

// palette
$light-gray: #e6e6e6;
$medium-gray: #686868;
$dark-gray: #252525;
$white: #fefefe;

$blue-gray: #687278;
$gray: #CCCCCC;
$black: #221F20;


// fonts
$body-font-family: 'proxima-nova', 'Open Sans', 'Helvetica', sans-serif;


// layout
$left-split: 40%;
$right-split: 60%;
$header-height: 150px;
$mobile-nav-width: 87%;
