<template>
  <section class="login-page page" data-login>
    <div class="login-form">
      <form class="login">
        <div class="outline-input">
          <span class="top"></span>
          <span class="sides"></span>
          <input v-model="username" id="username" type="text" placeholder="Username">
          <span class="hint">* Usernames are case-sensitive.</span>
        </div>
        <div class="outline-input">
          <span></span>
          <span></span>
          <input v-model="password" id="password" type="password" placeholder="Password">
        </div>
      </form>
      <button @click="login" id="login" class="login-submit">Enter</button>
      <span class="error-msg">{{this.error}}</span>

    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Login',
  data: () => ({
    username: '',
    password: '',
    error: null
  }),
  methods: {
    login() {
      if (!this.username.length && !this.password.length) {
        this.error = 'Username and password required'
      } else {
        this.okta
          .signIn({ username: this.username, password: this.password })
          .then(transaction => {
            this.okta.session.setCookieAndRedirect(
              transaction.sessionToken,
              this.rootUrl
            )
          })
          .catch(() => {
            this.error = 'Authentication failed'
          })
      }
    }
  },
  computed: {
    ...mapState({
      okta: state => state.auth.okta
    }),
    rootUrl() {
      return window.location.origin
        ? `${window.location.origin}/`
        : `${window.location.protocol}/${window.location.host}/`
    }
  }
}
</script>
