.product {
  width: 212px;
  height: 90px;
  background-position: -1px -1px;
}
.text_f1_5 {
  width: 230px;
  height: 34px;
  background-position: -1px -93px;
}
.logo {
  width: 138px;
  height: 58px;
  background-position: -215px -1px;
}
.cta {
  width: 171px;
  height: 28px;
  background-position: -215px -61px;
}
.text_f1_1 {
  width: 215px;
  height: 34px;
  background-position: -233px -91px;
}
.text_f1_4 {
  width: 182px;
  height: 34px;
  background-position: -355px -1px;
}
.replay-button {
  width: 12px;
  height: 12px;
  background-position: -355px -37px;
}
.text_f1_8 {
  width: 172px;
  height: 34px;
  background-position: -388px -37px;
}
.text_f1_7 {
  width: 88px;
  height: 34px;
  background-position: -539px -1px;
}
.text_f1_6 {
  width: 63px;
  height: 34px;
  background-position: -562px -37px;
}
.text_f1_3 {
  width: 90px;
  height: 34px;
  background-position: -450px -73px;
}
.text_f1_2 {
  width: 66px;
  height: 34px;
  background-position: -542px -73px;
}
.replay_button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* POSITIONING */
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}
#global-container {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 728px;
  height: 90px;
  max-width: 728px;
  max-height: 90px;
  box-sizing: border-box;
  border: solid 1px #696969;
  background: url(background.jpg);
}
/* CLICKTAG */
#clicktag-button {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.replay-button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
.text_f1 {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 553px;
  height: 68px;
  top: 15px;
  left: 91px;
  overflow: visible;
}
.word {
  position: relative;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  float: left;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.product {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  left: 100px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.partner-logo {
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.logo {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  bottom: 16px;
  right: 15px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.cta {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  left: 324px;
  top: 32px;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  opacity: 0;
  filter: alpha(opacity=0);
}
