.product {
  width: 300px;
  height: 100px;
  background-position: -1px -1px;
}
.logo {
  width: 124px;
  height: 51px;
  background-position: -303px -1px;
}
.replay-button {
  width: 12px;
  height: 12px;
  background-position: -429px -1px;
}
.text_f1_7 {
  width: 129px;
  height: 37px;
  background-position: -303px -54px;
}
.text_f1_3 {
  width: 129px;
  height: 33px;
  background-position: -303px -93px;
}
.text_f1_8 {
  width: 235px;
  height: 36px;
  background-position: -1px -103px;
}
.text_f1_1 {
  width: 235px;
  height: 33px;
  background-position: -238px -128px;
}
.text_f1_4 {
  width: 235px;
  height: 33px;
  background-position: -1px -141px;
}
.text_f1_5 {
  width: 235px;
  height: 33px;
  background-position: -238px -163px;
}
.text_f1_6 {
  width: 106px;
  height: 37px;
  background-position: -1px -176px;
}
.text_f1_2 {
  width: 106px;
  height: 33px;
  background-position: -109px -176px;
}
.cta {
  width: 250px;
  height: 9px;
  background-position: -217px -198px;
}
.replay_button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* POSITIONING */
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}
#global-container {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 300px;
  height: 250px;
  max-width: 300px;
  max-height: 250px;
  box-sizing: border-box;
  border: solid 1px #696969;
  background: url(background.jpg);
}
/* CLICKTAG */
#clicktag-button {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.replay-button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
.text_f1 {
  display: block;
  overflow: hidden;
  width: 235px;
  height: 205px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  top: 4px;
  left: 4px;
  overflow: visible;
}
.word {
  position: relative;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  float: left;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.product {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 70px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.partner-logo {
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.logo {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  bottom: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  left: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.cta {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 160px;
  left: 2px;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  opacity: 0;
  filter: alpha(opacity=0);
}
