.replay-button {
  width: 12px;
  height: 12px;
  background-position: -1px -1px;
}
.cta {
  width: 135px;
  height: 26px;
  background-position: -15px -1px;
}
.text_f1_1 {
  width: 161px;
  height: 43px;
  background-position: -1px -29px;
}
.text_f1_3 {
  width: 161px;
  height: 44px;
  background-position: -1px -74px;
}
.logo {
  width: 124px;
  height: 53px;
  background-position: -1px -120px;
}
.text_f1_2 {
  width: 161px;
  height: 56px;
  background-position: -1px -175px;
}
.product {
  width: 158px;
  height: 182px;
  background-position: -1px -233px;
}
.replay_button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* POSITIONING */
/************************************************************************************/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}
#global-container {
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 160px;
  height: 600px;
  max-width: 160px;
  max-height: 600px;
  box-sizing: border-box;
  border: solid 1px #696969;
  background: url(background.jpg);
}
/* CLICKTAG */
#clicktag-button {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.replay-button {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  top: 3px;
  right: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
  outline: none;
  cursor: pointer;
  pointer-events: all;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
.text_f1 {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 160px;
  height: 143px;
  top: 210px;
  overflow: visible;
}
.word {
  position: relative;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  float: left;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.product {
  position: absolute;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  opacity: 0;
  filter: alpha(opacity=0);
  top: 149px;
  left: 2px;
}
.partner-logo {
  top: 0px;
  left: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.logo {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  bottom: 37px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  left: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.cta {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(spritesheet.png);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 333px;
  left: 1px;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  opacity: 0;
  filter: alpha(opacity=0);
}
