<section class="notfound-page page">
  <div class="error-page">

       <h1><span class="icon icon-page-error">icon</span>PAGE WAS NOT FOUND</h1>
       <h2>WE'RE SORRY, BUT THE PAGE YOU<br /> REQUESTED COULD NOT BE FOUND</h2>
       <h2>WHAT NOW?</h2>
       <p>
          Click <a href="/#/">here</a> to go back to the home page.
       </p>
</section>
