<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/campaign-blacklabel.jpg" data-section="campaigns" data-title="Black Label">
  <article class="row">
    <h1 class="page-title">Black Label Campaign</h1>
    <p>The Forevermark Black Label Collection includes five shapes, each cut with supreme symmetry to unleash the dazzling light of a Forevermark diamond.<br>
Since the beginning of time mankind has been irresistibly attracted to light and its hypnotic force. Capturing that force seemed impossible. Until now.
    </p>


        <p class="disclaimer">*Black Label campaign assets are only for use by Forevermark Jewelers carrying the Black Label collection.
    </p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Assets</h2>
    <h3 class="subsection-title" data-nav="2">Billboards / Out of Home</h3>
    <h4 class="subsubsection-title" data-nav="3">Billboard Bulletin</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492541282/forevermark/billboards/black label/FM_Partnership_BlackLabel_BillboardBulletin_14x48_Butterfly.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_BillboardBulletin_14x48_Butterfly.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Poster Landscape</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492541245/forevermark/billboards/black label/FM_Partnership_BlackLabel_PosterLandscape_20x10_Butterfly.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_PosterLandscape_20x10_Butterfly.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Email Marketing</h3>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493229397/forevermark/customer-relations/black label/FM_Partnership_BlackLabel_Email_BlackLabelIntroduction.jpg">
    <p class="asset-title">Email</p>
    <p class="asset-type">HTML</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Email_BlackLabelIntroduction.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Digital</h3>
  </article>

  <article class="row asset">
    <h3 class="subsubsection-title" data-nav="3">Ring Stack</h3>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="product160x600" data-campaign="black-label"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487964187/forevermark/banners/black%20label/FM_Partnership_BlackLabel_Digital_160x600_RingStack.png">
    </a>
    <p class="asset-title">Ring Stack 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Digital_160x600_RingStack.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="product300x250" data-campaign="black-label"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487964187/forevermark/banners/black%20label/FM_Partnership_BlackLabel_Digital_300x250_RingStack.png">
    </a>
    <p class="asset-title">Ring Stack 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Digital_300x250_RingStack.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="product300x600" data-campaign="black-label"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487964187/forevermark/banners/black%20label/FM_Partnership_BlackLabel_Digital_300x600_RingStack.png">
    </a>
    <p class="asset-title">Ring Stack 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Digital_300x600_RingStack.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="product970x250" data-campaign="black-label"  data-width="970" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487964187/forevermark/banners/black%20label/FM_Partnership_BlackLabel_Digital_970x250_RingStack.png">
    </a>
    <p class="asset-title">Ring Stack 970x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Digital_970x250_RingStack.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <h3 class="subsubsection-title" data-nav="3">Round Ring</h3>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="single-ring160x600" data-campaign="black-label"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487964168/forevermark/banners/black%20label/FM_Partnership_BlackLabel_Digital_160x600_RoundRing.png">
    </a>
    <p class="asset-title">Round Ring 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Digital_160x600_RoundRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="single-ring300x250" data-campaign="black-label"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487964168/forevermark/banners/black%20label/FM_Partnership_BlackLabel_Digital_300x250_RoundRing.png">
    </a>
    <p class="asset-title">Round Ring 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Digital_300x250_RoundRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="single-ring300x600" data-campaign="black-label"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487964168/forevermark/banners/black%20label/FM_Partnership_BlackLabel_Digital_300x600_RoundRing.png">
    </a>
    <p class="asset-title">Round Ring 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Digital_300x600_RoundRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="single-ring970x250" data-campaign="black-label"  data-width="970" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487964168/forevermark/banners/black%20label/FM_Partnership_BlackLabel_Digital_970x250_RoundRing.png">
    </a>
    <p class="asset-title">Round Ring 970x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Digital_970x250_RoundRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Print</h2>
  </article>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488207648/forevermark/print/black%20label/FM_Partnership_BlackLabel_Print_A4_ProductSquare.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Print_Portrait_Product.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488207649/forevermark/print/black%20label/FM_Partnership_BlackLabel_Print_A4_ProductRound.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Print_Portrait_Product.zip" class="asset-download">Download</a>
  </article>
</section>
<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488207648/forevermark/print/black%20label/FM_Partnership_BlackLabel_Print_A4_ProductOval.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Print_Portrait_Product.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488207649/forevermark/print/black%20label/FM_Partnership_BlackLabel_Print_A4_ProductCushion.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Print_Portrait_Product.zip" class="asset-download">Download</a>
  </article>
</section>
<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490205551/forevermark/print/black label/FM_Black_Label_A4_Product_-_BL_copy_-_Partnership_US.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Print_Portrait_Product.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488207648/forevermark/print/black%20label/FM_Partnership_BlackLabel_Print_A4_Butterfly5Product.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_Print_A4_Butterfly5Product.zip" class="asset-download">Download</a>
  </article>
</section>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Social Media</h2>
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
      <p class="asset-title">Suggested Copy</p>
      <a data-file="campaigns/black-label/FM_Partnership_BlackLabel_SocialMedia_SuggestedSocialCopy.docx" class="asset-download">Download</a>
      <p>For additional suggestions or for copy approval:</h2>
      <p>Please contact Kate Rogowski (<a href="mailto: kate.rogowski@forevermark.com">kate.rogowski@forevermark.com</a>) or Shaina Vlaun (<a href="mailto: shaina.vlaun@forevermark.com">shaina.vlaun@forevermark.com</a>)</p>
    </article>
  </article>


<article class="row asset">
  <h3 class="subsubsection-title" data-nav="3">Facebook</h3>
</article>
<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210491/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_Facebook1200x628_ButterflyCollectionHeroRing.jpg">
    <p class="asset-title">Facebook</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Facebook1200x628_ButterflyCollectionHeroRing.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210491/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_Facebook1200x628_ButterflyForLightLoversHeroRing.jpg">
    <p class="asset-title">Facebook</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Facebook1200x628_ButterflyForLightLoversHeroRing.jpg" class="asset-download">Download</a>
  </article>
</section>
<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210491/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_Facebook1200x628_ButterflyHeroRing.jpg">
    <p class="asset-title">Facebook</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Facebook1200x628_ButterflyHeroRing.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210491/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_Facebook1200x628_ButterflyRingStack.jpg">
    <p class="asset-title">Facebook</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Facebook1200x628_ButterflyRingStack.jpg" class="asset-download">Download</a>
  </article>
</section>


  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488214561/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_FacebookHeader_3RingCluster.jpg">
    <p class="asset-title">Facebook</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookHeader_3RingCluster.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488214561/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_FacebookHeader_3RingLine.jpg">
    <p class="asset-title">Facebook</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookHeader_3RingLine.jpg" class="asset-download">Download</a>
  </article>


  <article class="row asset">
    <h3 class="subsubsection-title" data-nav="3">Facebook Organic</h3>
  </article>
<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488214927/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_IntroducingCollectionOvalRing.jpg">
    <p class="asset-title">Facebook Organic</p>
    <p class="asset-type">1200x900</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_IntroducingCollectionOvalRing.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488214925/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_CompassOfLightCushion.jpg">
    <p class="asset-title">Facebook Organic</p>
    <p class="asset-type">1200x900</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_CompassOfLightCushion.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488214925/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_CompassOfLightRound.jpg">
    <p class="asset-title">Facebook Organic</p>
    <p class="asset-type">1200x900</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_CompassOfLightRound.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488214926/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_DiscoverCollection4Stones.jpg">
    <p class="asset-title">Facebook Organic</p>
    <p class="asset-type">1200x900</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_DiscoverCollection4Stones.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488214926/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_FindTheOne3Rings.jpg">
    <p class="asset-title">Facebook Organic</p>
    <p class="asset-type">1200x900</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_FindTheOne3Rings.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488214925/forevermark/social/facebook/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_ForLightLoversOnlyCushionRing.jpg">
    <p class="asset-title">Facebook Organic</p>
    <p class="asset-type">1200x900</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookOrganic1200x900_ForLightLoversOnlyCushionRing.jpg" class="asset-download">Download</a>
  </article>
</section>


<article class="row asset">
  <h3 class="subsubsection-title" data-nav="3">Facebook Paid</h3>
</article>
<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216389/forevermark/social/facebook/black%20label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_BeautifulRareResponsible3Ring.jpg">
    <p class="asset-title">Facebook Paid</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_BeautifulRareResponsible3Ring.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216388/forevermark/social/facebook/black%20label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_BeautifulRareResponsible4Stone.jpg">
    <p class="asset-title">Facebook Paid</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_BeautifulRareResponsible4Stone.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216389/forevermark/social/facebook/black%20label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_DiscoverCollection4Stones.jpg">
    <p class="asset-title">Facebook Paid</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_DiscoverCollection4Stones.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216389/forevermark/social/facebook/black%20label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_FindTheOne3Ring.jpg">
    <p class="asset-title">Facebook Paid</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_FindTheOne3Ring.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216389/forevermark/social/facebook/black%20label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_ForLightLoversCushionRing.jpg">
    <p class="asset-title">Facebook Paid</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_ForLightLoversCushionRing.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216389/forevermark/social/facebook/black%20label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_IntroducingCollectionOvalRing.jpg">
    <p class="asset-title">Facebook Paid</p>
    <p class="asset-type">1200x628</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_FacebookPaid1200x628_IntroducingCollectionOvalRing.jpg" class="asset-download">Download</a>
  </article>
</section>


<article class="row asset">
  <h3 class="subsubsection-title" data-nav="3">Instagram</h3>
</article>
<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488213494/forevermark/social/instagram/FM_Brand_BlackLabel_SocialMedia_Instagram600x600_ButterflyCollectionHeroRing.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">600x600</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram600x600_ButterflyCollectionHeroRing.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488213495/forevermark/social/instagram/FM_Brand_BlackLabel_SocialMedia_Instagram600x600_ButterflyHeroRing.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">600x600</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram600x600_ButterflyHeroRing.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488213495/forevermark/social/instagram/FM_Brand_BlackLabel_SocialMedia_Instagram600x600_ButterflyRingStack.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">600x600</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram600x600_ButterflyRingStack.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216563/forevermark/social/instagram/black%20label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_4Stones.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">1080x1080</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_4Stones.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216565/forevermark/social/instagram/black%20label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_BeautifulRareResponsible3Rings.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">1080x1080</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_BeautifulRareResponsible3Rings.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216563/forevermark/social/instagram/black%20label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_CompassOfLightCushion.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">1080x1080</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_CompassOfLightCushion.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216564/forevermark/social/instagram/black%20label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_CompassOfLightRound.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">1080x1080</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_CompassOfLightRound.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216565/forevermark/social/instagram/black%20label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_FindTheOne3Rings.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">1080x1080</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_FindTheOne3Rings.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216563/forevermark/social/instagram/black%20label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_ForLightLoversCushionRing.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">1080x1080</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_ForLightLoversCushionRing.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488216563/forevermark/social/instagram/black%20label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_IntroducingCollectionOvalRing.jpg">
    <p class="asset-title">Instagram</p>
    <p class="asset-type">1080x1080</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Instagram1080x1080_IntroducingCollectionOvalRing.jpg" class="asset-download">Download</a>
  </article>
</section>


<article class="row asset">
  <h3 class="subsubsection-title" data-nav="3">Twitter</h3>
</article>
<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488213768/forevermark/social/twitter/FM_Brand_BlackLabel_SocialMedia_Twitter800x320ButterflyHeroRing.jpg">
    <p class="asset-title">Twitter</p>
    <p class="asset-type">800x320</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Twitter800x320ButterflyHeroRing.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488213767/forevermark/social/twitter/FM_Brand_BlackLabel_SocialMedia_Twitter800x320_ButterflyCollectionHeroRing.jpg">
    <p class="asset-title">Twitter</p>
    <p class="asset-type">800x320</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Twitter800x320_ButterflyCollectionHeroRing.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488213767/forevermark/social/twitter/FM_Brand_BlackLabel_SocialMedia_Twitter800x320_ButterflyRingStack.jpg">
    <p class="asset-title">Twitter</p>
    <p class="asset-type">800x320</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Twitter800x320_ButterflyRingStack.jpg" class="asset-download">Download</a>
  </article>
</section>


<article class="row asset">
  <h3 class="subsubsection-title" data-nav="3">Twitter Organic</h3>
</article>
<section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488218027/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic1200x1000_ForLightLoversOnly3Rings.jpg">
      <p class="asset-title">Twitter Organic</p>
      <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic2000x1000_ForLightLoversOnly3Rings.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488218027/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic2000x1000_BeautifulRareResponsible3Rings.jpg">
      <p class="asset-title">Twitter Organic</p>
      <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic2000x1000_BeautifulRareResponsible3Rings.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488218027/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic2000x1000_DiscoverCollection4Stones.jpg">
      <p class="asset-title">Twitter Organic</p>
      <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic2000x1000_DiscoverCollection4Stones.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488218027/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic2000x1000_ForLightLoversOnlyCushionRing.jpg">
      <p class="asset-title">Twitter Organic</p>
      <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic2000x1000_ForLightLoversOnlyCushionRing.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488218027/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic2000x1000_IntroducingCollectionOvalRing.jpg">
      <p class="asset-title">Twitter Organic</p>
      <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterOrganic2000x1000_IntroducingCollectionOvalRing.jpg" class="asset-download">Download</a>
    </article>
  </section>


<article class="row asset">
  <h3 class="subsubsection-title" data-nav="3">Twitter Paid</h3>
</article>
<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488223743/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_BeautifulRareResponsible3Rings.jpg">
    <p class="asset-title">Twitter Paid</p>
    <p class="asset-type">800x320</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_BeautifulRareResponsible3Rings.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488223698/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_BeautifulRareResponsible4Stones.jpg">
    <p class="asset-title">Twitter Paid</p>
    <p class="asset-type">800x320</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_BeautifulRareResponsible4Stones.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488223744/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_DiscoverCollection4Stones.jpg">
    <p class="asset-title">Twitter Paid</p>
    <p class="asset-type">800x320</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_DiscoverCollection4Stones.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488223744/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_FineTheOne3Rings.jpg">
    <p class="asset-title">Twitter Paid</p>
    <p class="asset-type">800x320</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_FineTheOne3Rings.jpg" class="asset-download">Download</a>
  </article>
</section>

<section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488223743/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_ForLightLoversCushionRings.jpg">
    <p class="asset-title">Twitter Paid</p>
    <p class="asset-type">800x320</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_ForLightLoversCushionRings.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488223744/forevermark/social/twitter/black%20label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_IntroducingCollectionOvalRing.jpg">
    <p class="asset-title">Twitter Paid</p>
    <p class="asset-type">800x320</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_TwitterPaid800x320_IntroducingCollectionOvalRing.jpg" class="asset-download">Download</a>
  </article>
</section>


<article class="row asset">
  <h3 class="subsubsection-title" data-nav="3">Social Video</h3>
</article>
  <article class="row asset video">
    <div class='embed-container'>
      <iframe data-embed="https://player.vimeo.com/video/205900287" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Multiple Shapes Loop</p>
    <p class="asset-type">MP4</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Video_MultipleShapeLoop.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class='embed-container'>
      <iframe data-embed="https://player.vimeo.com/video/205901801" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Oval</p>
    <p class="asset-type">MP4</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Video_Oval.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class='embed-container'>
      <iframe data-embed="https://player.vimeo.com/video/205900405" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Round</p>
    <p class="asset-type">MP4</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Video_Round.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class='embed-container'>
      <iframe data-embed="https://player.vimeo.com/video/205900310" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Square</p>
    <p class="asset-type">MP4</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_SocialMedia_Video_Square.mp4" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Website</h2>
    <h3 class="subsubsection-title" data-nav="3">Video</h2>
  </article>

  <article class="row asset video">
    <div class='embed-container'>
      <iframe data-embed="https://player.vimeo.com/video/206610306" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">45 Second</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_Website_Video_JonnieConsumer.mov" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class='embed-container'>
      <iframe data-embed="https://player.vimeo.com/video/206593617" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">60 Second</p>
    <a data-file="campaigns/black-label/FM_Brand_BlackLabel_Website_Video_60SecondDiamond.mp4" class="asset-download">Download</a>
  </article>



    <article class="row">
      <h3 class="subsection-title" data-nav="3">Imagery</h2>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488557228/forevermark/website/black%20label/FM_Brand_BlackLabel_Website_ButterflyHeroRingImage.png">
      <p class="asset-title">Hero Image</p>

      <a data-file="campaigns/black-label/FM_Brand_BlackLabel_Website_ButterflyHeroRingImage.tif" class="asset-download">Download</a>
    </article>
    <article class="row asset" >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488557090/forevermark/website/black%20label/Black_Label_Product_Images.png">
      <p class="asset-title">Product Images</p>
      <a data-file="campaigns/black-label/Black Label Product Images.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488557091/forevermark/website/black%20label/Black_Label_Loose_Images.png">
      <p class="asset-title">Loose Images</p>
      <a data-file="campaigns/black-label/Black Label Loose Images.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
      <p class="asset-title">Jeweler Guide</p>
      <p class="asset-type">Copy Suggestions</p>
      <a data-file="campaigns/black-label/OP_Forevermark Jeweler Black Label Website Copy.docx" class="asset-download">Download</a>
    </article>


  <article class="row asset">
    <h2 class="section-title" data-nav="1">Product</h2>
    <h3 class="subsection-title" data-nav="2">Merchandising Mix</h3>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488570429/forevermark/product/black-label/Screen_Shot_2017-03-03_at_2.46.26_PM.png">
    <p class="asset-title">Download Full Product Mix</p>
    <a data-file="campaigns/black-label/FM_BlackLabel_Merchandising_Mix.pdf" class="asset-download">Download</a>
  </article>
</section>
