<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/marketing-guidelines.jpg" data-section="Marketing" data-title="Brand Guidelines">
  <article class="row">
    <h1 class="section-title" data-nav="1">Wordmark</h1>
    <p>Our new wordmark, below, has been redesigned to put the diamond at the forefront of everything we do. We will be using this new wordmark for all future communications.</p>
  </article>
  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/q_100/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon">

    <p class="asset-title">Logo & Guidelines</p>
    <a data-file="marketing/brand-guidelines/FM_BrandGuidelines.zip" class="asset-download">Download</a>
  </article>
  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Components</h3>
    <p>The Forevermark wordmark consists of three elements:</p>
    <ol>
      <li>The diamond icon</li>
      <li>"Forevermark" brand name</li>
      <li>"A Diamond Is Forever" heritage line</li>
    </ol>
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865641/forevermark/misc/Component_Guides.png" alt="Lockup Guides">

  </article>
  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Lock-Up</h3>
    <p>
      The three wordmark elements must always be used together, as shown here. The relative size, position and spacing of each element must always remain the same,
      to reinforce the brand identity through consistent application.
    </p>
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865551/forevermark/misc/Lockup_Guides_1x.png">
    <p>
      Never separate the three wordmark elements or use different combinations of the elements. Examples of wrong usage and combinations shown below.
    </p>
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865750/forevermark/misc/Misuse_Guides.png">
  </article>
  <article class="row asset copy">
    <h3 class="subsection-title" data-nav="2">Colour and Clear Zone</h3>
    <p>
      The wordmark must always be reproduced in solid black. Never tint or colour any of the three elements. Always apply the wordmark to a white background, if possible.
    </p>
    <p>
      Always maintain a minimum “clear zone” when applying the wordmark (indicated by the blue line), to maintain the purity of the Forevermark brand.
    </p>
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865688/forevermark/misc/ClearZone_Guides.png">
  </article>
</section>
