<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/marketing-content.jpg" data-section="Marketing" data-title="Content Acquisition + Approvals">
  <article class="row">
    <h1 class="section-title" data-nav="1">Content Acquisitions</h1>
    <p>
      Production files for partnership creative can be found within each campaign
      subsection.  Magazine, newspaper, and out of home creative templates are
      available in InDesign file packages.  Display banners are provided in html5
      format and include tagging instructions.  Prerecorded radio spots are available;
      scripts can also be downloaded if other voice over talent is preferred.
      Tagged TV* can be acquired through our production partner, 3rd Strand.
      Please refer to the assets within each Campaign for ordering information.
    </p>
    <p>
      *Fees may apply
    </p>
  </article>
  <article class="row">
    <h1 class="section-title" data-nav="1">Approvals</h1>
    <p>
      All usage of Forevermark intellectual property (including but not limited
      to the Forevermark wordmark, images, and creative templates), whether eligible
      or ineligible for co-op reimbursement, must be pre-approved by Forevermark.
      Failure to receive pre-approval may disqualify activity for co-op eligibility.
      For approval, please <a href="https://jewellermanagement.forevermark.com/en-US/marketing-and-support/forevermark-us-office-contacts/" target="_blank">contact</a>
      your Marketing Representative.
    </p>
  </article>
</section>
