<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1492696020/forevermark/nav/Campaigns_EarthDay.jpg" data-section="campaigns" data-title="Earth Day">

  <article class="row">
    <h1 class="page-title">Earth Day Campaign</h1>
    <p>In honor of Earth Day, join us in celebrating the beauty of our natural world, the ultimate source of Forevermark diamonds. Our passion for diamonds is matched by our deep sense of connection with the environment, which we are dedicated to protecting for future generations.</p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Assets</h2>
    <h3 class="subsection-title" data-nav="2">Social Media</h3>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
    <p class="asset-title">Jeweler Guide</p>
    <p class="asset-type">Copy Suggestions</p>
    <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_CopySuggestions.pdf" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Facebook</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694807/forevermark/social/facebook/earth-day/FM_Brand_EarthDay17_SocialMedia_Facebook_Rhino.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Facebook_Rhino.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694806/forevermark/social/facebook/earth-day/FM_Brand_EarthDay17_SocialMedia_Facebook_Giraffe.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Facebook_Giraffe.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694807/forevermark/social/facebook/earth-day/FM_Brand_EarthDay17_SocialMedia_Facebook_Cheetah.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Facebook_Cheetah.png" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Instagram</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694847/forevermark/social/instagram/earth-day/FM_Brand_EarthDay17_SocialMedia_Instagram_Rhino.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Instagram_Rhino.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694847/forevermark/social/instagram/earth-day/FM_Brand_EarthDay17_SocialMedia_Instagram_Cheetah.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Instagram_Cheetah.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694846/forevermark/social/instagram/earth-day/FM_Brand_EarthDay17_SocialMedia_Instagram_Giraffe.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Instagram_Giraffe.png" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Pinterest</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694884/forevermark/social/instagram/earth-day/FM_Brand_EarthDay17_SocialMedia_Pinterest_Rhino.png">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Pinterest_Rhino.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694884/forevermark/social/instagram/earth-day/FM_Brand_EarthDay17_SocialMedia_Pinterest_Cheetah.png">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Pinterest_Cheetah.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694884/forevermark/social/instagram/earth-day/FM_Brand_EarthDay17_SocialMedia_Pinterest_Giraffe.png">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Pinterest_Giraffe.png" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Twitter</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694933/forevermark/social/twitter/earth-day/FM_Brand_EarthDay17_SocialMedia_Twitter_Rhino.png">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Twitter_Rhino.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694933/forevermark/social/twitter/earth-day/FM_Brand_EarthDay17_SocialMedia_Twitter_Cheetah.png">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Twitter_Cheetah.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492694932/forevermark/social/twitter/earth-day/FM_Brand_EarthDay17_SocialMedia_Twitter_Giraffe.png">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/earth-day/FM_Brand_EarthDay17_SocialMedia_Twitter_Giraffe.png" class="asset-download">Download</a>
    </article>
  </section>

</section>
