<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/campaign-ever-us.jpg" data-section="campaigns" data-title="Ever Us">

  <article class="row">
    <h1 class="page-title">Ever Us Two Stone Campaign</h1>
    <p>The Ever Us two stone design represents two individuals coming together to create a powerful bond built on love and friendship. Together they shine twice as bright.</p>
    <p>The design features two Forevermark diamonds, of the same size, equally rare and beautiful, to perfectly celebrate a couple's relationship.</p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Assets</h2>
    <h3 class="subsection-title" data-nav="2">Billboards / Out of Home</h3>
    <h4 class="subsubsection-title" data-nav="3">Billboard Bulletin</h4>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487712096/forevermark/billboards/FM_Brand_Billboard_Partnership_TwoStone_Lifestlye_EVERUS_KL100.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_BillboardBulletin_14'x48'_LifestyleAndRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487367977/forevermark/billboards/ever-us/FM_Brand_Billboard_Partnership_TwoStone_Ring_EVERUS_KL100.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_BillboardBulletin_14'x48'_Ring.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Poster Landscape</h4>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487367991/forevermark/billboards/ever-us/FM_Brand_OOH_Landscape_Partnership_TwoStone_Lifestyle_EVERUS_KL100.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_PosterLandscape_10'x20'_LifestyleAndRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487367988/forevermark/billboards/ever-us/FM_Brand_OOH_Landscape_Partnership_TwoStone_Ring_EVERUS_KL100.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_PosterLandscape_10'x20'_2StoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Poster Portrait</h4>
  </article>

  <article class="row asset"  data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487367989/forevermark/billboards/ever-us/FM_Brand_OOH_Portrait_Partnership_TwoStone_Lifestyle_EVERUS_KL100.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_PosterPortrait_20'x10'_LifestyleAndRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487367988/forevermark/billboards/ever-us/FM_Brand_OOH_Portrait_Partnership_TwoStone_Ring_EVERUS_KL100.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_PosterPortrait_20'x10'_2StoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Email Marketing</h2>
  </article>

  <article class="row asset"  data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487368375/forevermark/customer-relations/ever-us/Ever_Us_-_Partnership_Email_Example.png">
    <p class="asset-title">Email</p>
    <p class="asset-type">HTML</p>
    <a data-file="campaigns/ever-us/FM_Partnership_CRM_Email_Lifestyle&Product.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Digital</h2>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="twostone_728x90.html" data-dimension="728x90" data-campaign="ever-us"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487364677/forevermark/banners/ever-us/728x90.jpg">
    </a>
    <p class="asset-title">728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Digital_728x90_Lifestyle&Ring.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="twostone_320x50.html" data-dimension="320x50" data-campaign="ever-us"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487364677/forevermark/banners/ever-us/320x50.jpg">
    </a>
    <p class="asset-title">320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Digital_320x50_Lifestyle&Ring.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="twostone_300x600.html" data-dimension="300x600" data-campaign="ever-us"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487364677/forevermark/banners/ever-us/300x600.jpg">
    </a>
    <p class="asset-title">300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Digital_300x600_Lifestyle&Ring.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="twostone_300x250.html" data-dimension="300x250" data-campaign="ever-us"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487364677/forevermark/banners/ever-us/300x250.jpg">
    </a>
    <p class="asset-title">300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Digital_300x250_Lifestyle&Ring.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="twostone_300x50.html" data-dimension="300x50" data-campaign="ever-us"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487364677/forevermark/banners/ever-us/300x50.jpg">
    </a>
    <p class="asset-title">300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Digital_300x50_Lifestyle&Ring.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="twostone_160x600.html" data-dimension="160x600" data-campaign="ever-us"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487364677/forevermark/banners/ever-us/160x600.jpg">
    </a>
    <p class="asset-title">160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Digital_160x600_Lifestyle&Ring.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Print</h2>
    <h4 class="subsubsection-title" data-nav="3">Newspaper</h4>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487368566/forevermark/print/ever-us/FM_Brand_Partnership_News_TwoStone_Ring_EVERUS_KL100.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Print_Newspaper_RingProduct.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487368566/forevermark/print/ever-us/FM_Brand_Partnership_News_TwoStone_Lifestyle_EVERUS_KL100.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Print_Newspaper_Lifestyle&Product.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Portrait</h4>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487368567/forevermark/print/ever-us/FM_Brand_Partnership_Portrait_TwoStone_Ring_EVERUS_KL100.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Print_Portrait_RingProduct.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487368567/forevermark/print/ever-us/FM_Brand_Partnership_Portrait_TwoStone_Lifestyle_EVERUS_KL100.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Print_Portrait_Lifestyle&Product.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Spread</h4>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487368567/forevermark/print/ever-us/FM_Brand_Partnership_Spread_TwoStone_Ring_EVERUS_KL100.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Print_Spread_RingProduct.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487368569/forevermark/print/ever-us/FM_Brand_Partnership_Spread_TwoStone_Lifestyle_EVERUS_KL100.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/ever-us/FM_Partnership_EverUs_Print_Spread_Lifestyle&Product.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Radio</h2>
  </article>

  <article class="row asset">
    <div class="aplayer" data-audio="https://s3-us-west-2.amazonaws.com/resp-forevermark/campaigns/ever-us/radio/BANG_Forevermark_Ever+Us_30_Radio_Fullmix.wav" data-thumbnail="https://res.cloudinary.com/response-mktg/image/upload/w_450/q_auto/v1487711564/forevermark/website/ever-us/Shot_01_189_DEF-sm.jpg"></div>
    <p class="asset-title">:30 Second</p>
    <a data-file="campaigns/ever-us/FM_EVER_US_Radio.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Social Media</h2>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
    <p class="asset-title">Jeweler Guide</p>
    <p class="asset-type">Copy Suggestions</p>
    <a data-file="campaigns/ever-us/jeweler_guide.docx" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Facebook</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689951/forevermark/social/facebook/ever-us/ring-fb-2.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_LifestyleHeadsRing.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689952/forevermark/social/facebook/ever-us/ring-fb-3.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_LifestyleParkEarrings.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689951/forevermark/social/facebook/ever-us/ring-fb-4.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_LifestyleFemaleRing.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689951/forevermark/social/facebook/ever-us/ring-fb-5.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_LifestyleCuddlePendant.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689952/forevermark/social/facebook/ever-us/ring-fb-6.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_LifestyleFemalePendant.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689952/forevermark/social/facebook/ever-us/ring-fb-7.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_LifestyleFemaleEarrings.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689952/forevermark/social/facebook/ever-us/ring-fb-8.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_LifestyleParkRing.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689955/forevermark/social/facebook/ever-us/orecchini.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_ProductEarrings.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689954/forevermark/social/facebook/ever-us/pendente.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_ProductPendant.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487689955/forevermark/social/facebook/ever-us/prodotto-anello-fb.png">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Facebook_ProductRing.png" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Instagram</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690333/forevermark/social/instagram/ever-us/ring-ins-2.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_LifestyleCuddleRing.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690330/forevermark/social/instagram/ever-us/ring-ins-3.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_LifestyleParkEarrings.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690331/forevermark/social/instagram/ever-us/ring-ins-4.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_LifestyleFemalePendant.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690330/forevermark/social/instagram/ever-us/ring-ins-5.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_LifestyleCuddlePendant.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690332/forevermark/social/instagram/ever-us/ring-ins.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_LifestyleHeadsRing.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690341/forevermark/social/instagram/ever-us/groupage.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_ProductPendantRingEarrings.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690726/forevermark/social/instagram/ever-us/groupage1.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_ProductRingEarrings.tif" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img  data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690338/forevermark/social/instagram/ever-us/orecchini.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_ProductEarrings.png" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690338/forevermark/social/instagram/ever-us/pendente.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_ProductPendant.png" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690340/forevermark/social/instagram/ever-us/prodotto-anello-fb.png">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Instagram_ProductRing.png" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Pinterest</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487690895/forevermark/social/pinterest/ever-us/Ever_Us_Pinterest_1.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Pinterest_LifestyleHeadsRing.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Twitter</h4>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487691001/forevermark/social/twitter/ever-us/pendant-tw.png">
    <p class="asset-title">Twitter</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Twitter_LifestyleFemalePendant.png" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img  data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487691000/forevermark/social/twitter/ever-us/pendant-tw-2.png">
    <p class="asset-title">Twitter</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Twitter_LifestyleParkPendant.png" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487691001/forevermark/social/twitter/ever-us/pendant-tw-3.png">
    <p class="asset-title">Twitter</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Twitter_LifestyleCoupleRing.png" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487691001/forevermark/social/twitter/ever-us/pendant-tw-4.png">
    <p class="asset-title">Twitter</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Twitter_LifestyleFemaleRing.png" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487691001/forevermark/social/twitter/ever-us/pendant-tw-5.png">
    <p class="asset-title">Twitter</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Twitter_LifestyleCuddleEarrings.png" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487691001/forevermark/social/twitter/ever-us/pendant-tw-6.png">
    <p class="asset-title">Twitter</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Twitter_LifestyleFemaleEarrings.png" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487691005/forevermark/social/twitter/ever-us/earrings-tw_7.png">
    <p class="asset-title">Twitter</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Twitter_ProductEarrings.png" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487691004/forevermark/social/twitter/ever-us/pendant-tw-9.png">
    <p class="asset-title">Twitter</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Twitter_ProductPendant.png" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487691004/forevermark/social/twitter/ever-us/ring-tw-8.png">
    <p class="asset-title">Twitter</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_SocialMedia_Twitter_ProductRing.png" class="asset-download">Download</a>
  </article>


  <article class="row">
    <h2 class="subsection-title" data-nav="2">TV</h2>
    <p>To order the Ever Us&#8482; Two Stone commercial tagged with your store logo <a href="https://www.3rdstrandllc.com/fm-ever-us/" target="_blank">click here</a>.</p>
  </article>

  <article class="row asset video">
    <div class='embed-container'>
      <iframe data-embed="https://player.vimeo.com/video/204604411" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">45 Second</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_TV_45Second.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/204604397" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">30 Second</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_TV_30Second.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class='embed-container'>
      <iframe data-embed="https://player.vimeo.com/video/204604383" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">15 Second</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_TV_15Second.mp4" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Website</h2>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Forevermark Brand Signature</h4>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487695658/forevermark/website/ever-us/Ever_Us_TM_black.jpg">
    <p class="asset-title">Ever Us Logo</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_Website_EverUsLogos.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487695658/forevermark/website/ever-us/FM_outline_lock_up_new.jpg">
    <p class="asset-title">Forevermark Logo</p>
    <a data-file="campaigns/ever-us/FM_Brand_EverUs_Website_FMLogo&LockUpGuide.zip" class="asset-download">Download</a>
  </article>


  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Website Imagery</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488487873/forevermark/website/ever-us/Ever_Us_Two_Stone_Product.png">
    <p class="asset-title">Two Stone Imagery</p>
    <p class="asset-type">Print | Web</p>
    <a data-file="campaigns/ever-us/Ever Us Two Stone Product.zip"class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488487880/forevermark/website/ever-us/Lifestyle_Visual.jpg">
    <p class="asset-title">Lifstyle Imagery</p>
    <p class="asset-type">Print | Web</p>
    <a data-file="campaigns/ever-us/Lifestyle Visual.zip"class="asset-download">Download</a>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon"/>
      <p class="asset-title">Banner Ads</p>
      <p class="asset-type">Collected</p>
      <a data-file="campaigns/ever-us/Ever_Us_Banner_Ads.pdf" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon"/>
      <p class="asset-title">Print Ads</p>
      <p class="asset-type">Collected</p>
      <a data-file="campaigns/ever-us/FM_Brand_TwoStone_Ring_Ads_EVERUS.pdf" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon"/>
      <p class="asset-title">Lifestyle Ads</p>
      <p class="asset-type">Collected</p>
      <a data-file="campaigns/ever-us/FM_Brand_TwoStone_Lifestlye_Ads_EVERUS.pdf" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h2 class="section-title" data-nav="1">Campaign Guidelines</h2>
  </article>

  <article class="row copy">
    <h4>Ever Us Logo & Language Guidelines (Online)</h4>
    <p>
      The approved Ever Us&#8482; logo should always be present on each product information page and on
      the product landing page for Forevermark Ever Us product.
    </p>
    <p>
      The first time "Ever Us" appears in type font, it should always be accompanied with the trademark symbol: &#8482;.
    </p>
    <p>
      "Ever Us is a trademark used under license by Signet Jewelers" language should always be present on the product
      information page for each Forevermark Ever Us product.
    </p>
    <p>
      The Ever Us "One diamond for your Best Friend&#8482;, One diamond for your True Love&#8482;." trademarked copy
      lines should always be included on the product information page for each Forevermark Ever Us Product.
    </p>
  </article>

  <article class="row copy asset">
    <h4>Ever Us Logo & Language Guidelines (All Other Executions)</h4>
    <p>
      All Forevermark Ever Us marketing materials, including but limited to (story cards, counter cards, banners, catalogs, handouts, in-case signage, etc.)
      should include the following: <br>
      The approved Ever Us&#8482; logo should always be present when showcasing or referencing Forevermark Ever Us product.
    </p>
    <p>
      The first time "Ever Us" appears in type font, it should always be accompanied with the trademark symbol: &#8482;.
    </p>
    <p>
      "Ever Us is a trademark used under license by Signet Jewelers" language should always be present within the execution.
    </p>
    <p>
      The Ever Us "One diamond for your Best Friend&#8482;, One diamond for your True Love&#8482;." trademarked copy
      lines should always be included in every execution.
    </p>

    <a href="" class="asset-download">Download Guidelines</a>

  </article>


  <article class="row">
    <h2 class="section-title" data-nav="1">Product</h2>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Merchandising Mix</h3>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487779712/forevermark/product/ever-us/Ever_Us_Campaign_Selections.png">
    <p class="asset-title">Download Full Product Mix</p>
    <a data-file="campaigns/ever-us/ever_us_campaign_selections.pdf" class="asset-download">Download</a>
  </article>

</section>
