<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/campaign-exceptionals.jpg" data-section="campaigns" data-title="Exceptionals">
  <article class="row">
    <h1 class="page-title">Exceptionals Campaign</h1>
    <p>Forevermark is built on the promise that each diamond to earn our inscription must be beautiful, rare and responsibly sourced. The Exceptional Diamond Collection represents the pinnacle of that promise:some of the earth's most magnificent creations, in carat weights that demonstrate just how magical and stunning nature's beauty can be. Few diamonds will ever reach this echelon.
    </p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Assets</h2>
    <h2 class="subsection-title" data-nav="2">Print</h2>
    <h2 class="subsubsection-title" data-nav="3">Portrait</h2>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492630687/forevermark/print/exceptionals/FM_Partnership_ExceptionalDiamonds__Print_Portrait_Round.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/exceptionals/FM_Partnership_ExceptionalDiamonds_+Print_Portrait_Round.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492630692/forevermark/print/exceptionals/FM_Partnership_ExceptionalDiamonds_Print_Portrait_Asscher.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/exceptionals/FM_Partnership_ExceptionalDiamonds_Print_Portrait_Asscher.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Social Media</h2>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
    <p class="asset-title">Suggested Copy</p>
    <a data-file="campaigns/exceptionals/FM_Partnership_Exceptionals_SocialMedia_SuggestedSocialCopy.docx" class="asset-download">Download</a>
    <p>For additional suggestions or for copy approval:</h2>
    <p>Please contact Kate Rogowski (<a href="mailto: kate.rogowski@forevermark.com">kate.rogowski@forevermark.com</a>) or Shaina Vlaun (<a href="mailto: shaina.vlaun@forevermark.com">shaina.vlaun@forevermark.com</a>)</p>
  </article>

  <article class="row asset" data-expand >
    <h4 class="subsubsection-title" data-nav="3">Facebook</h4>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487953218/forevermark/social/facebook/exceptionals/FM_Brand_Exceptionals_SocialMedia_Facebook_EmeraldSolitaireRing.jpg">
    <p class="asset-title">Facebook - Emerald Solitaire Ring</p>
    <a data-file="campaigns/exceptionals/FM_Brand_Exceptionals_SocialMedia_Facebook_EmeraldSolitaireRing.jpg" class="asset-download">Download</a>
  </article>


  <article class="row asset" data-expand >
    <h4 class="subsubsection-title" data-nav="3">Instagram</h4>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487953269/forevermark/social/instagram/exceptionals/FM_Brand_Exceptionals_SocialMedia_Instagram_EmeraldSolitaireRing.png">
    <p class="asset-title">Instagram - Emerald Solitaire Ring</p>
    <a data-file="campaigns/exceptionals/FM_Brand_Exceptionals_SocialMedia_Instagram_EmeraldSolitaireRing.png" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <h4 class="subsubsection-title" data-nav="3">Pinterest</h4>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487953303/forevermark/social/pinterest/FM_Brand_Exceptionals_SocialMedia_Pinterest_EmeraldSolitaireRing.jpg">
    <p class="asset-title">Pinterest - Emerald Solitaire Ring</p>
    <a data-file="campaigns/exceptionals/FM_Brand_Exceptionals_SocialMedia_Pinterest_EmeraldSolitaireRing.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <h4 class="subsubsection-title" data-nav="3">Twitter</h4>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487953341/forevermark/social/twitter/FM_Brand_Exceptionals_SocialMedia_Twitter_EmeraldSolitaireRing.jpg">
    <p class="asset-title">Twitter - Emerald Solitaire Ring</p>
    <a data-file="campaigns/exceptionals/FM_Brand_Exceptionals_SocialMedia_Twitter_EmeraldSolitaireRing.jpg" class="asset-download">Download</a>
  </article>


  <article class="row asset" data-expand >
    <h2 class="subsection-title">For additional suggestions or for copy approval:</h2>
    <p>Please contact Kate Rogowski (<a href="mailto: kate.rogowski@forevermark.com">kate.rogowski@forevermark.com</a>) or Shaina Vlaun (<a href="mailto: shaina.vlaun@forevermark.com">shaina.vlaun@forevermark.com</a>)
    </p>
  </article>

</section>
