<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/campaign-yellow-diamond.jpg" data-section="campaigns" data-title="Golden Diamonds">

  <article class="row">
    <h1 class="page-title">Golden Diamonds Campaign</h1>
    <p>Forevermark Golden Diamonds is an exquisitely designed collection of fine jewelry featuring yellow Forevermark diamonds ranging in color from Light Yellow to Fancy Vivid Yellow.  This stunning collection features radiant and cushion shape yellow Forevermark diamonds, each chosen for their individuality and rarity. Every one-of-a-kind piece is handcrafted to capture the warmth and beauty of the center Forevermark Golden Diamond.</p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Assets</h2>
    <h3 class="subsection-title" data-nav="2">Social</h3>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
      <p class="asset-title">Jeweler Guide</p>
      <p class="asset-type">Copy Suggestions</p>
      <a data-file="campaigns/golden-diamonds/FM_Partnership_GoldenDiamonds_SocialMedia_SuggestedSocialCopy.docx" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row asset">
    <h3 class="subsubsection-title" data-nav="3">Social Video</h3>
  </article>
  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/206070423" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">15 Sec Social Media Video</p>
    <p class="asset-type">MP4</p>
    <a data-file="campaigns/golden-diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Video_CushionHaloRing.mp4" class="asset-download">Download</a>
  </article>


  <article class="row asset">
    <h3 class="subsubsection-title" data-nav="3">Facebook</h3>
  </article>
  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1495119628/forevermark/social/facebook/golden diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Facebook_CushionHaloRing.jpg">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/golden-diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Facebook_CushionHaloRing.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292326/forevermark/social/facebook/golden diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Facebook_WishListCushionHaloRing.jpg">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/golden-diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Facebook_WishListCushionHaloRing.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row asset">
    <h3 class="subsubsection-title" data-nav="3">Instagram</h3>
  </article>
  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292440/forevermark/social/instagram/golden diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Instagram_CushionHaloRing.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/golden-diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Instagram_CushionHaloRing.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292438/forevermark/social/instagram/golden diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Instagram_WishListCushionHaloRing.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/golden-diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Instagram_WishListCushionHaloRing.jpg" class="asset-download">Download</a>
    </article>
  </section>


  <article class="row asset">
    <h3 class="subsubsection-title" data-nav="3">Pinterest</h3>
  </article>
  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1495117118/forevermark/social/pinterest/golden diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Pinterest_CushionHaloRing.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/golden-diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Pinterest_CushionHaloRing.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488293040/forevermark/social/pinterest/golden diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Instagram_WishListCushionHaloRing.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/golden-diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Instagram_WishListCushionHaloRing.jpg" class="asset-download">Download</a>
    </article>
  </section>


  <article class="row asset">
    <h3 class="subsubsection-title" data-nav="3">Twitter</h3>
  </article>
  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292537/forevermark/social/twitter/golden diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Twitter_CushionHaloRing.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/golden-diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Twitter_CushionHaloRing.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292537/forevermark/social/twitter/golden diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Twitter_WishListCushionHaloRing.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/golden-diamonds/FB_Brand_GoldenDiamonds_SocialMedia_Twitter_WishListCushionHaloRing.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h2 class="section-title" data-nav="1">Product</h2>
    <h3 class="subsection-title" data-nav="2">Merchandising Mix</h3>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488487900/forevermark/product/golden-diamonds/selections.png">
    <p class="asset-title">Download Full Product Mix</p>
    <a data-file="campaigns/golden-diamonds/FM_Brand_GoldenDiamonds_Product_MerchandisingMix.pdf" class="asset-download">Download</a>
  </article>

</section>
