<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1493308996/forevermark/nav/Campaigns_USA.jpg" data-section="campaigns" data-title="Graduation">
  <article class="row">
    <h1 class="page-title">Graduation Campaign</h1>
    <p>Graduation is one of life’s first great milestones. Celebrate success & new beginnings with the gift of a Forevermark Diamond.</p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Assets</h2>
    <h3 class="subsection-title" data-nav="2">Print</h3>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493324306/forevermark/print/graduation/FM_Partnership_Graduation_Print_Newspaper_StarPendant.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/graduation/FM_Partnership_Graduation_Print_Newspaper_StarPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493324310/forevermark/print/graduation/FM_Partnership_Graduation_Print_Portrait_StarPendant.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/graduation/FM_Partnership_Graduation_Print_Portrait_StarPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493324312/forevermark/print/graduation/FM_Partnership_Graduation_Print_Spread_StarPendant.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/graduation/FM_Partnership_Graduation_Print_Spread_StarPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Print - Canada</h3>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493324537/forevermark/print/graduation/FM_Partnership_Graduation_Print_Portrait_CanadaEN_StarPendant.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/graduation/FM_Partnership_Graduation_Print_Portrait_CanadaEN_StarPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Print - French Canadian</h3>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493324638/forevermark/print/graduation/FM_Partnership_Graduation_Print_Portrait_CanadaFR_StarPendant.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/graduation/FM_Partnership_Graduation_Print_Portrait_CanadaFR_StarPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Social Media</h3>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
    <p class="asset-title">Jeweler Guide</p>
    <p class="asset-type">Copy Suggestions</p>
    <a data-file="campaigns/graduation/FM_Partnership_Graduation_SocialMedia_Final2017GraduationSocialMediaSuggestedCopy.pdf" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Facebook Organic</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310079/forevermark/social/facebook/graduation/organic/FM_Brand_Graduation_SocialMedia_Facebook1200x900_NecklaceandCuff.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Facebook1200x900_NecklaceandCuff.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310079/forevermark/social/facebook/graduation/organic/FM_Brand_Graduation_SocialMedia_Facebook1200x900_NecklaceandStuds.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Facebook1200x900_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310081/forevermark/social/facebook/graduation/organic/FM_Brand_Graduation_SocialMedia_Facebook1200x900_StarPendant.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Facebook1200x900_StarPendant.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Facebook Paid</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310091/forevermark/social/facebook/graduation/paid/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_NecklaceandCuff.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_NecklaceandCuff.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310091/forevermark/social/facebook/graduation/paid/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_NecklaceandStuds.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310091/forevermark/social/facebook/graduation/paid/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_StarPendant.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_StarPendant.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Instagram</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310203/forevermark/social/instagram/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_NecklaceandCuff.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_NecklaceandCuff.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310202/forevermark/social/instagram/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_NecklaceandStuds.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310201/forevermark/social/instagram/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_StarPendant.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_StarPendant.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset video">
      <div class='embed-container'>
        <iframe src="https://player.vimeo.com/video/215043818" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Animation_StarPendant.mp4" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Pinterest</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310234/forevermark/social/pinterest/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_NecklaceandCuff.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_NecklaceandCuff.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310233/forevermark/social/pinterest/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_NecklaceandStuds.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310234/forevermark/social/pinterest/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_StarPendant.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_StarPendant.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Twitter Organic</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310268/forevermark/social/twitter/graduation/organic/FM_Brand_Graduation_SocialMedia_Twitter828x414_NecklaceandCuff.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Twitter828x414_NecklaceandCuff.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310267/forevermark/social/twitter/graduation/organic/FM_Brand_Graduation_SocialMedia_Twitter828x414_NecklaceandStuds.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Twitter828x414_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310269/forevermark/social/twitter/graduation/organic/FM_Brand_Graduation_SocialMedia_Twitter828x414_StarPendant.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Twitter828x414_StarPendant.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Twitter Paid</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310282/forevermark/social/twitter/graduation/paid/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_NecklaceandCuff.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_NecklaceandCuff.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310281/forevermark/social/twitter/graduation/paid/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_NecklaceandStuds.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493310282/forevermark/social/twitter/graduation/paid/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_StarPendant.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_StarPendant.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Social Media - Canada</h3>
    <h3 class="subsubsection-title" data-nav="3">Facebook Organic</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317055/forevermark/social - canada/graduation/facebook/organic/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaEN_Necklace.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaEN_Necklace.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317058/forevermark/social - canada/graduation/facebook/organic/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaEN_NecklaceandDrops.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaEN_NecklaceandDrops.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317054/forevermark/social - canada/graduation/facebook/organic/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaEN_NecklaceandStuds.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaEN_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Facebook Paid</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317069/forevermark/social - canada/graduation/facebook/paid/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaEN_CuffandDrops.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaEN_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317069/forevermark/social - canada/graduation/facebook/paid/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaEN_Necklace.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaEN_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317068/forevermark/social - canada/graduation/facebook/paid/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaEN_NecklaceandStuds.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaEN_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Instagram</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317107/forevermark/social - canada/graduation/instagram/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaEN_CuffandDrops.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaEN_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317107/forevermark/social - canada/graduation/instagram/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaEN_Necklace.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaEN_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317106/forevermark/social - canada/graduation/instagram/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaEN_NecklaceandStuds.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaEN_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset video">
      <div class='embed-container'>
        <iframe src="https://player.vimeo.com/video/215043818" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Animation_StarPendant.mp4" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Pinterest</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317121/forevermark/social - canada/graduation/pinterest/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaEN_CuffandDrops.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaEN_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317122/forevermark/social - canada/graduation/pinterest/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaEN_Necklace.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaEN_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317122/forevermark/social - canada/graduation/pinterest/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaEN_NecklaceandStuds.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaEN_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Twitter Organic</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317172/forevermark/social - canada/graduation/twitter/organic/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaEN_CuffandDrops.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaEN_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317172/forevermark/social - canada/graduation/twitter/organic/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaEN_Necklace.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaEN_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317171/forevermark/social - canada/graduation/twitter/organic/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaEN_NecklaceandStuds.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaEN_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Twitter Paid</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317150/forevermark/social - canada/graduation/twitter/paid/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaEN_CuffandDrops.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaEN_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317150/forevermark/social - canada/graduation/twitter/paid/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaEN_Necklace.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaEN_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493317149/forevermark/social - canada/graduation/twitter/paid/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaEN_NecklaceandStuds.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaEN_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Social Media - French Canadian</h3>
    <h3 class="subsubsection-title" data-nav="3">Facebook Organic</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322176/forevermark/social - french canadian/graduation/facebook/organic/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaFR_CuffandDrops.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaFR_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322176/forevermark/social - french canadian/graduation/facebook/organic/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaFR_Necklace.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaFR_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322176/forevermark/social - french canadian/graduation/facebook/organic/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaFR_NecklaceandStuds.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Facebook1200x900_CanadaFR_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Facebook Paid</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322265/forevermark/social - french canadian/graduation/facebook/paid/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaFR_CuffandDrops.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaFR_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322265/forevermark/social - french canadian/graduation/facebook/paid/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaFR_Necklace.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaFR_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322264/forevermark/social - french canadian/graduation/facebook/paid/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaFR_NecklaceandStuds.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Facebook1200x628_CanadaFR_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Instagram</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322333/forevermark/social - french canadian/graduation/instagram/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaFR_CuffandDrops.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaFR_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322333/forevermark/social - french canadian/graduation/instagram/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaFR_Necklace.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaFR_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322333/forevermark/social - french canadian/graduation/instagram/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaFR_NecklaceandStuds.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Instagram1080x1080_CanadaFR_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset video">
      <div class='embed-container'>
        <iframe src="https://player.vimeo.com/video/215068259" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Animation_StarPendant.mp4" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Pinterest</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322362/forevermark/social - french canadian/graduation/pinterest/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaFR_CuffandDrops.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaFR_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322362/forevermark/social - french canadian/graduation/pinterest/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaFR_Necklace.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaFR_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322362/forevermark/social - french canadian/graduation/pinterest/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaFR_NecklaceandStuds.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Pinterest564x864_CanadaFR_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Twitter Organic</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322286/forevermark/social - french canadian/graduation/twitter/organic/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaFR_CuffandDrops.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaFR_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322286/forevermark/social - french canadian/graduation/twitter/organic/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaFR_Necklace.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaFR_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322285/forevermark/social - french canadian/graduation/twitter/organic/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaFR_NecklaceandStuds.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_SocialMedia_Twitter828x414_CanadaFR_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Twitter Paid</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322308/forevermark/social - french canadian/graduation/twitter/paid/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaFR_CuffandDrops.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaFR_CuffandDrops.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322308/forevermark/social - french canadian/graduation/twitter/paid/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaFR_Necklace.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaFR_Necklace.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493322307/forevermark/social - french canadian/graduation/twitter/paid/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaFR_NecklaceandStuds.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/graduation/FM_Brand_Graduation_PaidSocialMedia_Twitter800x320_CanadaFR_NecklaceandStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>


</section>
