<section class="home-page page">

  <!-- <section class="notification-container">
    <aside class="notification">
      <p>Nihil vero temporibus, ea dignissimos laboriosam molestiae.</p>
      <span class="close"></span>
    </aside>

    <aside class="notification">
      <p>ducimus dolorum! Id reiciendis porro blanditiis obcaecati ut.</p>
      <span class="close"></span>
    </aside>

    <aside class="notification">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <span class="close"></span>
    </aside>
  </section> -->



  <article class="welcome-header">
    <ul class="welcome-parallax">
      <li class="layer" data-depth="0.20" data-background><img src="https://res.cloudinary.com/response-mktg/image/upload/v1487781243/forevermark/misc/welcome_diamond.jpg" /></li>
      <li class="layer" data-depth="0.50"><img src="https://res.cloudinary.com/response-mktg/image/upload/v1488555452/forevermark/misc/welcome_text.png" /></li>
    </ul>
  </article>

  <p class="welcome-intro">
    Every Forevermark diamond undergoes a journey of rigorous selection. This is why less than 1% of the world's
    diamonds are worthy of the Forevermark inscription - our promise of beauty, rarity and responsible sourcing.
  </p>

  <p class="welcome-text">
    This partnership portal consists of information, guidance, and materials
    available only to Authorized Forevermark Jewelers. The campaigns and product
    packages available on this portal mirror or complement the promotional efforts
    that Forevermark runs nationally. Consumers will engage more deeply with the
    Forevermark brand when exposed to national and local Forevermark activity.
    We encourage you to use these materials to leverage our national campaigns,
    increase amplification within your market, and ultimately drive more Forevermark sales.
  </p>

  <a href="https://res.cloudinary.com/response-mktg/image/upload/v1488556395/forevermark/misc/1_March_2017_FMUS_Jeweller_Management_Ts_Cs_FINAL.pdf" target="_blank" class="tandcs">Terms & Conditions</a>

</section>
