<!-- DO NOT REMOVE THE DATA-LOGIN ATTRIBUTE -->
<section class="login-page page" data-login>
  <div class="login-form">
    <form class="login">
      <div class="outline-input">
        <span class="top"></span>
        <span class="sides"></span>
        <input id="username" type="text" placeholder="Username">
        <span class="hint">* Usernames are case-sensitive.</span>
      </div>
      <div class="outline-input">
        <span></span>
        <span></span>
        <input id="password" type="password" placeholder="Password">
      </div>
    </form>
    <button id="login" class="login-submit">Enter</button>
    <span class="error-msg"></span>

  </div>
</section>
