<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1488551423/forevermark/nav/Forevermark-17.jpg" data-section="Marketing" data-title="Marketing Contacts">
<article class="row asset">
    <h1 class="section-title" data-nav="1">Contacts</h1>
    <p>If you have any questions about the Marketing & PR Portal and its assets, please contact your Marketing Representative.</p>
</article>


  <article class="row">
    <div class="contact-info">
      <p class="contact-name">Aaron Lear</p>
      <a href="mailto:aaron.lear @forevermark.com" class="contact-email">aaron.lear @forevermark.com</a>
      <p class="contact-number">203.388.3536</p>
    </div>
  </article>
  <article class="row">
    <div class="contact-info">
      <p class="contact-name">Allison Trombetta</p>
      <a href="mailto:allison.trombetta@forevermark.com" class="contact-email">allison.trombetta@forevermark.com</a>
      <p class="contact-number">203.388.3534</p>
    </div>
  </article>
  <article class="row">
    <div class="contact-info">
      <p class="contact-name">Shaina Vlaun</p>
      <a href="mailto:shaina.vlaun@forevermark.com" class="contact-email">shaina.vlaun@forevermark.com</a>
      <p class="contact-number">203.388.3547</p>
    </div>
  </article>


  <article class="row">
    <h3 class="subsection-title">For Canada specific enquiries, contact:</h3>
    <div class="contact-info">
      <p class="contact-name">Siobhan Howley</p>
      <a href="mailto:siobhan.howley@forevermark.com" class="contact-email">siobhan.howley@forevermark.com</a>
      <p class="contact-number">203.388.3513</p>
    </div>
  </article>


  <article class="row">
    <h3 class="subsection-title">For Public Relations inquiries and questions, contact:</h3>
    <div class="contact-info">
      <p class="contact-name">Erin O’Grady</p>
      <a href="mailto:erin.ogrady@forevermark.com" class="contact-email">erin.ogrady@forevermark.com</a>
      <p class="contact-number">203.388.3546</p>
    </div>
  </article>
  <article class="row">
    <div class="contact-info">
      <p class="contact-name">Kristen Trustey</p>
      <a href="mailto:kristen.trustey@forevermark.com" class="contact-email">kristen.trustey@forevermark.com</a>
      <p class="contact-number">2033.524.5203</p>
    </div>
  </article>
  <article class="row">
    <div class="contact-info">
      <p class="contact-name">Becky Woodford</p>
      <p class="contact-title"></p>
      <a href="mailto:rebecca.woodford@forevermark.com" class="contact-email">rebecca.woodford@forevermark.com</a>
      <p class="contact-number">203.388.3544</p>
    </div>
  </article>



</section>
