<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/marketing-calendar.jpg" data-section="Marketing" data-title="Marketing Calendar">
  <article class="row copy">
    <h1 class="section-title" data-nav="1">April National Advertising Activity</h1>
    <h2 class="subsection-title" data-nav="2">Print</h2>
    <p>Please see below for upcoming print publications and corresponding creative:</p>
    <ul>
      <li>
        Vogue, May Issue (On sale 4/25/17)
        <ul>
          <li>Cluster Ring (Rahaminov)</li>
        </ul>
      </li>
      <li>
        Conde Nast Traveler, May Issue (On sale 4/25/17)
        <ul>
          <li>Center of My Universe® Cushion halo studs</li>
        </ul>
      </li>
      <li>
        W Magazine, May Issue (On sale 4/25/17)
        <ul>
          <li>o	Graduated Stackable Rings (A. Link)</li>
        </ul>
      </li>
    </ul>
  </article>
  <article class="row copy">
    <h2 class="subsection-title" data-nav="2">Digital</h2>
    <p>In April, we target bridal women, bridal men and affluent women with our key brand messages.</p>
    <p>We reach <span class="bold">bridal women</span> with <span class="bold">The One</span> and <span class="bold">Black Label</span> creative on premium websites such as The Knot, Harper’s Bazaar, Town & Country, ELLE, Marie Clare, PureWow, and BBC. This month we’ll feature custom/high impact units on Purewow, BBC, Harper’s Bazaar, Town & Country, ELLE, Marie Clare and <a href="https://www.theknot.com/content/finding-the-perfect-diamond" target="blank">The Knot</a>.</p>
    <p>We target <span class="bold">bridal men</span> with <span class="bold">The One</span> and <span class="bold">Seize the Day</span> creative on Pandora and Zillow. We are also using audience buying to reach men who are searching for a diamond. This month we’ll launch custom/high impact units on Zillow</p>
    <p>We communicate to <span class="bold">affluent women</span> with <span class="bold">The One</span> creative through premium websites such as The Coveteur, Bloomberg, Zillow, Vogue, W, Allure, Brides, Bon Appetit, and more. We’ll target affluent women through high impact/custom units on Bloomberg, Zillow and Conde Nast networks such as Vogue, W, Allure, Bride and Bon Appetit.</p>
    <p>For all three targets, we also advertise on targeted audience buying networks and mobile devices, and run paid search.</p>
    <p>** Our US Media channels include a spill-over into Canada. This varies each month; on average, the spillage includes 9% of Television, 2% of magazines, and 2-5% of digital media. **</p>
  </article>
  <article class="row">
    <h1 class="section-title" data-nav="1">Media Calendar</h1>

    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1493228808/forevermark/marketing-calendar/Media_Calendar_Top_line_KR.png">
    </article>
  </article>

  <article class="row">
    <h1 class="section-title" data-nav="1">Q1-Q3 Print Rotation</h1>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493308639/forevermark/marketing-calendar/Q1-Q3_Print_Plan_on_page_copy.png">
    <p class="asset-title">Print Rotation</p>
    <a data-file="marketing/marketing-calendar/Q1-Q3+Print+Plan+on+page+copy.xlsx" class="asset-download">Download</a>
  </article>

</section>
