<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1490970047/forevermark/nav/Campaigns_MothersDay_1.jpg" data-section="campaigns" data-title="Mother's Day">

  <article class="row">
    <h1 class="page-title">Mother's Day Campaign</h1>
    <p>For everything she has ever done for you, this Mother’s Day, say ‘thank you’ with a Forevermark diamond.</p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Assets</h2>
    <h2 class="subsection-title" data-nav="2">Print</h2>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490896893/forevermark/print/mothers day/FM_Partnership_MothersDay17_Print_Newspaper_Earrings.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_Print_Newspaper_Earrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490896897/forevermark/print/mothers day/FM_Partnership_MothersDay17_Print_Newspaper_Necklace.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_Print_Newspaper_Necklace.zip" class="asset-download">Download</a>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490896900/forevermark/print/mothers day/FM_Partnership_MothersDay17_Print_Portrait_Earrings.jpg">
      <p class="asset-title">Portrait</p>
      <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_Print_Portrait_Earrings.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490896903/forevermark/print/mothers day/FM_Partnership_MothersDay17_Print_Portrait_Necklace.jpg">
      <p class="asset-title">Portrait</p>
      <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_Print_Portrait_Necklace.zip" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490896907/forevermark/print/mothers day/FM_Partnership_MothersDay17_Print_Spread_Earrings.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_Print_Spread_Earrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490896910/forevermark/print/mothers day/FM_Partnership_MothersDay17_Print_Spread_Necklace.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_Print_Spread_Necklace.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Print - French Canadian</h2>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1491317560/forevermark/print/mothers day/FM_Partnership_MothersDay17_Print_Portrait_Ring_FrenchCanadian.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_Print_Portrait_Ring(FrenchCanadian).zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Email Marketing</h2>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493911097/forevermark/customer-relations/mothers-day/FM_Partnership_MothersDay17_Email_MothersDay.jpg">
    <p class="asset-title">Brand Email</p>
    <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_Email_MothersDay.zip"class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493911112/forevermark/customer-relations/mothers-day/FM_Partnership_MothersDay17_Email_FrenchCanadianMothersDay.jpg">
    <p class="asset-title">Brand Email - French Canadian</p>
    <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_Email_MothersDay.zip"class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Social Media</h2>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
    <p class="asset-title">Jeweler Guide</p>
    <p class="asset-type">Copy Suggestions</p>
    <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_SocialMedia_SuggesterSocialCopy.docx" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Facebook Organic</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611758/forevermark/social/facebook/mothers day/organic/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_Baby.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_Baby.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611759/forevermark/social/facebook/mothers day/organic/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_Cake.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_Cake.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611758/forevermark/social/facebook/mothers day/organic/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_LittleBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611759/forevermark/social/facebook/mothers day/organic/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_LittleGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611759/forevermark/social/facebook/mothers day/organic/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_MomAndBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611758/forevermark/social/facebook/mothers day/organic/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_MomAndGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookOrganic1200x900_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Facebook Paid</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611771/forevermark/social/facebook/mothers day/paid/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_BabyAndProduct.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_BabyAndProduct.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611772/forevermark/social/facebook/mothers day/paid/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_Cake.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_Cake.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611770/forevermark/social/facebook/mothers day/paid/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_LittleBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611771/forevermark/social/facebook/mothers day/paid/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_LittleGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611771/forevermark/social/facebook/mothers day/paid/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_MomAndBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611771/forevermark/social/facebook/mothers day/paid/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_MomAndGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FacebookPaid1200x628_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Instagram</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611807/forevermark/social/instagram/mothers day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_Baby.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_Baby.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611806/forevermark/social/instagram/mothers day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_Cake.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_Cake.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611805/forevermark/social/instagram/mothers day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_LittleBoy.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611806/forevermark/social/instagram/mothers day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_LittleGirl.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611805/forevermark/social/instagram/mothers day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_MomAndBoy.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611806/forevermark/social/instagram/mothers day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_MomAndGirl.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Instagram600x600_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Pinterest</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613156/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_Baby.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_Baby.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613155/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_BabyAndEarrings.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_BabyAndEarrings.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613155/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_BabyAndProduct.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_BabyAndProduct.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613155/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_Cake.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_Cake.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613155/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_CakeAndProduct.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_CakeAndProduct.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613155/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_CakeAndRing.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_CakeAndRing.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613155/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_LittleBoy.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613156/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_LittleGirl.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613156/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_MomAndBoy.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492613156/forevermark/social/pinterest/mothers day/FM_Brand_MothersDay17_SocialMedia_Pinterest_MomAndGirl.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Pinterest_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Twitter</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611852/forevermark/social/twitter/mothers day/FM_Brand_MothersDay17_SocialMedia_Twitter2000x1000_LittleBoy.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Twitter2000x1000_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611852/forevermark/social/twitter/mothers day/FM_Brand_MothersDay17_SocialMedia_Twitter2000x1000_LittleGirl.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Twitter2000x1000_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611853/forevermark/social/twitter/mothers day/FM_Brand_MothersDay17_SocialMedia_Twitter2000x1000_MomAndBoy.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Twitter2000x1000_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611853/forevermark/social/twitter/mothers day/FM_Brand_MothersDay17_SocialMedia_Twitter2000x1000_MomAndGirl.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_Twitter2000x1000_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Social Media - Canada</h2>
    <h3 class="subsubsection-title" data-nav="3">Facebook Organic</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611921/forevermark/social - canada/mothers day/facebook/organic/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookOrganic1200x900_LittleBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookOrganic1200x900_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611921/forevermark/social - canada/mothers day/facebook/organic/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookOrganic1200x900_LittleGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookOrganic1200x900_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611921/forevermark/social - canada/mothers day/facebook/organic/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookOrganic1200x900_MomAndBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookOrganic1200x900_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611921/forevermark/social - canada/mothers day/facebook/organic/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookOrganic1200x900_MomAndGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookOrganic1200x900_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Facebook Paid</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611935/forevermark/social - canada/mothers day/facebook/paid/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookPaid1200x628_LittleBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookPaid1200x628_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611934/forevermark/social - canada/mothers day/facebook/paid/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookPaid1200x628_LittleGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookPaid1200x628_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611934/forevermark/social - canada/mothers day/facebook/paid/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookPaid1200x628_MomAndBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookPaid1200x628_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611934/forevermark/social - canada/mothers day/facebook/paid/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookPaid1200x628_MomAndGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaFacebookPaid1200x628_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Instagram</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611951/forevermark/social - canada/mothers day/instagram/FM_Brand_MothersDay17_SocialMedia_CanadaInstagram600x600_LittleBoy.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaInstagram600x600_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611951/forevermark/social - canada/mothers day/instagram/FM_Brand_MothersDay17_SocialMedia_CanadaInstagram600x600_LittleGirl.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaInstagram600x600_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611950/forevermark/social - canada/mothers day/instagram/FM_Brand_MothersDay17_SocialMedia_CanadaInstagram600x600_MomAndBoy.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaInstagram600x600_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611951/forevermark/social - canada/mothers day/instagram/FM_Brand_MothersDay17_SocialMedia_CanadaInstagram600x600_MomAndGirl.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaInstagram600x600_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Pinterest</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611970/forevermark/social - canada/mothers day/pinterest/FM_Brand_MothersDay17_SocialMedia_CanadaPinterest_LittleBoy.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaPinterest_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611970/forevermark/social - canada/mothers day/pinterest/FM_Brand_MothersDay17_SocialMedia_CanadaPinterest_LittleGirl.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaPinterest_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611970/forevermark/social - canada/mothers day/pinterest/FM_Brand_MothersDay17_SocialMedia_CanadaPinterest_MomAndBoy.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaPinterest_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611970/forevermark/social - canada/mothers day/pinterest/FM_Brand_MothersDay17_SocialMedia_CanadaPinterest_MomAndGirl.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaPinterest_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Twitter</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611984/forevermark/social - canada/mothers day/twitter/FM_Brand_MothersDay17_SocialMedia_CanadaTwitter2000x1000_LittleBoy.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaTwitter2000x1000_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611984/forevermark/social - canada/mothers day/twitter/FM_Brand_MothersDay17_SocialMedia_CanadaTwitter2000x1000_LittleGirl.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaTwitter2000x1000_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611984/forevermark/social - canada/mothers day/twitter/FM_Brand_MothersDay17_SocialMedia_CanadaTwitter2000x1000_MomAndBoy.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaTwitter2000x1000_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492611984/forevermark/social - canada/mothers day/twitter/FM_Brand_MothersDay17_SocialMedia_CanadaTwitter2000x1000_MomAndGirl.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_CanadaTwitter2000x1000_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Social Media - French Canadian</h2>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
      <p class="asset-title">Jeweler Guide</p>
      <p class="asset-type">Copy Suggestions</p>
      <a data-file="campaigns/mothers-day/FM_Partnership_MothersDay17_SocialMedia_SuggestedSocialCopy(FrenchCanadian).docx" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Facebook Organic</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612101/forevermark/social - french canadian/mothers day/facebook/organic/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookOrganic1200x900_LittleBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookOrganic1200x900_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612101/forevermark/social - french canadian/mothers day/facebook/organic/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookOrganic1200x900_LittleGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookOrganic1200x900_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612101/forevermark/social - french canadian/mothers day/facebook/organic/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookOrganic1200x900_MomAndBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookOrganic1200x900_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612101/forevermark/social - french canadian/mothers day/facebook/organic/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookOrganic1200x900_MomAndGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x900</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookOrganic1200x900_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Facebook Paid</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612034/forevermark/social - french canadian/mothers day/facebook/paid/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookPaid1200x628_LittleBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookPaid1200x628_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612034/forevermark/social - french canadian/mothers day/facebook/paid/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookPaid1200x628_LittleGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookPaid1200x628_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612036/forevermark/social - french canadian/mothers day/facebook/paid/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookPaid1200x628_MomAndBoy.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookPaid1200x628_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612034/forevermark/social - french canadian/mothers day/facebook/paid/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookPaid1200x628_MomAndGirl.jpg">
      <p class="asset-title">Facebook</p>
      <p class="asset-type">1200x628</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianFacebookPaid1200x628_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Instagram</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612312/forevermark/social - french canadian/mothers day/instagram/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianInstagram600x600_LittleBoy.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianInstagram600x600_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612311/forevermark/social - french canadian/mothers day/instagram/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianInstagram600x600_LittleGirl.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianInstagram600x600_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612311/forevermark/social - french canadian/mothers day/instagram/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianInstagram600x600_MomAndBoy.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianInstagram600x600_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612311/forevermark/social - french canadian/mothers day/instagram/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianInstagram600x600_MomAndGirl.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianInstagram600x600_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Pinterest</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612365/forevermark/social - french canadian/mothers day/pinterest/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianPinterest_LittleBoy.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612366/forevermark/social - french canadian/mothers day/pinterest/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianPinterest_LittleGirl.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612365/forevermark/social - french canadian/mothers day/pinterest/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianPinterest_MomAndBoy.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612365/forevermark/social - french canadian/mothers day/pinterest/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianPinterest_MomAndGirl.jpg">
      <p class="asset-title">Pinterest</p>
      <a data-file="campaigns/mothers-day/" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsubsection-title" data-nav="3">Twitter</h3>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612350/forevermark/social - french canadian/mothers day/twitter/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianTwitter2000x1000_LittleBoy.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianPinterest_LittleBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612350/forevermark/social - french canadian/mothers day/twitter/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianTwitter2000x1000_LittleGirl.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianPinterest_LittleGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612350/forevermark/social - french canadian/mothers day/twitter/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianTwitter2000x1000_MomAndBoy.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianPinterest_MomAndBoy.jpg" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1492612350/forevermark/social - french canadian/mothers day/twitter/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianTwitter2000x1000_MomAndBoy_1.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/mothers-day/FM_Brand_MothersDay17_SocialMedia_FrenchCanadianPinterest_MomAndGirl.jpg" class="asset-download">Download</a>
    </article>
  </section>

</section>
