<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/coop-bg.jpg" data-section="Co-op Program" data-title="Overview">
  <article class="row">
    <h1 class="page-title">Co-op</h1>
    <p>
      Your Forevermark Marketing Representative will work with you to create a multi-faceted Marketing Plan, combining both traditional and non-traditional activities, to align with both Forevermark’s and your brand values.  The goal of your Marketing Plan will be to increase local brand awareness and to drive traffic to your store.  Your co-op budget will be agreed upon and signed off on as part of an overall, agreed upon Forevermark Business Strategy, which will also include sales targets, merchandising objectives and inventory requirements.
    </p>
  </article>
  <article class="row">
    <h2 class="section-title" data-nav="1">Media Planning</h2>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
      <p class="asset-title">Media Planning Form</p>
      <a data-file="co-op/overview/Forevermark Media Planning Form 2017.xlsx" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h2 class="section-title" data-nav="1">Reimbursement Process and Forms</h2>
  </article>

  <article class="row copy">
    <p>
      When seeking reimbursement or credit against the Forevermark franchise fee, the following materials are required:
    </p>
    <ul>
      <li>Completed co-op reimbursement form</li>
      <li>Copy of approved creative</li>
      <li>Copy of invoice from media entity</li>
    </ul>
    <p>
      Please submit the above materials electronically by emailing your Forevermark Marketing Representative. If you’re unable to do so, you may submit them by post. If sending by post, please address reimbursement paperwork to your Forevermark Marketing Representative. If submitting by post, please also email a digital copy of the completed co-op reimbursement form in Excel format.
    </p>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
      <p class="asset-title">Reimbursement Form</p>
      <a data-file="co-op/overview/FM_Partnership_Coop_2017ReimbursementForm.xlsx" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h2 class="section-title" data-nav="1">Co-OP Parameters</h2>
  </article>

  <article class="row copy">
    <p>
      When seeking reimbursement or credit against the Forevermark franchise fee, please keep the following co-op rules in mind:
    </p>
    <ol>
      <li>We pay 50% of the media cost, including tax. However, the total amount (media costs + tax) cannot exceed your approved co-op allocation.</li>
      <li>We do not pay for production costs with the exception of out of home billboards and brand environments. We will consider paying 50% of the production cost for those. Please discuss this with your Forevermark Marketing Representative. Again, the cost of production and media cannot exceed the agreed upon co-op allocation.</li>
      <li>When possible, submit the required paperwork electronically (referenced above).</li>
      <li>All creative must be approved prior by your Forevermark Marketing Representative prior to distribution.</li>
    </ol>
  </article>

</section>
