<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/marketing-pr.jpg" data-section="Marketing" data-title="Public Relations">
  <article class="row">
    <h1 class="page-title">Overview</h1>
    <p>
    ￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼The Forevermark Public Relations team strives to generate both consumer and trade awareness for Forevermark US through media, entertainment, and fashion industry initiatives while working closely with Forevermark Manufacturers, Diamantaires and Jewelers.
    </p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Brand Background</h2>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/q_100/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon">
    <p class="asset-title">Brand Backer</p>
    <a data-file="marketing/public-relations/FM_Brand_PublicRelations_BrandBackgrounder.pdf" class="asset-download">Download</a>
  </article>

  <article class="row copy">
    <h2 class="section-title" data-nav="1">PR Support 101</h2>
    <p>

The Forevermark Public Relations team is here to be an ongoing resource to our jewelers for advice on media
      relations and provide support for special events.
    </p>
    <p>
      What can the PR team do for Forevermark Jewelers?
    </p>
    <ul>
      <li>Event planning consulting</li>
      <li>Provide press release templates for any Forevermark jeweler event</li>
      <li>Provide an up to date re-cap of who wore what on the Red Carpet</li>
      <li>Provide the latest media placements mentioning Forevermark</li>
      <li>Help to provide jewelry from our internal Red Carpet Collection on a first come, first serve basis</li>
      <li>Provide framed images of celebrities who have worn Forevermark on the red carpet for one-time use</li>
      <li>Provide a Forevermark Step & Repeat on a first come, first serve basis</li>
    </ul>
  </article>
  <article class="row">
    <h3 class="subsection-title" data-nav="2">Important Contact Info</h3>
    <div class="contact-info">
      <p class="contact-name">Erin O'Grady</p>
      <p class="contact-title">PR Manager</p>
      <a href="mailto:Erin.O'Grady@Forevermark.com" class="contact-email">Erin.O'Grady@Forevermark.com</a>
      <p class="contact-number">203.388.3546</p>
    </div>
  </article>

  <article class="row">
    <div class="contact-info">
      <p class="contact-name">Kristen Trustey</p>
      <p class="contact-title">PR Manager</p>
      <a href="mailto:kristen.trusty@forevermark.com" class="contact-email">Kristen.Trusty@Forevermark.com</a>
      <p class="contact-number">203.524.5203</p>
    </div>
  </article>

  <article class="row">
    <div class="contact-info">
      <p class="contact-name">Becky Woodford</p>
      <p class="contact-title">PR Coordinator</p>
      <a href="mailto:rebecca.woodford@forevermark.com" class="contact-email">Rebecca.Woodford@Forevermark.com</a>
      <p class="contact-number">203.388.3544</p>
    </div>
  </article>

  <article class="row copy">
    <h2 class="subsection-title" data-nav="2">Operational Timeline</h2>
    <p class="collapse-bottom">6 Weeks In Advance of event</p>
    <ul>
      <li>Your Partner Development Executive will alert the PR team of your event.</li>
      <li>If you would like support from the PR team, your PDE will set up a phone call for all of us to discuss planning and next steps.</li>
    </ul>
  </article>

  <article class="row copy">
    <p class="collapse-bottom">2 Weeks In Advance of Event</p>
    <ul>
      <li>Email a member of the PR team to let us know if you would like to request pieces from our internal Forevermark Red Carpet Collection or the Forevermark Step & Repeat. Please keep in mind that jewelry is provided on a first-come, first-serve basis.</li>
      <li>If you are interested in red carpet jewelry produced by a Diamantaire or Manufacturer partner you must request it directly from the partner.</li>
    </ul>
  </article>

  <article class="row copy">
    <p class="collapse-bottom">1 Week In Advance of Event</p>
    <ul>
      <li>Forevermark will send a memo for the jewelry you are borrowing & will coordinate insurance.</li>
    </ul>
  </article>

  <article class="row copy">
    <pclass="collapse-bottom">2 Days In Advance of Event</pclass>
    <ul>
      <li>Forevermark PR team will send out Step & Repeat and any requested assets.</li>
    </ul>
  </article>

  <article class="row copy">
    <p class="collapse-bottom">1 Day Post Event</p>
    <ul>
      <li>Return any jewelry or assets that were sent to you.</li>
      <li>Send press release to PR team with full details filled out to be approved by PR team prior to any local media distribution.</li>
      <li>Please post any pictures taken at your event to our Forevermark Facebook Partner Community for others to enjoy!</li>
    </ul>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Celebrities in Forevermark</h2>
    <p>Disclaimer: All images of celebrities in Forevermark are not to be used or saved.
       If you are interested in using a picture of a celebrity in Forevermark, please
       contact a Forevermark PR representative with your request.
    </p>
  </article>

  <section class="two-column">
    <article class="image-block" data-title="Tatiana Maslany">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798570/forevermark/public-relations/celebrities/Tatiana_Maslany_in_Forevermark_Diamonds_with_Emmy_Award_2016.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
    <article class="image-block" data-title="Sophie Turner">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798560/forevermark/public-relations/celebrities/Sophie_Turner_in_Forevermark_Diamonds_at_the_68th_Annual_Emmy_Awards.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
  </section>

  <section class="two-column">
    <article class="image-block" data-title="Michelle Williams">
      <img class="full" data-lazy="https://res.cloudinary.com/response-mktg/image/upload/c_scale,w_600/v1487799037/forevermark/public-relations/celebrities/Michelle_Williams_in_Forevermark_-_Oscars_2012.jpg">
    </article>
  </section>

  <section class="two-column">
    <article class="image-block" data-title="Olivia Munn">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798550/forevermark/public-relations/celebrities/Olivia_Munn_in_Forevermark_-_Oscars_2016.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
    <article class="image-block" data-title="Mandy Moore">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798550/forevermark/public-relations/celebrities/Mandy_Moore_in_Forevermark_Diamonds_at_the_22nd_Annual_Critics_Choice_Awards.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
  </section>

  <section class="two-column">
    <article class="image-block" data-title="Laura Prepon">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798561/forevermark/public-relations/celebrities/Laura_Prepon_in_Forevermark_Diamonds_at_the_Girl_on_the_Train_Premiere.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
    <article class="image-block" data-title="Janelle Monae">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798552/forevermark/public-relations/celebrities/Janelle_Monae_in_Forevermark_Diamonds_at_the_74th_Annual_Golden_Globe_Awards.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
  </section>

  <section class="two-column">
    <article class="image-block" data-title="Hailee Steinfeld">
      <img class="full" data-lazy="https://res.cloudinary.com/response-mktg/image/upload/c_scale,w_600/v1487800713/forevermark/public-relations/celebrities/Hailee_Steinfeld_in_Forevermark_Diamonds_at_the_74th_Annual_Golden_Globe_Awards.jpg" />
    </article>
  </section>

  <section class="two-column">
    <article class="image-block" data-title="Guiliana Rancic">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798535/forevermark/public-relations/celebrities/Giuliana_Rancic_in_Forevermark_Diamonds_at_the_74th_Annual_Golden_Globe_Awards.jpg"data-precloudinary="/ar_300:450,c_fill">
    </article>
    <article class="image-block" data-title="Kate Hudson">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798570/forevermark/public-relations/celebrities/Kate_Hudson_in_Forevermark_-_Golden_Globes_2015.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
  </section>



  <section class="two-column">
    <article class="image-block" data-title="Ellie Kemper">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798542/forevermark/public-relations/celebrities/Ellie_Kemper_in_Forevermark_Diamonds_at_the_23rd_Annual_Screen_Actors_Guild_Awards.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
    <article class="image-block" data-title="Emily Blunt">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798531/forevermark/public-relations/celebrities/Emily_Blunt_in_Forevermark_Diamonds_at_the_2016_Met_Gala.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
  </section>

  <section class="two-column">
    <article class="image-block" data-title="Claire Danes">
      <img class="full" data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487858521/forevermark/public-relations/celebrities/Clarie_Danes_in_Forevermark_at_the_68th_Annual_Emmy_Awards.jpg" />
    </article>
  </section>

  <section class="two-column">
    <article class="image-block" data-title="Brie Larson">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798542/forevermark/public-relations/celebrities/Brie_Larson_in_Forevermark_Diamonds_at_the_74th_Annual_Golden_Globes.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
    <article class="image-block" data-title="Anna Chlumsky">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487798539/forevermark/public-relations/celebrities/Anna_Chlumsky_in_Forevermark_Diamonds_at_the_23rd_Annual_Screen_Actors_Guild_Awards.jpg" data-precloudinary="/ar_300:450,c_fill">
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/q_100/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon">
      <p class="asset-title">Red Carpet Jewelry</p>
      <p class="asset-type">2017</p>
      <a data-file="marketing/public-relations/FM_Brand_PublicRelations_2017JewelryWornRedCarpet.pdf" class="asset-download">Download</a>
    </article>

    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/q_100/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon">
      <p class="asset-title">Celebrity Dressing</p>
      <p class="asset-type">2017</p>
      <a data-file="marketing/public-relations/FM_Brand_PublicRelations_2017CelebrityDressings.pdf" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/q_100/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon">
      <p class="asset-title">Celebrity Dressing</p>
      <p class="asset-type">2016</p>
      <a data-file="marketing/public-relations/FM_Brand_PublicRelations_2016CelebrityDressings.pdf" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h2 class="section-title" data-nav="1">Editorial Highlights</h2>
  </article>

  <section class="two-column">
    <article class="image-block">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487861412/forevermark/public-relations/editorials/HarpersBazaar_December_Page_1.jpg">
    </article>
    <article class="image-block">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487861412/forevermark/public-relations/editorials/HarpersBazaar_December_Page_2.jpg">
    </article>
  </section>

  <section class="two-column">
    <article class="image-block">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487861415/forevermark/public-relations/editorials/Marie_Claire_March_2016_Page_1.jpg">
    </article>
    <article class="image-block">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487861415/forevermark/public-relations/editorials/Marie_Claire_March_2016_Page_2.jpg">
    </article>
  </section>

  <section class="two-column">
    <article class="image-block">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487861419/forevermark/public-relations/editorials/Martha_Stewart_Weddings2c_Spring_2016_issue_-_2_1__Page_1.jpg">
    </article>
    <article class="image-block">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487861419/forevermark/public-relations/editorials/Martha_Stewart_Weddings2c_Spring_2016_issue_-_2_1__Page_3.jpg">
    </article>
  </section>

  <section class="two-column">
    <article class="image-block">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487861426/forevermark/public-relations/editorials/The_Knot_Threes_Company_June_2016_Page_1.jpg">
    </article>
    <article class="image-block">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487861436/forevermark/public-relations/editorials/The_Knot_Threes_Company_June_2016_Page_2.jpg">
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/q_100/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon">
      <p class="asset-title">Editorial Highlights</p>
      <p class="asset-type">2017</p>
      <a data-file="marketing/public-relations/FM_Brand_PublicRelations_2017EditorialHighlights.pdf" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/q_100/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon">
      <p class="asset-title">Editorial Highlights</p>
      <p class="asset-type">2016</p>
      <a data-file="marketing/public-relations/FM_Brand_PublicRelations_2016EditorialHighlights.pdf" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h2 class="section-title" data-nav="1">Templates</h2>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487862332/forevermark/public-relations/templates/Forevermark_Press_Release_Template_-_Jeweler_Partner_Page_1.jpg">
    <p class="asset-title">Jeweler Partner Press Release Template</p>
    <p class="asset-type">Word Doc</p>
    <a data-file="marketing/public-relations/FM_Partnership_PublicRelations_JewelerPressReleaseTemplate.doc" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487862327/forevermark/public-relations/templates/DL_Press_Release_Template_-_Jeweler_Event_Page_1.jpg">
    <p class="asset-title">Jeweler Event Press Release Template</p>
    <p class="asset-type">Word Doc</p>
    <a data-file="marketing/public-relations/FM_Partnership_PublicRelations_JewelerEventPressReleaseTemplate.doc" class="asset-download">Download</a>
  </article>

</section>
