<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/campaign-responsible.jpg" data-section="campaigns" data-title="Responsible Sourcing">
  <article class="row">
    <h1 class="page-title">Responsible Sourcing Campaign</h1>
    <p>
      Sourcing Diamonds means that, throughout their journey from rough to polished, particular care has been taken to ensure responsible business practices, support the advancement
      of woman in local communities through healthcare, education and career development, and protect the natural world.
    </p>
    <p>
      A Forevermark diamond is a diamond you can feel proud to own forever.
    </p>
    <p>
      *Please note, updated marketing assets coming soon.
    </p>
  </article>
  <article class="row copy">
    <h2 class="section-title" data-nav="1">Overview</h2>
    <h2 class="subsection-title" data-nav="2">The Mark of Integrity</h2>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865150/forevermark/misc/ResponseSource_BG.png">
    <p>
      At the heart of every Forevermark diamond lies a unique inscription, a symbol of an enduring commitment to integrity. We keep careful track of Forevermark
      diamonds throughout the mining, sorting, cutting and polishing process to ensure that each Forevermark diamond is natural, untreated and conflict free. We
      select our diamonds from a small number of carefully selected mines, and all our partners must adhere to strict business, social and enviromental standards.
    </p>
  </article>
  <article class="row copy">
    <h2 class="subsection-title" data-nav="2">For Women Forever</h2>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865139/forevermark/misc/Women.png">
    <p>
      Thriving, sustainable economies require the full and equal participation of women, and it is every woman's right to make her own contribution. Forevermark,
      as part of The De Beers Group of Companies, contributes to the provision of good quality healthcare and education, and supports women entrepreneurs and their
      business.
    </p>
  </article>
  <article class="row copy">
    <h2 class="subsection-title" data-nav="2">Protecting Nature's Treasures</h2>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865140/forevermark/misc/Nature.png">
    <p>
      As part of The De Beers Group of Companies, Forevermark is committed to the preservation of protection of habitats, their species and the wider natural world.
      Together with external partners, the Group works to maintain high levels of biodiversity in the areas around its diamond mines.
    </p>
    <p>
      For every acre of land the Group uses for mining, it dedicates five acres to conservation.
    </p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Assets</h2>
    <h3 class="subsection-title" data-nav="2">Website</h3>
    <p>
      Forevermark diamonds are responsibly sourced. They come from mines that not only comply with strict political, financial, social and environmental requirements, but also benefit the communities in which they are operating. This ensures that each Forevermark diamond can be given or worn with pride.
    </p>
  </article>


  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488486224/forevermark/website/responsible%20sourcing/ResponsibleSourcing_WebsiteImagery.png">
    <p class="asset-title">Responsible Sourcing Website Imagery</p>
    <a data-file="campaigns/responsible-sourcing/ResponsibleSourcing_WebsiteImagery.zip"class="asset-download">Download</a>
  </article>

<!--
  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951795/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_YoungGirlImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_YoungGirlImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951790/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_ViewerSmilingImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_ViewerSmilingImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951811/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_TwoGiraffeLandscape.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_TwoGiraffeLandscape.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951816/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_SingleBirdImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_SingleBirdImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951813/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_SchoolChalkboardImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_SchoolChalkboardImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951814/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_RoughLooseStonesImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_RoughLooseStonesImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951814/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_RhinoImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_RhinoImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951811/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_RhinoFamilyImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_RhinoFamilyImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951811/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_MercyImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_MercyImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951808/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_PolishedFrontRoughBackLooseStonesImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_RoughLooseStonesImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951810/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_LionImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_LionImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951805/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_MaleDeBeersImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_MaleDeBeersImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951803/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_LoosePolished_RoughStoneImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_LoosePolished%26RoughStoneImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951803/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_LargeTreeTrunkImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_LargeTreeTrunkImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951805/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_GiraffeSunsetImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_GiraffeSunsetImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951803/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleViewerImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleViewerImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951803/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleFamilyImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleFamilyImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951785/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleSorterImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleSorterImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951787/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_DrivingSchoolImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_DrivingSchoolImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951795/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleSchoolImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleSchoolImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951791/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleDrivingSchoolImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_FemaleDrivingSchoolImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951795/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_ElephantImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_ElephantImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951783/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_ClassroomImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_ClassroomImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951784/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_2RhinoImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_2RhinoImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951784/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_3GiraffeImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_3GiraffeImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951799/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_2SchoolchildrenImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_2SchoolchildrenImage.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951791/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_3FemalesSchoolImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_3FemalesSchoolImage.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487951799/forevermark/website/responsible sourcing/FM_Partnership_ResponsibleSourcing_Website_CheetahImage.jpg">
      <p class="asset-title">Website Asset</p>
      <a data-file="campaigns/responsible-sourcing/FM_Partnership_ResponsibleSourcing_Website_CheetahImage.jpg" class="asset-download">Download</a>
    </article>
  </section>
-->

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
    <p class="asset-title">Responsible Source Imagery Usage Rights</p>
    <a data-file="campaigns/responsible-sourcing/OP_Responsible+Source+Images.docx" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Social Media</h3>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
    <p class="asset-title">Suggested Copy</p>
    <a data-file="campaigns/responsible-sourcing/Responsible+Sourcing+Social+Copy+Suggestions.docx" class="asset-download">Download</a>
  </article>

  <h4 class="subsubsection-title centered" data-nav="3">Facebook</h4>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865277/forevermark/social/facebook/responsible sourcing/ForWomenForever.jpg">
      <p class="asset-title">Facebook - For Women Forever</p>
      <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Facebook_ForWomenForever.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865276/forevermark/social/facebook/responsible sourcing/Giraffe_FB.jpg">
      <p class="asset-title">Facebook - Giraffe</p>
      <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Facebook_Giraffe.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865280/forevermark/social/facebook/responsible sourcing/Landscape_FB.jpg">
      <p class="asset-title">Facebook - Landscape</p>
      <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Facebook_Landscape.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <h4 class="subsubsection-title centered" data-nav="3">Instagram</h4>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865402/forevermark/social/instagram/responsible sourcing/ForWomenForever_Insta.jpg">
      <p class="asset-title">Instagram - For Women Forever</p>
      <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Instagram_ForWomenForever.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865402/forevermark/social/instagram/responsible sourcing/Giraffe_Insta.jpg">
      <p class="asset-title">Instagram - Giraffe</p>
      <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Instagram_Giraffe.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865403/forevermark/social/instagram/responsible sourcing/Landscape_Insta.jpg">
      <p class="asset-title">Instagram - Landscape</p>
      <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Instagram_Landscape.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <h4 class="subsubsection-title centered" data-nav="3">Twitter</h4>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865509/forevermark/social/twitter/responsible sourcing/ForWomenForever_Twitter.jpg">
      <p class="asset-title">Twitter - For Women Forever</p>
      <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Twitter_ForWomenForever.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865508/forevermark/social/twitter/responsible sourcing/Giraffe_TW.jpg">
      <p class="asset-title">Twitter - Giraffe</p>
      <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Twitter_Giraffe.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865510/forevermark/social/twitter/responsible sourcing/Landscape_TW.jpg">
      <p class="asset-title">Twitter - Landscape</p>
      <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Twitter_Landscape.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <h4 class="subsubsection-title centered" data-nav="3">Pinterest</h4>


  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865585/forevermark/social/pinterest/responsible sourcing/ForwomenForever.jpg">
    <p class="asset-title">Pinterest - For Women Forever</p>
    <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Pinteresr_ForWomenForever.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487865585/forevermark/social/pinterest/responsible sourcing/Giraffe_Pinterest.jpg">
    <p class="asset-title">Pinterest - Giraffe</p>
    <a data-file="campaigns/responsible-sourcing/FM_Brand_ResponsibleSourcing_SocialMedia_Pinterest_Giraffe.jpg" class="asset-download">Download</a>
  </article>


</section>
