<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/campaign-seizetheday.jpg" data-section="campaigns" data-title="Seize the Day">

    <article class="row">
      <h1 class="page-title">Seize The Day Campaign</h1>
      <p>The Seize The Day campaign features 8 different products, each with an emotional copy line tied to the specific product featured. As a primarily male targeted campaign, each ad will have a strong call-to- action driving consumers to your store to buy a Forevermark diamond as the ultimate gift of love.
      </p>
    </article>

    <article class="row">
      <h2 class="section-title" data-nav="1">Assets</h2>
      <h3 class="subsection-title" data-nav="2">Billboards / Out of Home</h3>
      <h4 class="subsubsection-title" data-nav="3">Billboard Bulletin</h3>
    </article>

    <!--
    <article class="row asset" data-expand >
      <img data-lazy="">
      <p class="asset-title">Billboard - Product</p>

      <a data-file="campaigns/seize-the-day/" class="asset-download">Download</a>
    </article>
   -->
   <article class="row asset" data-expand >
     <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292866/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__ADiamondFor2EverUsRing.jpg">
     <p class="asset-title">Billboard Bulletin</p>
     <p class="asset-type">14'x48'</p>
     <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_ADiamondFor2EverUsRing.zip" class="asset-download">Download</a>
   </article>

   <article class="row asset" data-expand >
     <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292865/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__ALifeTogetherLineBracelet.jpg">
     <p class="asset-title">Billboard Bulletin</p>
     <p class="asset-type">14'x48'</p>
     <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_ALifeTogetherLineBracelet.zip" class="asset-download">Download</a>
   </article>

   <article class="row asset" data-expand >
     <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292867/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__APresentForSolitaireRing.jpg">
     <p class="asset-title">Billboard Bulletin</p>
     <p class="asset-type">14'x48'</p>
     <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_APresentForSolitaireRing.zip" class="asset-download">Download</a>
   </article>

   <article class="row asset" data-expand >
     <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292868/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__BecauseSheHoldsCOMUPendant.jpg">
     <p class="asset-title">Billboard Bulletin</p>
     <p class="asset-type">14'x48'</p>
     <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_BecauseSheHoldsCOMUPendant.zip" class="asset-download">Download</a>
   </article>


    <!-- <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292869/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__CherishYesterday3StoneRing.jpg">
      <p class="asset-title">Billboard Bulletin</p>
      <p class="asset-type">14'x48'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_BecauseSheIsCushionRing.zip" class="asset-download">Download</a>
    </article> -->


   <article class="row asset" data-expand >
     <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292869/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__CherishYesterday3StoneRing.jpg">
     <p class="asset-title">Billboard Bulletin</p>
     <p class="asset-type">14'x48'</p>
     <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_CherishYesterday3StoneRing.zip" class="asset-download">Download</a>
   </article>


    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292870/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__ForTheBefore3StoneRing.jpg">
      <p class="asset-title">Billboard Bulletin</p>
      <p class="asset-type">14'x48'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14_x48_ForTheBefore3StoneRing.zip" class="asset-download">Download</a>
    </article>


    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292869/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__ForYourNeverendingEternityBand.jpg">
      <p class="asset-title">Billboard Bulletin</p>
      <p class="asset-type">14'x48'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_ForYourNeverendingEternityBand.zip" class="asset-download">Download</a>
    </article>


   <article class="row asset" data-expand >
     <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292866/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__ItsALongRoundSolitaireRing.jpg">
     <p class="asset-title">Billboard Bulletin</p>
     <p class="asset-type">14'x48'</p>
     <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_ItsALongRoundSolitaireRing.zip" class="asset-download">Download</a>
   </article>


    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292870/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__MusicToHerStuds.jpg">
      <p class="asset-title">Billboard Bulletin</p>
      <p class="asset-type">14'x48'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_MusicToHerStuds.zip" class="asset-download">Download</a>
    </article>


   <article class="row asset" data-expand >
     <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292870/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__SayILoveStuds.jpg">
     <p class="asset-title">Billboard Bulletin</p>
     <p class="asset-type">14'x48'</p>
     <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_SayILoveStuds.zip" class="asset-download">Download</a>
   </article>


    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292874/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__ShowHerSheCOMUPendant.jpg">
      <p class="asset-title">Billboard Bulletin</p>
      <p class="asset-type">14'x48'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_ShowHerSheCOMUPendant.zip" class="asset-download">Download</a>
    </article>


   <article class="row asset" data-expand >
     <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292874/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__TheBestIsCushionRing.jpg">
     <p class="asset-title">Billboard Bulletin</p>
     <p class="asset-type">14'x48'</p>
     <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_TheBestIsCushionRing.zip" class="asset-download">Download</a>
   </article>


    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488292875/forevermark/billboards/seize%20the%20day/FM_Partnership_STD_BillboardBulletin_14_x48__ThisChristmasWillEternityBand.jpg">
      <p class="asset-title">Billboard Bulletin</p>
      <p class="asset-type">14'x48'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_BillboardBulletin_14x48_ThisChristmasWillEternityBand.zip" class="asset-download">Download</a>
    </article>



    <!-- ooh landscape-->
    <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Poster Landscape</h3>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294822/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__ALifeTogetherLineBracelet.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_ALifeTogetherLineBracelet.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294822/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__BecauseSheHoldsCOMUPendant.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_BecauseSheHoldsCOMUPendant.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294823/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__BecauseSheIsCushionRing.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_BecauseSheIsCushionRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294823/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__CherishYesterday3StoneRing.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_CherishYesterday3StoneRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294823/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__ForTheBefore3StoneRing.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_ForTheBefore3StoneRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294824/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__ForYourNeverendingEternityBand.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_ForYourNeverendingEternityBand.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294822/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__ItsALongSolitaireRing.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_ItsALongSolitaireRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294825/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__MusicToHerStuds.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_MusicToHerStuds.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294826/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__OneDiamondForEverUsRing.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_OneDiamondForEverUsRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294825/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__ShoutILoveStuds.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_ShoutILoveStuds.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294826/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__ShowHerSheCOMUPendant.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_ShowHerSheCOMUPendant.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294828/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__TheBestIsYetCushionRing.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_TheBestIsYetCushionRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294826/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__ThePresentForSolitaireRing.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_ThePresentForSolitaireRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294826/forevermark/billboards/seize%20the%20day/ooh/landscape/FM_Partnership_STD_PosterLandscape_10_x20__ThisChristmasWillEternityBand.jpg">
      <p class="asset-title">Poster Landscape</p>
      <p class="asset-type">10'x20'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterLandscape_10x20_ThisChristmasWillEternityBand.zip" class="asset-download">Download</a>
    </article>




    <!-- ooh portrait-->

  <article class="row">
  <h4 class="subsubsection-title" data-nav="3">Poster Portrait</h3>
  </article>
  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294844/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__ALifeTogetherLineBracelet.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_ALifeTogetherLineBracelet.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294843/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__BecauseSheHoldsCOMUPendant.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_BecauseSheHoldsCOMUPendant.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294843/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__BecauseSheIsCushionRing.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_BecauseSheIsCushionRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294845/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__CherishYesterday3StoneRing.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_CherishYesterday3StoneRing.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294844/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__ForTheBefore3StoneRing.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_ForTheBefore3StoneRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294844/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__ForYourNeverendingEternityBand.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_ForYourNeverendingEternityBand.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294845/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__ItsALongSolitaireRing.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_ItsALongSolitaireRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294846/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__MusicToHerStuds.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_MusicToHerStuds.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294846/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__OneDiamondForEverUsRing.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_OneDiamondForEverUsRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294846/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__ShoutILoveStuds.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_ShoutILoveStuds.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294846/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__ShowHerSheCOMUPendant.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_ShowHerSheCOMUPendant.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294847/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__TheBestIsCushionRing.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_TheBestIsCushionRing.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294847/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__ThePresentForSolitaireRing.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_ThePresentForSolitaireRing.zip" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488294848/forevermark/billboards/seize%20the%20day/ooh/portrait/FM_Partnership_STD_PosterPortrait_20_x10__ThisChristmasWillEternityBand.jpg">
      <p class="asset-title">Poster Portrait</p>
      <p class="asset-type">20'x10'</p>
      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_PosterPortrait_20x10_ThisChristmasWillEternityBand.zip" class="asset-download">Download</a>
    </article>
  </section>


    <article class="row">
      <h2 class="subsection-title" data-nav="2">Email Marketing</h2>
    </article>
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488296383/forevermark/customer-relations/seize%20the%20day/FM_Partnership_STD_CRM-Email_MusicToHerEars.jpg">
      <p class="asset-title">Email Template</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_CRM-Email_MusicToHerEars.zip" class="asset-download">Download</a>
    </article>



    <article class="row">
      <h2 class="subsection-title" data-nav="2">Digital</h2>
      <h4 class="subsubsection-title" data-nav="3">Center Of My Universe</h3>
    </article>

  <!-- comu -->
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="comu160x600" data-campaign="seize-the-day"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/comu/FM_Partnership_STD_Digital_160x600_COMUPendant.jpg">
    </a>
    <p class="asset-title">Center Of My Universe 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_160x600_COMUPendant.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="comu300x50" data-campaign="seize-the-day"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/comu/FM_Partnership_STD_Digital_300x50_COMUPendant.jpg">
    </a>
    <p class="asset-title">Center Of My Universe 300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x50_COMUPendant.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="comu300x250" data-campaign="seize-the-day"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/comu/FM_Partnership_STD_Digital_300x250_COMUPendant.jpg">
    </a>
    <p class="asset-title">Center Of My Universe 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x250_COMUPendant.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="comu300x600" data-campaign="seize-the-day"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/comu/FM_Partnership_STD_Digital_300x600_COMUPendant.jpg">
    </a>
    <p class="asset-title">Center Of My Universe 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x600_COMUPendant.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="comu320x50" data-campaign="seize-the-day"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/comu/FM_Partnership_STD_Digital_320x50_COMUPendant.jpg">
    </a>
    <p class="asset-title">Center Of My Universe 320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_320x50_COMUPendant.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="comu728x90" data-campaign="seize-the-day"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/comu/FM_Partnership_STD_Digital_728x90_COMUPendant.jpg">
    </a>
    <p class="asset-title">Center Of My Universe 728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_728x90_COMUPendant.zip" class="asset-download">Download</a>
  </article>


  <!-- cushionring -->
    <article class="row">
      <h4 class="subsubsection-title" data-nav="3">Cushion Ring</h3>
    </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="cushionring160x600" data-campaign="seize-the-day"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256233/forevermark/banners/seize%20the%20day/cushion%20ring/FM_Partnership_STD_Digital_160x600_CushionRing.jpg">
    </a>
    <p class="asset-title">Cushion Ring 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_160x600_CushionRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="cushionring300x50" data-campaign="seize-the-day"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/cushion%20ring/FM_Partnership_STD_Digital_300x50_CushionRing.jpg">
    </a>
    <p class="asset-title">Cushion Ring 300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x50_CushionRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="cushionring300x250" data-campaign="seize-the-day"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/cushion%20ring/FM_Partnership_STD_Digital_300x250_CushionRing.jpg">
    </a>
    <p class="asset-title">Cushion Ring 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x250_CushionRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="cushionring300x600" data-campaign="seize-the-day"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/cushion%20ring/FM_Partnership_STD_Digital_300x600_CushionRing.jpg">
    </a>
    <p class="asset-title">Cushion Ring 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x600_CushionRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="cushionring320x50" data-campaign="seize-the-day"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/cushion%20ring/FM_Partnership_STD_Digital_320x50_CushionRing.jpg">
    </a>
    <p class="asset-title">Cushion Ring 320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_320x50_CushionRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="cushionring728x90" data-campaign="seize-the-day"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256153/forevermark/banners/seize%20the%20day/cushion%20ring/FM_Partnership_STD_Digital_728x90_CushionRing.jpg">
    </a>
    <p class="asset-title">Cushion Ring 728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_728x90_CushionRing.zip" class="asset-download">Download</a>
  </article>


  <!-- eternityband -->
  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Eternity Band</h3>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="eternityband160x600" data-campaign="seize-the-day"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256251/forevermark/banners/seize%20the%20day/eternity%20band/FM_Partnership_STD_Digital_160x600_EternityBand.gif">
    </a>
    <p class="asset-title">Eternity Band 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_160x600_EternityBand.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="eternityband300x50" data-campaign="seize-the-day"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256251/forevermark/banners/seize%20the%20day/eternity%20band/FM_Partnership_STD_Digital_300x50_EternityBand.gif">
    </a>
    <p class="asset-title">Eternity Band 300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x50_EternityBand.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="eternityband300x250" data-campaign="seize-the-day"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256251/forevermark/banners/seize%20the%20day/eternity%20band/FM_Partnership_STD_Digital_300x250_EternityBand.gif">
    </a>
    <p class="asset-title">Eternity Band 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x250_EternityBand.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="eternityband300x600" data-campaign="seize-the-day"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256251/forevermark/banners/seize%20the%20day/eternity%20band/FM_Partnership_STD_Digital_300x600_EternityBand.gif">
    </a>
    <p class="asset-title">Eternity Band 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x600_EternityBand.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="eternityband320x50" data-campaign="seize-the-day"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256251/forevermark/banners/seize%20the%20day/eternity%20band/FM_Partnership_STD_Digital_320x50_EternityBand.gif">
    </a>
    <p class="asset-title">Eternity Band 320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_320x50_EternityBand.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="eternityband728x90" data-campaign="seize-the-day"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256251/forevermark/banners/seize%20the%20day/eternity%20band/FM_Partnership_STD_Digital_728x90_EternityBand.gif">
    </a>
    <p class="asset-title">Eternity Band 728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_728x90_EternityBand.zip" class="asset-download">Download</a>
  </article>


  <!-- everus -->
  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Ever Us</h3>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="everus160x600" data-campaign="seize-the-day"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256269/forevermark/banners/seize%20the%20day/ever%20us%20ring/FM_Partnership_STD_Digital_160x600_EverUsRing.jpg">
    </a>
    <p class="asset-title">Ever Us 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_160x600_EverUsRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="everus300x50" data-campaign="seize-the-day"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256269/forevermark/banners/seize%20the%20day/ever%20us%20ring/FM_Partnership_STD_Digital_300x50_EverUsRing.jpg">
    </a>
    <p class="asset-title">Ever Us 300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x50_EverUsRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="everus300x250" data-campaign="seize-the-day"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256269/forevermark/banners/seize%20the%20day/ever%20us%20ring/FM_Partnership_STD_Digital_300x250_EverUsRing.jpg">
    </a>
    <p class="asset-title">Ever Us 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x250_EverUsRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="everus300x600" data-campaign="seize-the-day"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256269/forevermark/banners/seize%20the%20day/ever%20us%20ring/FM_Partnership_STD_Digital_300x600_EverUsRing.jpg">
    </a>
    <p class="asset-title">Ever Us 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x600_EverUsRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="everus320x50" data-campaign="seize-the-day"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256269/forevermark/banners/seize%20the%20day/ever%20us%20ring/FM_Partnership_STD_Digital_320x50_EverUsRing.jpg">
    </a>
    <p class="asset-title">Ever Us 320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_320x50_EverUsRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="everus728x90" data-campaign="seize-the-day"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256269/forevermark/banners/seize%20the%20day/ever%20us%20ring/FM_Partnership_STD_Digital_728x90_EverUsRing.jpg">
    </a>
    <p class="asset-title">Ever Us 728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_728x90_EverUsRing.zip" class="asset-download">Download</a>
  </article>


  <!-- linebracelet -->
  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Bracelet</h3>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="linebracelet160x600" data-campaign="seize-the-day"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256309/forevermark/banners/seize%20the%20day/line%20bracelet/FM_Partnership_STD_Digital_160x600_LineBracelet.gif">
    </a>
    <p class="asset-title">Bracelet 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_160x600_LineBracelet.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="linebracelet300x50" data-campaign="seize-the-day"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256310/forevermark/banners/seize%20the%20day/line%20bracelet/FM_Partnership_STD_Digital_300x50_LineBracelet.gif">
    </a>
    <p class="asset-title">Bracelet 300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x50_LineBracelet.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="linebracelet300x250" data-campaign="seize-the-day"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256310/forevermark/banners/seize%20the%20day/line%20bracelet/FM_Partnership_STD_Digital_300x250_LineBracelet.gif">
    </a>
    <p class="asset-title">Bracelet 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x250_LineBracelet.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="linebracelet300x600" data-campaign="seize-the-day"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256310/forevermark/banners/seize%20the%20day/line%20bracelet/FM_Partnership_STD_Digital_300x600_LineBracelet.gif">
    </a>
    <p class="asset-title">Bracelet 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x600_LineBracelet.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="linebracelet320x50" data-campaign="seize-the-day"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256310/forevermark/banners/seize%20the%20day/line%20bracelet/FM_Partnership_STD_Digital_320x50_LineBracelet.gif">
    </a>
    <p class="asset-title">Bracelet 320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_320x50_LineBracelet.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="linebracelet728x90" data-campaign="seize-the-day"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256310/forevermark/banners/seize%20the%20day/line%20bracelet/FM_Partnership_STD_Digital_728x90_LineBracelet.gif">
    </a>
    <p class="asset-title">Bracelet 728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_728x90_LineBracelet.zip" class="asset-download">Download</a>
  </article>

  <!-- solitairering -->
  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Solitaire Ring</h3>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="solitairering160x600" data-campaign="seize-the-day"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256343/forevermark/banners/seize%20the%20day/solitaire%20ring/FM_Partnership_STD_Digital_160x600_SolitaireRing.jpg">
    </a>
    <p class="asset-title">Solitaire Ring 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_160x600_SolitaireRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="solitairering300x50" data-campaign="seize-the-day"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256343/forevermark/banners/seize%20the%20day/solitaire%20ring/FM_Partnership_STD_Digital_300x50_SolitaireRing.jpg">
    </a>
    <p class="asset-title">Solitaire Ring 300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x50_SolitaireRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="solitairering300x250" data-campaign="seize-the-day"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256343/forevermark/banners/seize%20the%20day/solitaire%20ring/FM_Partnership_STD_Digital_300x250_SolitaireRing.jpg">
    </a>
    <p class="asset-title">Solitaire Ring 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x250_SolitaireRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="solitairering300x600" data-campaign="seize-the-day"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256343/forevermark/banners/seize%20the%20day/solitaire%20ring/FM_Partnership_STD_Digital_300x600_SolitaireRing.jpg">
    </a>
    <p class="asset-title">Solitaire Ring 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x600_SolitaireRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="solitairering320x50" data-campaign="seize-the-day"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256343/forevermark/banners/seize%20the%20day/solitaire%20ring/FM_Partnership_STD_Digital_320x50_SolitaireRing.jpg">
    </a>
    <p class="asset-title">Solitaire Ring 320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_320x50_SolitaireRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="solitairering728x90" data-campaign="seize-the-day"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256343/forevermark/banners/seize%20the%20day/solitaire%20ring/FM_Partnership_STD_Digital_728x90_SolitaireRing.jpg">
    </a>
    <p class="asset-title">Solitaire Ring 728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_728x90_SolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <!-- studs -->
  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Studs</h3>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="studs160x600" data-campaign="seize-the-day"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256366/forevermark/banners/seize%20the%20day/studs/FM_Partnership_STD_Digital_160x600_EarStuds.jpg">
    </a>
    <p class="asset-title">Studs 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_160x600_EarStuds.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="studs300x50" data-campaign="seize-the-day"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256366/forevermark/banners/seize%20the%20day/studs/FM_Partnership_STD_Digital_300x250_EarStuds.jpg">
    </a>
    <p class="asset-title">Studs 300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x50_EarStuds.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="studs300x250" data-campaign="seize-the-day"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256366/forevermark/banners/seize%20the%20day/studs/FM_Partnership_STD_Digital_300x50_EarStuds.jpg">
    </a>
    <p class="asset-title">Studs 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x250_EarStuds.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="studs300x600" data-campaign="seize-the-day"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256366/forevermark/banners/seize%20the%20day/studs/FM_Partnership_STD_Digital_300x600_EarStuds.jpg">
    </a>
    <p class="asset-title">Studs 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x600_EarStuds.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="studs320x50" data-campaign="seize-the-day"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256366/forevermark/banners/seize%20the%20day/studs/FM_Partnership_STD_Digital_320x50_EarStuds.jpg">
    </a>
    <p class="asset-title">Studs 320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_320x50_EarStuds.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="studs728x90" data-campaign="seize-the-day"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256366/forevermark/banners/seize%20the%20day/studs/FM_Partnership_STD_Digital_728x90_EarStuds.jpg">
    </a>
    <p class="asset-title">Studs 728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_728x90_EarStuds.zip" class="asset-download">Download</a>
  </article>


  <!-- threestonering -->
  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Three Stone Ring</h3>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="threestonering160x600" data-campaign="seize-the-day"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256384/forevermark/banners/seize%20the%20day/three%20stone%20ring/FM_Partnership_STD_Digital_160x600_3StoneRing.jpg">
    </a>
    <p class="asset-title">Three Stone Ring 160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_160x600_ThreeStoneRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="threestonering300x50" data-campaign="seize-the-day"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256384/forevermark/banners/seize%20the%20day/three%20stone%20ring/FM_Partnership_STD_Digital_300x50_3StoneRing.jpg">
    </a>
    <p class="asset-title">Three Stone Ring 300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x50_ThreeStoneRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="threestonering300x250" data-campaign="seize-the-day"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256384/forevermark/banners/seize%20the%20day/three%20stone%20ring/FM_Partnership_STD_Digital_300x250_3StoneRing.jpg">
    </a>
    <p class="asset-title">Three Stone Ring 300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x250_ThreeStoneRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="threestonering300x600" data-campaign="seize-the-day"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256384/forevermark/banners/seize%20the%20day/three%20stone%20ring/FM_Partnership_STD_Digital_300x600_3StoneRing.jpg">
    </a>
    <p class="asset-title">Three Stone Ring 300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_300x600_ThreeStoneRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="threestonering320x50" data-campaign="seize-the-day"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256384/forevermark/banners/seize%20the%20day/three%20stone%20ring/FM_Partnership_STD_Digital_320x50_3StoneRing.jpg">
    </a>
    <p class="asset-title">Three Stone Ring 320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_320x50_ThreeStoneRing.zip" class="asset-download">Download</a>
  </article>
  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="threestonering728x90" data-campaign="seize-the-day"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488256384/forevermark/banners/seize%20the%20day/three%20stone%20ring/FM_Partnership_STD_Digital_728x90_3StoneRing.jpg">
    </a>
    <p class="asset-title">Three Stone Ring 728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Digital_728x90_ThreeStoneRing.zip" class="asset-download">Download</a>
  </article>




    <article class="row">
      <h2 class="subsection-title" data-nav="2">Print</h2>
    </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Newspaper</h3>
  </article>
  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_ALifeTogetherLineBracelet.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_ALifeTogetherLineBracelet.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_BecauseSheHoldsCOMUPendant.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_BecauseSheHoldsCOMUPendant.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_BecauseSheIsCushionRing.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_BecauseSheIsCushionRing.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_CherishYesterdayThreeStoneRing.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_CherishYesterdayThreeStoneRing.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_ForTheBeforeThreeStoneRing.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_ForTheBeforeThreeStoneRing.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_ForYourNeverendingEternityBand.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_ForYourNeverendingEternityBand.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_ItsALongSolitaireRing.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_ItsALongJourneySolitaireRing.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_MusicToHerStuds.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_MusicToHerStuds.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_OneDiamondForEverUsRing.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_OneDiamondForEverUsRing.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_ShoutILoveStuds.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_ShoutILoveStuds.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_ShowHerSheCOMUPendant.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_ShowHerSheCOMUPendant.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_TheBestIsCushionRing.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_TheBestIsCushionRing.zip" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_ThePresentForSolitaireRing.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_ThePresentForSolitaireRing.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/newspaper/FM_Partnership_STD_Print_Newspaper_ThisChristmasWillEternityBand.jpg">
      <p class="asset-title">Newspaper</p>

      <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Newspaper_ThisChristmasWillEternityBand.zip" class="asset-download">Download</a>
    </article>
  </section>





  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Portrait</h3>
  </article>
  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_ALifeTogetherLineBracelet.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_ALifeTogetherLineBracelet.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_BecauseSheHoldsCOMUPendant.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_BecauseSheHoldsCOMUPendant.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_BecauseSheIsCushionRing.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_BecauseSheIsCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_CherishYesterdayThreeStoneRing.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_CherishYesterdayThreeStoneRing.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_ForTheBeforeThreeStoneRing.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_ForTheBeforeThreeStoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_ForYourNeverendingEternityBand.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_ForYourNeverendingEternityBand.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333367/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_ItsALongJourneySolitaireRing.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_ItsALongJourneySolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_MusicToHerStuds.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_MusicToHerStuds.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_OneDiamondForEverUsRing.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_OneDiamondForEverUsRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_ShoutILoveStuds.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_ShoutILoveStuds.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_ShowHerSheCOMUPendant.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_ShowHerSheCOMUPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_TheBestIsCushionRing.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_TheBestIsCushionRing.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_ThePresentForSolitaireRing.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_ThePresentForSolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/portrait/FM_Partnership_STD_Print_Portrait_ThisChristmasWillEternityBand.jpg">
    <p class="asset-title">Portrait</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Portrait_ThisChristmasWillEternityBand.zip" class="asset-download">Download</a>
  </article>
  </section>


  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Spread</h3>
  </article>
  <section class="two-column">

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_ThisChristmasWillEternityBand.jpg">
    <p class="asset-title">Spread</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_ThisChristmasWillEternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_BecauseSheHoldsCOMUPendant.jpg">
    <p class="asset-title">Spread</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_BecauseSheHoldsCOMUPendant.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_BecauseSheIsCushionRing.jpg">
    <p class="asset-title">Spread</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_BecauseSheIsCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_CherishYesterdayThreeStoneRing.jpg">
    <p class="asset-title">Spread</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_CherishYesterdayThreeStoneRing.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_ForTheBeforeThreeStoneRing.jpg">
    <p class="asset-title">Spread</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_ForTheBeforeThreeStoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_ForYourNeverendingEternityBand.jpg">
    <p class="asset-title">Spread</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_ForYourNeverendingEternityBand.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_ItsALongSolitaireRing.jpg">
    <p class="asset-title">Spread</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_ItsALongJourneySolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_MusicToHerStuds.jpg">
    <p class="asset-title">Spread</p>

    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_MusicToHerStuds.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_OneDiamondForEverUsRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_OneDiamondForEverUsRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_ShoutILoveStuds.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_ShoutILoveStuds.zip" class="asset-download">Download</a>
  </article>
  </section>

  <section class="two-column">
  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_ShowHerSheCOMUPendant.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_ShowHerSheCOMUPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand >
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488333408/forevermark/print/seize%20the%20day/spread/FM_Partnership_STD_Print_Spread_TheBestIsCushionRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/seize-the-day/FM_Partnership_STD_Print_Spread_TheBestIsCushionRing.zip" class="asset-download">Download</a>
  </article>
  </section>

      <article class="row">
        <h2 class="subsection-title" data-nav="2">Social Media</h2>
        <article class="row asset">
          <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
          <p class="asset-title">Suggested Copy</p>
          <a data-file="campaigns/seize-the-day/FM_Partnership_SeizeTheDay_SocialMedia_SuggestedSocialCopy.docx" class="asset-download">Download</a>
        </article>
        <p>For additional suggestions or for copy approval:</h2>
        <p>Please contact Kate Rogowski (<a href="mailto: kate.rogowski@forevermark.com">kate.rogowski@forevermark.com</a>) or Shaina Vlaun (<a href="mailto: shaina.vlaun@forevermark.com">shaina.vlaun@forevermark.com</a>)</p>
      </article>

      <article class="row">
        <h4 class="subsubsection-title" data-nav="3">Facebook</h3>
      </article>
      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/facebook/seize%20the%20day/FM_Brand_STD_SocialMedia_Facebook_ALifeTogetherLineBracelet.png">
          <p class="asset-title">Facebook - Bracelet</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Facebook_ALifeTogetherLineBracelet.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/facebook/seize%20the%20day/FM_Brand_STD_SocialMedia_Facebook_BecauseSheHoldsCOMUPendant.png">

          <p class="asset-title">Facebook - Center Of My Universe </p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Facebook_BecauseSheHoldsCOMUPendant.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/facebook/seize%20the%20day/FM_Brand_STD_SocialMedia_Facebook_BecauseSheIsCushionRing.png">
          <p class="asset-title">Facebook - Cushion Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Facebook_BecauseSheIsCushionRing.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/facebook/seize%20the%20day/FM_Brand_STD_SocialMedia_Facebook_ForTheBeforeThreeStoneRing.png">
          <p class="asset-title">Facebook - Three Stone Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Facebook_ForTheBeforeThreeStoneRing.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/facebook/seize%20the%20day/FM_Brand_STD_SocialMedia_Facebook_ForYourNeverendingEternityBand.png">
          <p class="asset-title">Facebook - Eternity Band</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Facebook_ForYourNeverendingEternityBand.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/facebook/seize%20the%20day/FM_Brand_STD_SocialMedia_Facebook_ItsALongSolitaireRing.png">
          <p class="asset-title">Facebook - Solitaire Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Facebook_ItsALongSolitaireRing.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/facebook/seize%20the%20day/FM_Brand_STD_SocialMedia_Facebook_OneDiamondForEverUsRing.png">
          <p class="asset-title">Facebook - Ever Us </p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Facebook_OneDiamondForEverUsRing.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/facebook/seize%20the%20day/FM_Brand_STD_SocialMedia_Facebook_ShoutILoveStuds.png">
          <p class="asset-title">Facebook - Ear Studs </p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Facebook_ShoutILoveStuds.png" class="asset-download">Download</a>
        </article>
      </section>



      <article class="row">
        <h4 class="subsubsection-title" data-nav="3">Instagram</h3>
      </article>
      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/instagram/seize%20the%20day/FM_Brand_STD_SocialMedia_Instagram_ALifeTogetherLineBracelet.png">
          <p class="asset-title">Instagram - Bracelet</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Instagram_ALifeTogetherLineBracelet.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/instagram/seize%20the%20day/FM_Brand_STD_SocialMedia_Instagram_ShowHerSheCOMUPendant.png">
          <p class="asset-title">Instagram - Center Of My Universe</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Instagram_ShowHerSheCOMUPendant.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/instagram/seize%20the%20day/FM_Brand_STD_SocialMedia_Instagram_TheBestIsCushionRing.png">
          <p class="asset-title">Instagram - Cushion Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Instagram_TheBestIsCushionRing.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/instagram/seize%20the%20day/FM_Brand_STD_SocialMedia_Instagram_CherishYesterdayThreeStoneRing.png">
          <p class="asset-title">Instagram - Three Stone Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Instagram_CherishYesterdayThreeStoneRing.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/instagram/seize%20the%20day/FM_Brand_STD_SocialMedia_Instagram_ThisChristmasWillEternityBand.png">
          <p class="asset-title">Instagram - Eternity Band</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Instagram_ThisChristmasWillEternityBand.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/instagram/seize%20the%20day/FM_Brand_STD_SocialMedia_Instagram_ThePresentForSolitaireRing.png">
          <p class="asset-title">Instagram - Solitaire Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Instagram_ThePresentForSolitaireRing.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/instagram/seize%20the%20day/FM_Brand_STD_SocialMedia_Instagram_OneDiamondForEverUsRing.png">
          <p class="asset-title">Instagram - Ever Us</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Instagram_OneDiamondForEverUsRing.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/instagram/seize%20the%20day/FM_Brand_STD_SocialMedia_Instagram_MusicToHerStuds.png">
          <p class="asset-title">Instagram - Ear Studs</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Instagram_MusicToHerStuds.png" class="asset-download">Download</a>
        </article>
      </section>


      <article class="row">
        <h4 class="subsubsection-title" data-nav="3">Pinterest</h3>
      </article>
      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/pinterest/seize%20the%20day/FM_Brand_STD_SocialMedia_Pinterest_ALifeTogetherLineBracelet.png">
          <p class="asset-title">Pinterest - Bracelet</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Pinterest_ALifeTogetherLineBracelet.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/pinterest/seize%20the%20day/FM_Brand_STD_SocialMedia_Pinterest_ShowHerSheCOMUPendant.png">
          <p class="asset-title">Pinterest - Center Of My Universe</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Pinterest_ShowHerSheCOMUPendant.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/pinterest/seize%20the%20day/FM_Brand_STD_SocialMedia_Pinterest_TheBestIsCushionRing.png">
          <p class="asset-title">Pinterest - Cushion Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Pinterest_TheBestIsCushionRing.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/pinterest/seize%20the%20day/FM_Brand_STD_SocialMedia_Pinterest_CherishYesterdayThreeStoneRing.png">
          <p class="asset-title">Pinterest - Three Stone Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Pinterest_CherishYesterdayThreeStoneRing.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/pinterest/seize%20the%20day/FM_Brand_STD_SocialMedia_Pinterest_ThisChristmasWillEternityBand.png">
          <p class="asset-title">Pinterest - Eternity Band</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Pinterest_ThisChristmasWillEternityBand.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/pinterest/seize%20the%20day/FM_Brand_STD_SocialMedia_Pinterest_APresentForSolitaireRing.png">
          <p class="asset-title">Pinterest - Solitaire Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Pinterest_APresentForSolitaireRing.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/pinterest/seize%20the%20day/FM_Brand_STD_SocialMedia_Pinterest_OneDiamondForEverUsRing.png">
          <p class="asset-title">Pinterest - Ever Us</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Pinterest_OneDiamondForEverUsRing.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331341/forevermark/social/pinterest/seize%20the%20day/FM_Brand_STD_SocialMedia_Pinterest_MusicToHerStuds.png">
          <p class="asset-title">Pinterest - Ear Studs</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Pinterest_MusicToHerStuds.png" class="asset-download">Download</a>
        </article>
      </section>



      <article class="row">
        <h4 class="subsubsection-title" data-nav="3">Twitter</h3>
      </article>
      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331457/forevermark/social/twitter/seize%20the%20day/FM_Brand_STD_SocialMedia_Twitter_ALifeTogetherLineBracelet.png">
          <p class="asset-title">Twitter - Bracelet</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Twitter_ALifeTogetherLineBracelet.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331457/forevermark/social/twitter/seize%20the%20day/FM_Brand_STD_SocialMedia_Twitter_BecauseSheHoldsCOMUPendant.png">
          <p class="asset-title">Twitter - Center Of My Universe</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Twitter_BecauseSheHoldsCOMUPendant.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331457/forevermark/social/twitter/seize%20the%20day/FM_Brand_STD_SocialMedia_Twitter_BecauseSheIsCushionRing.png">
          <p class="asset-title">Twitter - Cushion Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Twitter_BecauseSheIsCushionRing.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331457/forevermark/social/twitter/seize%20the%20day/FM_Brand_STD_SocialMedia_Twitter_ForTheBeforeThreeStoneRing.png">
          <p class="asset-title">Twitter - Three Stone Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Twitter_ForTheBeforeThreeStoneRing.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331457/forevermark/social/twitter/seize%20the%20day/FM_Brand_STD_SocialMedia_Twitter_ForYourNeverendingEternityBand.png">
          <p class="asset-title">Twitter - Eternity Band</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Twitter_ForYourNeverendingEternityBand.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331457/forevermark/social/twitter/seize%20the%20day/FM_Brand_STD_SocialMedia_Twitter_ItsALongSolitaireRing.png">
          <p class="asset-title">Twitter - Solitaire Ring</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Twitter_ItsALongSolitaireRing.png" class="asset-download">Download</a>
        </article>
      </section>

      <section class="two-column">
        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331457/forevermark/social/twitter/seize%20the%20day/FM_Brand_STD_SocialMedia_Twitter_OneDiamondForEverUsRing.png">
          <p class="asset-title">Twitter - Ever Us</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Twitter_OneDiamondForEverUsRing.png" class="asset-download">Download</a>
        </article>

        <article class="row asset" data-expand >
          <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488331457/forevermark/social/twitter/seize%20the%20day/FM_Brand_STD_SocialMedia_Twitter_ShoutILoveStuds.png">
          <p class="asset-title">Twitter - Ear Studs</p>
          <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Twitter_ShoutILoveStuds.png" class="asset-download">Download</a>
        </article>
      </section>

    <article class="row">
      <h4 class="subsubsection-title" data-nav="3">Videos</h3>
    </article>
    <article class="row asset video">
      <div class='embed-container'>
        <iframe data-embed="https://player.vimeo.com/video/206172983" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">10 sec  Eternity Band</p>
      <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Video_ThisChristmasWillEternityBand.mp4" class="asset-download">Download</a>
    </article>
    <article class="row asset video">
      <div class='embed-container'>
        <iframe data-embed="https://player.vimeo.com/video/206172906" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">10 Sec Cushion Ring</p>
      <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Video_TheBestIsCushionRing.mp4" class="asset-download">Download</a>
    </article>
    <article class="row asset video">
      <div class='embed-container'>
        <iframe data-embed="https://player.vimeo.com/video/206172689" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">10 Sec Center Of My Universe</p>
      <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Video_ShowHerSheCOMUPendant.mp4" class="asset-download">Download</a>
    </article>
    <article class="row asset video">
      <div class='embed-container'>
        <iframe data-embed="https://player.vimeo.com/video/206171794" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">10 Sec Ever Us</p>
      <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Video_OneDiamondForEverUsRing.mp4" class="asset-download">Download</a>
    </article>

    <article class="row asset video">
      <div class='embed-container'>
        <iframe data-embed="https://player.vimeo.com/video/206170742" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">10 Sec Three Stone Ring</p>
      <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Video_CherishYesterdayThreeStoneRing.mp4" class="asset-download">Download</a>
    </article>
    <article class="row asset video">
      <div class='embed-container'>
        <iframe data-embed="https://player.vimeo.com/video/206169500" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">10 Sec Solitaire Ring</p>
      <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Video_APresentForSolitaireRing.mp4" class="asset-download">Download</a>
    </article>
    <article class="row asset video">
      <div class='embed-container'>
        <iframe data-embed="https://player.vimeo.com/video/206171266" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">10 Sec Ear Studs</p>
      <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Video_MusicToHerStuds.mp4" class="asset-download">Download</a>
    </article>
    <article class="row asset video">
      <div class='embed-container'>
        <iframe data-embed="https://player.vimeo.com/video/206166823" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">10 Sec Bracelet</p>
      <a data-file="campaigns/seize-the-day/FM_Brand_STD_SocialMedia_Video_ALifeTogetherLineBracelet.mp4" class="asset-download">Download</a>
    </article>



    <article class="row">
      <h2 class="section-title" data-nav="1">Product</h2>
      <h3 class="subsection-title" data-nav="2">Merchandising Mix</h3>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487779712/forevermark/product/seize-the-day/Seize-the-day-merchandising-mix.png">
      <p class="asset-title">Download Full Product Mix</p>

      <a data-file="campaigns/seize-the-day/FM_Brand_STD_Product_MerchandisingMix.pdf" class="asset-download">Download</a>
    </article>

</section>
