<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/marketing-strategic.jpg" data-section="Marketing" data-title="Strategic Marketing Plan">

  <article class="row copy">
    <h2 class="section-title" data-nav="1">Digital Display</h2>
    <p>
      Forevermark uses display advertising, also known as banner ads, to drive brand awareness and drive traffic to Forevermark.com where visitors can locate their nearest authorized jeweler. Forevermark banner ads run on websites that are relevant to our target audiences’ interests. Our national ads  complement the display advertising you run in your market using our partnership ads. Display advertising helps to drive visibility of your store(s), drive traffic to your website, and increase conversions. Focusing on relevant, geo-targeted* websites allows you to reach new and returning customers aiding in customer retention and sales.
    </p>
    <p>
      *Geo-targeting allows you to serve your ads cost-efficiently and effectively
      by limiting impressions to specific geographic areas.
    </p>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/205405024" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">2:22 Instructional</p>
    <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_Digital_HowToReplaceLogo.mp4" class="asset-download">Download</a>
  </article>

  <article class="row copy">
    <h2 class="section-title" data-nav="1">Out of Home</h2>
    <p>
      Out-of-Home (OOH) is typically outdoor advertising targeting consumers as
      they commute throughout their day. This includes ads on train station platforms,
      on billboards, bus shelters, on buses, digital screens, and more. It is an effective
      way to advertise to your niche, local audience. Though Forevermark traditionally focuses
      our OOH efforts in Q4, partnership outdoor creative is available to you to tag.
    </p>
  </article>

  <article class="row copy">
    <h2 class="section-title" data-nav="1">Print</h2>
    <p>
      Forevermark print ads run in national publications that align with our target audiences’ passion points such as fashion, travel and leisure, food and wine, affluent sports such as golf and tennis, technology and innovation, and so on. For our jeweler partners, print advertising in topically-relevant publications is an effective tool to generate buzz around the Forevermark diamond jewelry you sell in your store(s) and to drive brand awareness at a local level, compared to display advertising which casts a wider geographical net. [Additionally, a full-page print ad is more eye-catching and engages more of the senses – creating more tactile memories with your consumer.]
    </p>
  </article>

  <article class="row copy">
    <h2 class="section-title" data-nav="1">Radio</h2>
    <p>
      Forevermark can provide partners with radio scripts, as well as pre-recorded scripts with accompanying music. These assets are available in 30-second or 60-second lengths with time allotted to insert your tag. Because radio is an everywhere medium that travels with your consumer – at home, in the office, in the road, etc. – it allows you to build a relationship with the listener. Also, the low production cost and shorter lead times to execute, make radio an efficient and effective advertising channel.
    </p>
  </article>

  <article class="row copy">
    <h2 class="section-title" data-nav="1">Search Engine Optimization (SEO)</h2>
    <p>
      Search Engine Optimization (SEO) is the practical application of proven best practices to improve visibility with organic search. The goal of this document is to provide guidelines and best practices when adding Forevermark branded content on your site. Optimizing Forevermark branded pages on the website will increase the likelihood that Forevermark branded content will maximize real estate in search results, driving users to either the brand site or partners’ websites. The information shared in this document can also be utilized to maximize your store’s real estate in search results.
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Basic On Page Optimization</h3>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884910/forevermark/strategic-marketing-plan/SEO.png">
    <p>
      The following on-page elements should be optimized at a minimum. Note, all modern Content Management Systems (CMS) offer the opportunity to populate the below when adding content pages.
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">URL</h3>
    <p>
      The green linking text in search results, most of the time, provides users and search engines a clue as to what the page is about. User friendly URLs, that offer an implied hierarchy and user words instead of number identifiers are more user friendly and offer the most SEO benefit.
    </p>
    <p>
      Best practices:
    </p>
    <ul>
      <li>Human readable</li>
      <li>Includes relevant keywords</li>
      <li>Separate keywords with hyphens, instead of underscores</li>
      <li>Avoid session IDs, overuse of parameters and numerical identifiers.</li>
    </ul>

    <p>
      Structure Example: www.examplesite.com/jewelery/forevermark-diamonds
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Title Tag</h3>
    <p>
      The Title tag, Blue Text in Search Results, &lt;title&gt; of a site’s pages is arguably the most important and easiest to implement HTML element outside of actual text. Titles establish the theme of the page, and the first signal for users and search engines. When used in conjunction with an optimized Meta Description Tag, a search compliant Title Tag can improve the click-through rate of an organic search listing.
    </p>
    <p>
      Best practices:
    </p>
    <ul>
      <li>Each page should have a unique Title tag.  CMS should have the ability to create both unique as well as templated Title Tags.</li>
      <li>Title Tag should not exceed 60 characters in length.</li>
      <li>The most important keywords for a given page should be placed near the beginning of the page Title.</li>
      <li>Titles should be written in headline-style rather than as a full page description.</li>
      <li>Stop words (such as the, a, if, of) should be limited as they waste crucial character space in titles</li>
    </ul>
    <p>
      Structure Example: Forevermark Diamonds | NAME OF JEWELER / WEBSITE
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Meta Descriptor Tag</h3>
    <p>
      Search engines use the Meta description tag as the snippet in the search result listings, particularly when there is little visible text on a given page, or a brand search is made. Although, the major search engine crawlers may create dynamic snippets of text from the given page that relate to that particular keyword search. These snippets of text are used as the description in the search listings below the Title. Note, Google is frequently adjusting snippets in search results, using on-page content, if they believe it better addresses the users search query.
    </p>
    <p>
      Best practices:
    </p>
    <ul>
      <li>All Meta tags should be placed at the top of the code within the &lt;head&gt; &lt;/head&gt; tags.</li>
      <li>Target keywords should be near the beginning of the tags.</li>
      <li>The Meta Description Tag should be no more than 160 characters.</li>
      <li>
        The Meta Description Tag should be written in sentence form that contains the following:
        <ul>
          <li> A brief description of the page</li>
          <li>The page’s targeted keyphrase</li>
          <li>A benefit statement to entice the searcher to click on the search snippet</li>
          <li>A call-to-action.</li>
        </ul>
      </li>
    </ul>
    <p>
      Structure Example: Jeweler &lt;PLACEHOLDER&gt; Name is a proud authorized jeweler of Forevermark diamonds. Shop Forevermark jewelry now.
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">H1</h3>
    <p>
      The main headline of the page should contain “Forevermark Diamonds” as HTML text, and not an image. CSS can be leveraged in order to use specific fonts to satisfy creative.
    </p>
    <p>
      &lt;h1&gt;Forevermark Diamonds&lt;/h1&gt;
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">On Page Content</h3>
    <p>
      Every landing page should include some textual content, offering an introduction to Forevermark and connection to the Jeweler (i.e. authorized jeweler, etc). Branded Forevermark text, highlighting its key benefits, that relates to the products featured on the page, is ideal for the user and search engines. On-Page content is the most important factor in SEO. All other elements (Title, Description, Headlines) should flow consistently together with the content used on the page.
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Images</h3>
    <p>
      Since search engines have difficulty understanding what is contained in images, the following can be optimized in order to offer context.
    </p>
    <ul>
      <li>Filename: forevermark-cushion-cut.jpg</li>
      <li>Alt text should be populated with relevant keywords.</li>
      <li>&lt;img src=”/forevermark-cushion-cut.jpg” alt=”Forevermark Cushion Cut Ring” /&gt;</li>
    </ul>

  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
    <p class="asset-title">SEO Guidelines</p>
    <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SEOJewelerGuidelines.docx" class="asset-download">Download</a>
  </article>

  <article class="row copy">
    <h2 class="section-title" data-nav="1">Search Engine Marketing (SEM)</h2>
    <p>
      This document serves as a guide to Forevermark Jewelers on best practices for Google Paid Listings. The objective of these guidelines is to ensure Forevermark and our partners are working together to promote the Forevermark brand effectively and consistently. In an increasingly competitive and confusing environment there is a need to ensure that Forevermark’s messaging is clearly displayed throughout the entire purchase path of a potential Forevermark customer.
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Keyword Strategy</h3>
    <ol>
      <li>
        Forevermark is putting significant budgets behind Brand and Generic jewelry/diamond keywords.
        <ol>
          <li>
            Keyword examples include:
            <ol>
              <li>Brand:  Forevermark, Forevermark Jewelry</li>
              <li>Generic:   diamond rings, engagement rings</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        In addition to any generic keywords, Forevermark Jeweler campaigns can include Brand keywords and geographically relevant versions of Brand keywords, according to the Search Engine Presence pointers below.
        <ol>
          <li>Brand keyword examples include: Forevermark, Forevermark jewelry, Forevermark New York City, Forevermark jeweler locations</li>
        </ol>
      </li>
      <li>All Forevermark terms that jewelers are bidding on should drive to a landing page that clearly and prominently features only Forevermark products.</li>
    </ol>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Search Engine Presence</h3>
    <p>
      These pointers will help Jewelers and Forevermark work together to maximize our joint presence on search engines.
    </p>
    <p>
      Google assigns each ad a Quality Score (QS).  QS is an estimate of how relevant your ads, keywords, and landing page are to a person seeing your ad. Because the above Keyword Strategy will establish your ads as very relevant, you will have a high QS. Higher Quality Scores typically lead to lower costs and better ad positions. Relevant ads tend to earn more clicks, appear in a higher position, and bring you the most success.
    </p>
    <p>
      1. For top Brand keywords, Forevermark aims to retain the top position, followed by Forevermark Jeweler ads in position
    </p>
    <p>
      2. For Jeweler specific keywords, Jewelers should aim to retain the top position. Forevermark will not actively bid on region specific searched. All Jeweler names will be added as negative keywords to the Forevermark accounts.
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Creative Examples</h3>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487868294/forevermark/strategic-marketing-plan/SEM_CreativeExamples.png">
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">General Best Practices</h3>
    <p>
      1. Implement Site Links, Location Extensions on desktop and mobile(not shown below), Call Out Extensions and/or Call Extensions (mobile only) where appropriate:
    </p>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487877359/forevermark/strategic-marketing-plan/SEM_BestPractices.png">
    <p>
      Though you can have up to ten Site Links, current top performing Site Links for Forevermark.com include: Browse the Collection, Engagement Rings, Where to Buy, and Bridal
    </p>
    <p>
      NOTE: Multiple extensions can be added to each campaign. Ad extensions will only show on Ads that have a strong enough Click Through Rate and Quality Score
    </p>

    <p>
      2. Set Ad Rotation to Optimize – this setting gives preference to your ads that are expected to get the most clicks, based on your past click through rates (CTRs). Google/Bing/Yahoo will try to show those ads more often than other ads in your ad group to help you gain more clicks and impressions.
    </p>

    <p class="indent">
      a. Adding a negative keyword to your ad group or campaign means that your ads
      won't show for search queries containing that term. By filtering out unwanted
      impressions, negative keywords can help you reach the most appropriate prospects,
      increase your Quality Score and reduce your CPC.  Negative keywords should be
      added to the campaigns on an ongoing basis; monthly or quarterly checks should
      keep CPCs low and help reduce overall costs.  It is not uncommon to have just as
      many negative keywords as you do targeted keywords in any given campaign.
      Be sure to consider any possible detrimental effects that a broad matched negative
      keyword may have on your account performance, i.e. unintentionally blocking
      qualified search queries. <br />
      ** Unless very well versed in keyword match types, only use Exact match to ensure
      no overly broad keywords are added to avoid the issues in the example below.
    </p>

    <p class="indent">
      Example: For the broad-matched keyword “used book” and negative
      keyword “college,” your ad would be matched per the following:
      Ads will appear for the query: used book seller
      Ads won’t appear for the query: used college book
    </p>

    <p class="indent">
      b. Consider using negative keywords such as “antique engagement rings”.  These
      should be terms that are not relevant to your brand, but may be producing
      impressions (due to broad or phrase matching), and are not receiving qualified
      clicks. You can identify some of these terms that you might not expect by taking a
      look at your Search Query Report.
    </p>

    <p class="indent">
      c. Another subset of negative keywords which should be added to every campaign
      includes those which are sexual, negative, offensive or otherwise unrelated to
      the campaigns
    </p>

    <p>
      4. Day-part to help stretch budgets throughout a day or week or month.
    </p>

    <p class="indent">
      a. For example, if you know that searches increase during the weekends, you can
      set your campaigns to run only Friday through Sunday to reserve the limited budget
      for times when you know searches will increase.  Or if searches increase at night,
      between 6pm – 9pm, you can also set campaigns to run every day, but only for
      these specified hours.
    </p>

    <p>
      5. Set device modifiers to maximize budget according to best performing device
      If a site isn’t optimized for mobile, performance and quality of mobile visitors may be quite poor and negative bid adjustments can ensure that traffic is more focused on desktop or tablet devices
    </p>

  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Process</h3>
    <p>
      1. Jeweler can share keyword lists, copy, and Landing Pages with Forevermark to ensure campaign is within guidelines
    </p>
    <p>
      2. Forevermark to provide Jeweler with feedback to be taken into consideration
    </p>
    <p>
      3. Forevermark’s media agency can monitor Jeweler campaign to ensure it is effectively working with Forevermark national campaign
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Miscellaneous</h3>
    <p>
      A useful Google tool to manage your campaigns offline is Google AdWords Editor:<br />
      <a href="http://www.google.com/intl/en/adwordseditor/" target="_blank">http://www.google.com/intl/en/adwordseditor/</a>
    </p>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
    <p class="asset-title">SEM Guidelines</p>
    <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SEMJewelerGuidelines.docx">DOWNLOAD</a>
  </article>

  <article class="row copy">
    <h2 class="section-title" data-nav="1">Social Media</h2>

    <p>
      Social media is a cost-effective way to reach your target consumers with a number of benefits that include increasing brand recognition, driving traffic to your website, and creating meaningful relationships that help to grow your business. Social media platforms have a number of targeting parameters to ensure you’re reaching relevant customers. These customers are more likely to engage with your content, providing valuable insight and feedback that can benefit your business. Forevermark offers a number of assets you can use organically or via paid campaigns on your social media platforms. Visit the social media guidelines for helpful tips and tricks.
    </p>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
    <p class="asset-title centered">Suggested Copy</p>
    <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_GeneralSuggestedSocialMediaCopy.docx" class="asset-download">Download</a>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Forevermark Social Media Tips For FMJs</h3>
    <p>
      As Forevermark continues to expand our presence on various social media platforms, there are a few learnings and tips we’ve picked up along the way and thought we’d to share with our partners.
    </p>
  </article>

  <article class="row copy">
    <h3 class="subsection-title" data-nav="2">Organic Activity</h3>
    <p>
      <span class="bold">DO: Make sure you’re using the correct handle</span><br>
      Tagging Forevermark in your posts allows us to see them immediately, as well as favorite or re-share them. It also allows your followers to click through to the Forevermark profiles to find out more about the brand. Tagging can vary from channel to channel:
    </p>
    <ul>
      <li>Twitter: Tag Forevermark with @Forevermark</li>
      <li>Instagram: Use the handle @ForevermarkUSA</li>
      <li>Facebook: Type the word ‘Forevermark’ in your status for a dropdown to appear suggesting the Forevermark Page (sometimes inserting @ immediately before typing ‘Forevermark’ helps). By clicking this, you can automatically add a tag to Forevermark, allowing your followers to click through to our Page.</li>
      <li>Pinterest: Tag Forevermark with @Forevermark</li>
    </ul>

    <p>
      <span class="bold">DO: Use Forevermark #Hashtags</span><br>
      Forevermark uses a number of specific hashtags when talking about various aspects of the brand. When posting about Forevermark, try to use these same hashtags, where possible:
    </p>
    <ul>
      <li>Forevermark specific – #Forevermark, #Forevermarkdiamonds, #CenterofMyUniverse</li>
      <li>Promise – #forevermarkpromise, #promise, #holdmyhandforever</li>
      <li>Responsible Sourcing – #diamondsdogood, #responsiblysourced</li>
      <li>Expertise – #diamondexperts</li>
      <li>Diamonds – #diamond, #diamonds</li>
      <li>
        Seasonal:
        <ul>
          <li>#Wedding, #WeddingWednesdays</li>
          <li>#Engagement, #EngagementRings</li>
          <li>#RedCarpet</li>
        </ul>
      </li>
      <li>Most events and occasions will have associated hashtags – check to see which terms Forevermark is using to cover industry events like JCK, or occasions like Mother’s Day or awards shows.</li>
    </ul>
    <p>
      Note: When posting about Forevermark, tag us using our official platform handle (i.e. @Forevermark, or @Forevermarkdiamonds) rather than the hashtag #Forevermark.
    </p>

    <p>
      <span class="bold">DO: Share Content</span><br>One of the most positive aspects of social media is the ability to share news and information widely.
    </p>
    <ul>
      <li>You sharing Forevermark content: We encourage all our partners to re-tweet, share and re-pin Forevermark posts as much as possible!</li>
      <li>
        Forevermark sharing your content: We’d love to feature partner news and stories on Forevermark’s official social platforms. This could be:
        <ul>
          <li>Information on popular or new Forevermark pieces or collections</li>
          <li>Stories from in-store: newly engaged couples buying a Forevermark ring, a gift of
            Forevermark for a birthday or anniversary, a woman buying Forevermark for herself,
            or other purchases of jewelry featuring Forevermark diamonds</li>
          </ul>
        </li>
      </ul>

      <p>
        <span class="bold">DON’T: Engage with negative chatter</span><br>
        From time to time, Forevermark’s posts or mentions of Forevermark on Facebook or Twitter will be responded to with confrontational, aggressive posts. In these instances, it’s important not to engage or respond in any manner. The intention of these posts is to illicit a reaction from us, which will give their account a bigger audience. In ignoring these advances, we shut down the conversation before it has begun.
      </p>

      <p>
        <span class="bold">DO: Post consistently</span><br>
        If you’re ready to post, commit to posting regularly. But, be mindful of quality vs. quantity.
      </p>
      <ul>
        <li>Facebook –  1x/day maximum, including weekends</li>
        <li>Twitter – Minimum of 1-2x brand tweets/day, including weekends (subject to events); as well as ongoing responses/replies and favoriting, join relevant conversations and use relevant hashtags whenever possible</li>
        <li>Instagram – Minimum of 1-2x/day, including weekends (subject to events)</li>
        <li>Pinterest – 3x/day</li>
      </ul>
      <p>
        This can be difficult to achieve in the content development stage, but Forevermark has found that spreading out new pins across a few days, rather an doing a bulk upload, can help.
      </p>
    </article>

    <article class="row copy">
      <h3 class="subsection-title" data-nav="2">Paid Activity</h3>
      <p>
        <span class="bold">DO: Use top performing organic content to guide paid content</span><br>
        Keeping in mind that your own audience’s reaction will be much more insulated than a broader audience’s reaction.
      </p>
      <p>
        <span class="bold">DO: Tailor content to the audience your targeting</span><br>
        Simply put, to get the most out of your budget, ensure the content aligns with the target’s interests.
      </p>
      <ul>
        <li>
          Target Specific: Engagement content will resonate most with the pre-engaged audience. Therefore, your content should include engagement cues – the image should most likely be diamond engagement ring(s), but the copy should include romantic or relevant keywords, such as “Say yes!” or “Find your fairy tale.”
          <ul>
            <li>
              Whereas an audience that is already engaged will connect more with imagery and
              content that focuses on concepts like “wedding day,” “white dress,” “walk down the
              aisle,” etc.
            </li>
          </ul>
        </li>
        <li>
          Broader Target: If you’re targeting a boarder target with a message, keep content a bit more general. For example, you may choose to highlight classic diamond jewelry such as diamond studs or bracelets/bangles. The copy can be a bit more directional “Dressed up or dressed down, you can wear these Forevermark diamond ____ every day.”
        </li>
        <li>
          Images Matter Most: The image is what most users will focus on first and it’s important to have compelling imagery that is relevant to the audience.
        </li>
        <li>
          Keep Copy Short: Long copy will often be overlooked and not read, whereas short copy with succinct and clear value propositions can be read through and quickly digested.
        </li>
      </ul>
      <p>
        <span class="bold">DO: Use clear CTAs in your copy to drive users to take the desired action</span><br>
        Sometimes users need that extra push with the CTA clearly spelled out for them in order to take action.
      </p>
      <p>
        <span class="bold">DON’T: Use hashtags unless absolutely necessary</span><br>
        While it depends on how your promotion plan is set up, for Twitter specifically, many businesses pay per engagement. Engagement is any click on your content such as expanding the tweet, linking to your website, and clicking a hashtag. However, when a hashtag is clicked, the user is taken away from your tweet to a list of content associated with the hashtag, and depending on how popular the hashtag (e.g. #diamonds, #weddings), the user will have to scroll to find your content. Therefore, in a sense, you are paying to promote other Twitter users’ content.
      </p>
      <p>
        That being said, if the hashtag you would like to use is very unique and/or used frequently only by you, it is fine to use (e.g. Forevermark using #HoldMyHandForever).
      </p>
    </article>

    <article class="row copy">
      <h3 class="subsection-title" data-nav="2">General Social Media Helpful Tips + Tricks</h3>
      <p>
        Visuals: Include an image or video of a Forevermark piece whenever possible. Through our social media tracking and measurement, we’ve found these posts/tweets receive the most engagement.
      </p>
      <ul>
        <li>
          Visuals should:
          <ul>
            <li>Convey emotion (love, happiness) to the viewer</li>
            <li>Elicit an emotion (desire, pleasure) from the viewer</li>
            <li>Meet individual platform sizing specifications</li>
          </ul>
        </li>
        <li>
          Enhance the “wow” factor of visual by keeping an eye on:
          <ul>
            <li>The focus – always let the diamond be the hero. If the image is blurry, snap another one.</li>
            <li>The light – lighting can affect how much or how little a diamond sparkles.</li>
            <li>The background – backgrounds with colors that contrast with the diamonds can help make them pop.</li>
          </ul>
        </li>
        <li>
          If you don’t have any visuals – use links!
          <ul>
            <li>Pinterest – Pin product to your boards directly from Forevermark.com or your website</li>
            <li>
              Facebook – Paste a Forevermark.com product link into the text area. A preview
              image and information about the webpage will appear. You can then delete the link
              and replace it with your own copy while retaining the preview image and
              information. See our Facebook page for examples.
            </li>
          </ul>
        </li>
        <li>
          Double-check that your visual reads well on mobile
        </li>
      </ul>
      <p>
        <span class="bold">Language:</span> Let your personality come through, but be mindful of:
      </p>
      <ul>
        <li>Slang words, or colloquialisms – Avoid being too casual. The language should reflect how precious diamonds are.</li>
        <li>Spelling and grammar – Always check your posts for any typos or grammatical errors.</li>
        <li>Facts – If you’re unsure of a Forevermark fact you may want to post, please check with us first. We’re happy to answer any questions you may have.</li>
      </ul>
      <p>
        <span class="bold">Character Count: </span>Clear and concise copy always wins, even on those platforms without a character count.
      </p>
      <ul>
        <li>Facebook and Instagram – Try to maintain 140-200 characters at most</li>
        <li>
          Twitter – There is a 140 character limit. Keep in mind:
          <ul>
            <li>Images = 23 characters (Tweets can support multiple images if necessary)</li>
            <li>Links = 23 characters per link</li>
            <li>Including both images and a link = 46 characters</li>
          </ul>
        </li>
      </ul>
      <p>
        <span class="bold">Link Usage: </span>Shortened links (e.g. bit.ly or ow.ly links) are preferable if URLs are too long.
      </p>
      <ul>
        <li>One link per post is recommended</li>
      </ul>
      <p>
        <span class="bold">#Hashtags:</span> Ensure your use of #hashtags is in line with the platform on which you’re posting.
      </p>
      <ul>
        <li>
          Twitter – Include at least one (1) hashtag in tweets, but be mindful not to over hashtag (see character count)
          <ul>
            <li>See note about using hashtags in paid activity</li>
          </ul>
        </li>
        <li>Instagram – Always include one hashtag in the post; you can add multiple other hashtags in the comment section under the post</li>
        <li>Pinterest – Keep the hashtag relevant to the product category</li>
        <li>Facebook – One hashtag per post, if necessary</li>
      </ul>
    </article>

    <h3 class="subsection-title centered" data-nav="2">Facebook</h3>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473234/forevermark/social/general/bridal/FM_Partnership_Marketing_SocialMedia_Facebook_BridalHaloRingLetter.jpg">
        <p class="asset-title">Facebook - Bridal Halo Ring Letter</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Facebook_BridalHaloRingLetter.jpg" class="asset-download">Download</a>
      </article>
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473380/forevermark/social/general/classic/FM_Partnership_Marketing_SocialMedia_Facebook_ClassicEarStudCluster.jpg">
        <p class="asset-title">Facebook - Classic Ear Stud Cluster</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Facebook_ClassicEarStudCluster.jpg" class="asset-download">Download</a>
      </article>
    </section>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/facebook/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Facebook_FashionNecklaceTakeMeAway.png">
        <p class="asset-title">Facebook - Fashion Necklace Take Me Away</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Facebook_FashionNecklaceTakeMeAway.png" class="asset-download">Download</a>
      </article>

      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/facebook/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Facebook_FashionRoseGoldPendantSunglasses.png">
        <p class="asset-title">Facebook - Fashion Rose Gold Pendant Sunglasses</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Facebook_FashionRoseGoldPendantSunglasses.png" class="asset-download">Download</a>
      </article>
    </section>

    <h3 class="subsection-title centered" data-nav="2">Twitter</h3>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473233/forevermark/social/general/bridal/FM_Partnership_Marketing_SocialMedia_Twitter_BridalRingEternityBandSet.jpg">
        <p class="asset-title">Twitter - Bridal Ring Eternity Band Set</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Twitter_BridalRingEternityBandSet.jpg" class="asset-download">Download</a>
      </article>

      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/twitter/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Twitter_FashionNecklaceTakeMeAway.png">
        <p class="asset-title">Twitter - Fashion Necklace Take Me Away</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Twitter_FashionNecklaceTakeMeAway.png" class="asset-download">Download</a>
      </article>
    </section>


    <article class="row asset" data-expand >
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/twitter/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Twitter_FashionRoseGoldPendantSunglasses.png">
      <p class="asset-title">Twitter - Fashion Rose Gold Pendant Sunglasses</p>
      <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Twitter_FashionRoseGoldPendantSunglasses.png" class="asset-download">Download</a>
    </article>

   <h3 class="subsection-title centered" data-nav="2">Pinterest</h3>

   <section class="two-column">
     <article class="row asset" data-expand >
       <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473235/forevermark/social/general/bridal/FM_Partnership_Marketing_SocialMedia_Pinterest_BridalRingWhiteSand.jpg">
       <p class="asset-title">Pinterest - Bridal Ring White Sand</p>
       <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Pinterest_BridalRingWhiteSand.jpg" class="asset-download">Download</a>
     </article>
     <article class="row asset" data-expand >
       <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473375/forevermark/social/general/classic/FM_Partnership_Marketing_SocialMedia_Pinterest_ClassicSolitairePendantWood.jpg">
       <p class="asset-title">Pinterest - Classic Solitaire Pendant Wood</p>
       <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Pinterest_ClassicSolitairePendantWood.jpg" class="asset-download">Download</a>
     </article>
   </section>

   <section class="two-column">
     <article class="row asset" data-expand >
       <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/pinterest/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Pinterest_FashionNecklaceTakeMeAway.png">
       <p class="asset-title">Pinterest - Fashion Necklace Take Me Away</p>
       <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Pinterest_FashionNecklaceTakeMeAway.png" class="asset-download">Download</a>
     </article>

     <article class="row asset" data-expand >
       <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/pinterest/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Pinterest_FashionRoseGoldPendantSunglasses.png">
       <p class="asset-title">Pinterest - Fashion Rose Gold Pendant Sunglasses</p>
       <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Pinterest_FashionRoseGoldPendantSunglasses.png" class="asset-download">Download</a>
     </article>
   </section>

   <h3 class="subsection-title centered" data-nav="2">Instagram</h3>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473235/forevermark/social/general/bridal/FM_Partnership_Marketing_SocialMedia_Instagram_BridalLifestyleHaloRing.jpg">
        <p class="asset-title">Instagram - Bridal Lifestyle Halo Ring</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Instagram_BridalLifestyleHaloRing.jpg" class="asset-download">Download</a>
      </article>
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473381/forevermark/social/general/classic/FM_Partnership_Marketing_SocialMedia_Instagram_ClassicRedCarpetNecklaceBraceletRing.jpg">
        <p class="asset-title">Instagram - Classic Red Carpet Necklace Bracelet Ring</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Instagram_ClassicRedCarpetNecklaceBraceletRing.jpg" class="asset-download">Download</a>
      </article>
    </section>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/instagram/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Instagram_FashionNecklaceTakeMeAway.png">
        <p class="asset-title">Instagram - Fashion Necklace Take Me Away</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Instagram_FashionNecklaceTakeMeAway.png" class="asset-download">Download</a>
      </article>

      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/instagram/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Instagram_FashionRoseGoldPendantSunglasses.png">
        <p class="asset-title">Instagram - Fashion Rose Gold Pendant Sunglasses</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Instagram_FashionRoseGoldPendantSunglasses.png" class="asset-download">Download</a>
      </article>
    </section>

  <!--  <h3 class="subsection-title centered" data-nav="2">Bridal Social Media</h3>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473234/forevermark/social/general/bridal/FM_Partnership_Marketing_SocialMedia_Facebook_BridalHaloRingLetter.jpg">
        <p class="asset-title">Bridal Social Facebook</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Facebook_BridalHaloRingLetter.jpg" class="asset-download">Download</a>
      </article>
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473235/forevermark/social/general/bridal/FM_Partnership_Marketing_SocialMedia_Instagram_BridalLifestyleHaloRing.jpg">
        <p class="asset-title">Bridal Social Instagram</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Instagram_BridalLifestyleHaloRing.jpg" class="asset-download">Download</a>
      </article>
    </section>
    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473235/forevermark/social/general/bridal/FM_Partnership_Marketing_SocialMedia_Pinterest_BridalRingWhiteSand.jpg">
        <p class="asset-title">Bridal Social Pinterest</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Pinterest_BridalRingWhiteSand.jpg" class="asset-download">Download</a>
      </article>
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473233/forevermark/social/general/bridal/FM_Partnership_Marketing_SocialMedia_Twitter_BridalRingEternityBandSet.jpg">
        <p class="asset-title">Bridal Social Twitter</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Twitter_BridalRingEternityBandSet.jpg" class="asset-download">Download</a>
      </article>
    </section>
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
      <p class="asset-title">Bridal Suggested Social Media Copy</p>
      <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_BridalSuggestedSocialMediaCopy.docx">Download</a>
    </article> -->


    <!--<h3 class="subsection-title centered" data-nav="2">Classic Social Media</h3>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473380/forevermark/social/general/classic/FM_Partnership_Marketing_SocialMedia_Facebook_ClassicEarStudCluster.jpg">
        <p class="asset-title">Classic Social Facebook</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Facebook_ClassicEarStudCluster.jpg" class="asset-download">Download</a>
      </article>
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473381/forevermark/social/general/classic/FM_Partnership_Marketing_SocialMedia_Instagram_ClassicRedCarpetNecklaceBraceletRing.jpg">
        <p class="asset-title">Classic Social Instagram</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Instagram_ClassicRedCarpetNecklaceBraceletRing.jpg" class="asset-download">Download</a>
      </article>
    </section>
    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488473375/forevermark/social/general/classic/FM_Partnership_Marketing_SocialMedia_Pinterest_ClassicSolitairePendantWood.jpg">
        <p class="asset-title">Classic Social Pinterest</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Pinterest_ClassicSolitairePendantWood.jpg" class="asset-download">Download</a>
      </article>
    </section>

    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
      <p class="asset-title">Classic Social Suggested Copy</p>
      <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_ClassicSuggestedSocialMediaCopy.docx">Download</a>
    </article>

    <h3 class="subsection-title centered" data-nav="2">Fashion Social Media</h3>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/facebook/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Facebook_FashionNecklaceTakeMeAway.png">
        <p class="asset-title">Facebook</p>
        <p class="asset-type">Fashion</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Facebook_FashionNecklaceTakeMeAway.png" class="asset-download">Download</a>
      </article>

      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/facebook/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Facebook_FashionRoseGoldPendantSunglasses.png">
        <p class="asset-title">Facebook</p>
        <p class="asset-type">Fashion</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Facebook_FashionRoseGoldPendantSunglasses.png" class="asset-download">Download</a>
      </article>
    </section>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/instagram/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Instagram_FashionNecklaceTakeMeAway.png">
        <p class="asset-title">Instagram</p>
        <p class="asset-type">Fashion</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Instagram_FashionNecklaceTakeMeAway.png" class="asset-download">Download</a>
      </article>

      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/instagram/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Instagram_FashionRoseGoldPendantSunglasses.png">
        <p class="asset-title">Instagram</p>
        <p class="asset-type">Fashion</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Instagram_FashionRoseGoldPendantSunglasses.png" class="asset-download">Download</a>
      </article>
    </section>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/pinterest/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Pinterest_FashionNecklaceTakeMeAway.png">
        <p class="asset-title">Pinterest</p>
        <p class="asset-type">Fashion</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Pinterest_FashionNecklaceTakeMeAway.png" class="asset-download">Download</a>
      </article>

      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/pinterest/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Pinterest_FashionRoseGoldPendantSunglasses.png">
        <p class="asset-title">Pinterest</p>
        <p class="asset-type">Fashion</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Pinterest_FashionRoseGoldPendantSunglasses.png" class="asset-download">Download</a>
      </article>
    </section>

    <section class="two-column">
      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/twitter/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Twitter_FashionNecklaceTakeMeAway.png">
        <p class="asset-title">Twitter</p>
        <p class="asset-type">Fashion</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Twitter_FashionNecklaceTakeMeAway.png" class="asset-download">Download</a>
      </article>

      <article class="row asset" data-expand >
        <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488470513/forevermark/social/twitter/strategic%20marketing/FM_Partnership_Marketing_SocialMedia_Twitter_FashionRoseGoldPendantSunglasses.png">
        <p class="asset-title">Twitter</p>
        <p class="asset-type">Fashion</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_Twitter_FashionRoseGoldPendantSunglasses.png" class="asset-download">Download</a>
      </article>
    </section>
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
      <p class="asset-title">Social Media Suggested Copy</p>
      <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_FashionSuggestedSocialMediaCopy.docx">Download</a>
    </article>


    <section class="two-column">
      <article class="row asset">
        <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
        <p class="asset-title">Social Media Tips</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_JewelerGuide.docx">Download</a>
      </article>
      <article class="row asset">
        <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
        <p class="asset-title">Social Media Guide</p>
        <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Marketing_SocialMedia_GeneralSuggestedSocialMediaCopy.xlsx">Download</a>
      </article>
    </section> -->



    <article class="row copy">
      <h2 class="section-title" data-nav="1">Website</h2>
      <p>
        All Forevermark national marketing activity drives to Forevermark.com, leading the consumer to view product designs and ultimately find an Authorized Forevermark jeweler near them. Each Forevermark jeweler store listing on Forevermark.com drives to the store’s Forevermark section on their website. Therefore, it’s important to provide the consumer with a seamless experience from Forevermark.com to your store website. We’ve provided you with messaging and images to insure consistency from Forevermark.com to your store website.
      </p>
    </article>

    <article class="row copy">
      <h3 class="subsection-title" data-nav="2">Brand Copy</h3>
      <p>
        <span class="bold">Forevermark Jeweler Website Required Brand Messaging:</span><br>
        <p>
          Forevermark is the diamond brand from The De Beers Group of Companies, which has a history of diamond expertise spanning more than 125 years. Forevermark is committed to the unwavering and passionate pursuit of the world’s most beautiful diamonds, brought to you with integrity.
        </p>
        <p>
          In Forevermark’s constant pursuit of absolute beauty, every Forevermark diamond undergoes a journey of rigorous selection. Forevermark goes beyond the 4Cs in search of only those diamonds that meet its strict standards for quality and beauty.
        </p>
        <p>
          Forevermark diamonds are also responsibly sourced. They come from mines that not only comply with strict political, financial, social and environmental requirements, but also benefit the communities in which they are operating. This ensures that each Forevermark diamond can be given or worn with pride.
        </p>
        <p>
          Less than 1% of the world’s diamond are worthy of the Forevermark inscription – the symbol of the Forevermark promise of beauty, rarity and responsible sourcing.  The inscription, which includes the Forevermark icon and a unique identification number, is 1/5000th the width of a human hair. It is invisible to the naked eye and can only be seen under 50 times magnification. The inscription not only represents the Forevermark promise, but also allows you to register your diamond in your name.
        </p>
        <p>
          With its promise of beauty, rarity and responsible sourcing, and the unique inscription as a representation of that promise, a Forevermark diamond is the ultimate symbol of the emotions and moments that you wish to cherish forever.
        </p>
        <p>
          <span class="bold">Additional Responsible Sourcing Messaging:</span><br>
          Forevermark diamonds are responsibly sourced. They come from mines that not only comply with strict political, financial, social and environmental requirements, but also benefit the communities in which they are operating. This ensures that each Forevermark diamond can be given or worn with pride.
        </p>
        <p>
          or
        </p>
        <p>
          Responsible sourcing is a pillar of the Forevermark brand, and one of the main reasons why everyone can feel proud to give, own and wear a Forevermark diamond. Sourcing our diamonds responsibly means that, throughout their journey from rough to polished diamond, particular care has been taken to ensure responsible business practices, support the advancement of women, and protect the natural world, which is the ultimate source of our diamonds.
        </p>
      </p>
    </article>

    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
      <p class="asset-title">Required Brand Messaging</p>
      <a data-file="marketing/strategic-marketing-plan/OP_Forevermark Jeweler Website Required Brand Messaging.docx">Download</a>
    </article>


    <article class="row asset">
      <h3 class="subsection-title" data-nav="2">Brand Films</h3>
    </article>

    <article class="row asset video">
      <div class="embed-container">
        <iframe src="https://player.vimeo.com/video/215015160" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Absolute Beauty</p>
      <p class="asset-type">National</p>
      <a data-file="marketing/strategic-marketing-plan/absolute_beauty.mp4" class="asset-download">Download</a>
    </article>

    <article class="row asset video">
      <div class="embed-container">
        <iframe data-embed="https://player.vimeo.com/video/205443264" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Journey</p>
      <p class="asset-type">National</p>
      <a data-file="marketing/strategic-marketing-plan/journey.mp4" class="asset-download">Download</a>
    </article>

    <article class="row asset video">
      <div class="embed-container">
        <iframe data-embed="https://player.vimeo.com/video/205452887" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Loop</p>
      <p class="asset-type">National</p>
      <a data-file="marketing/strategic-marketing-plan/loop.mp4" class="asset-download">Download</a>
    </article>

    <article class="row asset video">
      <div class="embed-container">
        <iframe data-embed="https://player.vimeo.com/video/205453883" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Pursuit</p>
      <p class="asset-type">National</p>
      <a data-file="marketing/strategic-marketing-plan/pursuit.mp4" class="asset-download">Download</a>
    </article>

    <article class="row asset video">
      <div class="embed-container">
        <iframe data-embed="https://player.vimeo.com/video/205453540" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Responsible Sourcing - 90 Seconds</p>
      <p class="asset-type">National</p>
      <a data-file="marketing/strategic-marketing-plan/responsible-sourcing-90s.mp4" class="asset-download">Download</a>
    </article>

    <article class="row asset video">
      <div class="embed-container">
        <iframe data-embed="https://player.vimeo.com/video/205453654" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Responsible Sourcing - Annie Griffiths</p>
      <p class="asset-type">National</p>
      <a data-file="marketing/strategic-marketing-plan/responsible-sourcing.mp4" class="asset-download">Download</a>
    </article>

    <article class="row asset video">
      <div class="embed-container">
        <iframe data-embed="https://player.vimeo.com/video/205444801" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p class="asset-title">Surat</p>
      <p class="asset-type">National</p>
      <a data-file="marketing/strategic-marketing-plan/surat.mp4" class="asset-download">Download</a>
    </article>

    <article class="row">
      <h3 class="subsection-title" data-nav="2">Brand Signature</h3>
    </article>
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon">
      <p class="asset-title">Logo & Brand Guidelines</p>
      <a data-file="marketing/strategic-marketing-plan/logo_guidelines.pdf" class="asset-download">Download</a>
    </article>

    <article class="row copy">
      <h3 class="subsection-title" data-nav="2">Components</h3>
      <p>
        The Forevermark wordmark consists of three elements:
      </p>
      <ol>
        <li>The diamond icon</li>
        <li>“Forevermark” brand name</li>
        <li>“A Diamond Is Forever” heritage line</li>
      </ol>
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865641/forevermark/misc/Component_Guides.png" alt="Lockup Guides">
    </article>

    <article class="row copy">
      <h3 class="subsection-title" data-nav="2">Lock-Up</h3>
      <p>
        The three wordmark elements must always be used together, as shown here. The relative size, position and spacing of each element must always remain the same, to reinforce the brand identity through consistent application.
      </p>
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865551/forevermark/misc/Lockup_Guides_1x.png">
      <p>
        Never separate the three wordmark elements or use different combinations of the elements. Examples of wrong usage and combinations shown below.
      </p>
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865750/forevermark/misc/Misuse_Guides.png">
    </article>

    <article class="row asset copy">
      <h3 class="subsection-title" data-nav="2">Colour and Clear Zone</h3>
      <p>
        The wordmark must always be reproduced in solid black. Never tint or colour any of the three elements. Always apply the wordmark to a white background, if possible.
      </p>
      <p>
        Always maintain a minimum “clear zone” when applying the wordmark (indicated by the blue line), to maintain the purity of the Forevermark brand.
      </p>
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865688/forevermark/misc/ClearZone_Guides.png">
    </article>

    <article class="row asset">
      <h3 class="subsection-title" data-nav="2">Jeweler Logo</h3>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487882304/forevermark/strategic-marketing-plan/authorized_jeweler_US_logo.jpg">
      <p class="asset-title">Authorized US Jeweler Logo</p>
      <a data-file="marketing/strategic-marketing-plan/us_jeweler_logo.jpg" class="asset-download">Download</a>
    </article>

    <article class="row copy">
      <h3 class="subsection-title">Product Listing + Price Guide</h3>
      <p>
        <span class="bold">E-Commerce/On-Line Pricing Rules</span><br>
        You may feature finished or loose diamonds on the Forevermark section of your website.
        <ul>
          <li>If you list finished or loose without a price you may feature its specific carat weight, color and clarity</li>
          <li>If you list finished or loose with a price you may feature its specific carat weight, a two- color range (e.g., G-H), and a two-clarity range (e.g., SI1-2)</li>
        </ul>
      </p>
      </article>
      <article class="row asset">
        <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
        <p class="asset-title">Classics SKUs</p>
        <a data-file="marketing/strategic-marketing-plan/DL_ForevermarkClassicsSKUs.xlsx">Download</a>
      </article>


    <article class="row asset" data-expand>
      <h3 class="subsection-title" data-nav="2">Imagery</h3>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488485581/forevermark/website/strategic%20planning/Lifestyle.png">
      <p class="asset-title">Lifestyle</p>
      <a data-file="marketing/strategic-marketing-plan/Lifestyle.zip"class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488485581/forevermark/website/strategic%20planning/Product_Images_with_inscription.png">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/Product Images with inscription.zip"class="asset-download">Download</a>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488485581/forevermark/website/strategic%20planning/Product_Images_without_inscription.png">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/Product Images without inscription.zip"class="asset-download">Download</a>
    </article>

    <article class="row copy">
      <h2 class="section-title" data-nav="1">Email Marketing</h2>
      <p>
        Email Marketing refers to the practices that manage 1:1 interactions throughout the customer lifecycle, with the goal of improving relationships, assisting in building loyalty, retention and driving repeat purchases. It allows brands and retailers to connect with their customers outside of the in-store experience. Furthermore, content can be customized based on an individual consumer’s preferences to meet that consumer’s specific needs.
      </p>
      <p>
        As part of the marketing strategy, Forevermark sends bi-monthly emails to our database. The messages range from new product announcements to gift suggestions during the holidays. We also highlight the ways in which Forevermark, as part of the De Beers Group of Companies, lives out its Responsible Sourcing promise by supporting the advancement of women and helping to protect the natural world. Sending a consistent stream of communication helps keep Forevermark top of mind during key purchase occasions.
      </p>
      <p>
        To assist our jeweler partners with their own eCRM programs, Forevermark offers email templates. Typically the content mirrors what Forevermark sends to our national database, but can be adapted to meet the needs of our jeweler partners.
      </p>
      <p>
        All campaign-specific email templates can be found, as available, within the Campaigns section of this website.
      </p>
    </article>

    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1493910066/FM_Partnership_Brand_Email_Shapes.png">
      <p class="asset-title">Brand Email</p>
      <a data-file="marketing/strategic-marketing-plan/FM_Partnership_Brand_Email_Shapes.zip"class="asset-download">Download</a>
    </article>

  </section>
