<section class="page" data-bg="https://res.cloudinary.com/response-mktg/image/upload/v1487359537/forevermark/nav/campaign-theone.jpg" data-section="campaigns" data-title="The One">
  <article class="row">
    <h1 class="page-title">The One Campaign</h1>
    <p>It’s a long journey to become The One. Through our experience, expertise and rigorous selection process, Forevermark goes beyond the standard 4Cs to select only the most beautiful diamonds. Less than 1% of the world’s diamonds become Forevermark – a diamond to treasure forever.</p>
  </article>

  <article class="row">
    <h2 class="section-title" data-nav="1">Assets</h2>
    <h3 class="subsection-title" data-nav="2">Billboards / Out of Home</h3>
    <h4 class="subsubsection-title" data-nav="3">Billboard Bulletin</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210824/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__SolitaireRingEternityBand.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__SolitaireRingEternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210848/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__SolitaireRing.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__SolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210833/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__LineBracelet.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__LineBracelet.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210845/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__LifestyleAndSolitaireRing.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14'x48'_LifestyleAndSolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210810/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__LifestyleAnd3StoneRing.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__LifestyleAnd3StoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210815/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__GoldenHaloCushionRing.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__GoldenHaloCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210826/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__EternityBand.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__EternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210810/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__EarStuds.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__EarStuds.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210809/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__DiamondInHand.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__DiamondInHand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210791/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__COMURoundRing.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__COMURoundRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210807/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__COMUPendant.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__COMUPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210791/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__COMUCushionRing.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__COMUCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488210813/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14_x48__3StoneRing.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14_x48__3StoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490206484/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14x48_YellowGoldBezelPendant.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14x48_YellowGoldBezelPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490206486/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14x48_SolitairePendantNecklace.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14x48_SolitairePendantNecklace.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490206481/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14x48_BezelStackedRings.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14x48_BezelStackedRings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490206487/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14x48_ClusterPendant.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14x48_ClusterPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490206485/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14x48_ClusterStudEarrings.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14x48_ClusterStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490206484/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14x48_COMUCushionStudEarrings.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14x48_COMUCushionStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490206486/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14x48_COMUOvalRing.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14x48_COMUOvalRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490206487/forevermark/billboards/the one/FM_Partnership_TheOne_BillboardBulletin_14x48_ClusterRing.jpg">
    <p class="asset-title">Billboard Bulletin</p>
    <p class="asset-type">14'x48'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_BillboardBulletin_14x48_ClusterRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Poster Landscape</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211769/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__DiamondInHand.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__DiamondInHand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211780/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__3StoneRing.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__3StoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211763/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__CushionHaloRing.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__CushionHaloRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211760/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__COMUPendant.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__COMUPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211760/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__EternityBand.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__EternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211761/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__EarStuds.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__EarStuds.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211772/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__GoldenCushionHaloRing.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__GoldenCushionHaloRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211773/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__Lifestyle3StoneRing.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__Lifestyle3StoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211771/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__LifestyleSolitaireRing.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__LifestyleSolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211768/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__LineBracelet.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__LineBracelet.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211773/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__SolitaireRing.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__SolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211776/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__RoundHaloRing.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__RoundHaloRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211774/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_10_x20__SolitaireRingEternityBand.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_10_x20__SolitaireRingEternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490207806/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_20x10_YellowGoldBezelPendant.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_20x10_YellowGoldBezelPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490207807/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_20x10_SolitairePendantNecklace.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_20x10_SolitairePendantNecklace.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490207804/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_20x10_COMUCushionStudEarrings.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_20x10_COMUCushionStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490207804/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_20x10_COMUOvalRing.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_20x10_COMUOvalRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490207804/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_20x10_ClusterStudEarrings.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_20x10_ClusterStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490207803/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_20x10_ClusterRing.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_20x10_ClusterRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490207804/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_20x10_ClusterPendant.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_20x10_ClusterPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490207803/forevermark/billboards/the one/FM_Partnership_TheOne_PosterLandscape_20x10_BezelStackedRings.jpg">
    <p class="asset-title">Poster Landscape</p>
    <p class="asset-type">20'x10'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterLandscape_20x10_BezelStackedRings.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Poster Portrait</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211777/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__COMUPendant.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__COMUPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211775/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__DiamondInHand.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__DiamondInHand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211778/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__CushionHaloRing.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__CushionHaloRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211778/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__EarStuds.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__EarStuds.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211778/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__EternityBand.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__EternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211777/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__LineBracelet.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__LineBracelet.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211784/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__LifestyleSolitaireRing.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__LifestyleSolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211777/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__RoundHaloRing.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__RoundHaloRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211781/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__SolitaireRing.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__SolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211780/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__SolitaireRingEternityBand.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__SolitaireRingEternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211773/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__Lifestyle3StoneRing.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__Lifestyle3StoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211769/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__3StoneRing.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__3StoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488211772/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_20_x10__GoldenCushionHaloRing.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_20_x10__GoldenCushionHaloRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490208511/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_10x20_YellowGoldBezelPendant.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_10x20_YellowGoldBezelPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490208511/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_10x20_SolitairePendantNecklace.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_10x20_SolitairePendantNecklace.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490208509/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_10x20_COMUCushionStudEarrings.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_10x20_COMUCushionStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490208509/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_10x20_COMUOvalRing.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_10x20_COMUOvalRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490208509/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_10x20_ClusterStudEarrings.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_10x20_ClusterStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490208509/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_10x20_ClusterRing.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_10x20_ClusterRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490208509/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_10x20_ClusterPendant.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_10x20_ClusterPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490208509/forevermark/billboards/the one/FM_Partnership_TheOne_PosterPortrait_10x20_BezelStackedRings.jpg">
    <p class="asset-title">Poster Portrait</p>
    <p class="asset-type">10'x20'</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_PosterPortrait_10x20_BezelStackedRings.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h2 class="subsection-title" data-nav="2">Digital</h2>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="728x90" data-campaign="the-one"  data-width="728" data-height="90">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488219867/forevermark/banners/the one/FM_Partnership_TheOne_Digital_728x90_InscriptionStone.jpg">
    </a>
    <p class="asset-title">728x90</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Digital_728x90_InscriptionStone.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="320x50" data-campaign="the-one"  data-width="320" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488219867/forevermark/banners/the one/FM_Partnership_TheOne_Digital_320x50_InscriptionStone.jpg">
    </a>
    <p class="asset-title">320x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Digital_320x50_InscriptionStone.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="300x600" data-campaign="the-one"  data-width="300" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488219867/forevermark/banners/the one/FM_Partnership_TheOne_Digital_300x600_InscriptionStone.jpg">
    </a>
    <p class="asset-title">300x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Digital_300x600_InscriptionStone.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="300x250" data-campaign="the-one"  data-width="300" data-height="250">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488219867/forevermark/banners/the one/FM_Partnership_TheOne_Digital_300x250_InscriptionStone.jpg">
    </a>
    <p class="asset-title">300x250</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Digital_300x250_InscriptionStone.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="300x50" data-campaign="the-one"  data-width="300" data-height="50">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488219867/forevermark/banners/the one/FM_Partnership_TheOne_Digital_300x50_InscriptionStone.jpg">
    </a>
    <p class="asset-title">300x50</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Digital_300x50_InscriptionStone.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <a class="banner-ad" data-banner data-file="index.html" data-dimension="160x600" data-campaign="the-one"  data-width="160" data-height="600">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488219867/forevermark/banners/the one/FM_Partnership_TheOne_Digital_160x600_InscriptionStone.jpg">
    </a>
    <p class="asset-title">160x600</p>
    <p class="asset-type">HTML 5 Banner Ad</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Digital_160x600_InscriptionStone.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Print</h3>
    <h4 class="subsubsection-title" data-nav="3">Newspaper</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217616/forevermark/print/the one/bridge lifestyle ad with three stone ring/FM_Partnership_TheOne_Print_Newspaper_LifestyleThreeStoneRing.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_LifestyleThreeStoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217510/forevermark/print/the one/cushion ring/FM_Partnership_TheOne_Print_Newspaper_COMUCushionRing.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_COMUCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217458/forevermark/print/the one/diamond in hand/FM_Partnership_TheOne_Print_Newspaper_DiamondInHand.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_DiamondInHand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217424/forevermark/print/the one/ear studs/FM_Partnership_TheOne_Print_Newspaper_Studs.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_Studs.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217410/forevermark/print/the one/eternity band/FM_Partnership_TheOne_Print_Newspaper_EternityBand.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_EternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217389/forevermark/print/the one/line bracelet/FM_Partnership_TheOne_Print_Newspaper_LineBracelet.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_LineBracelet.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217369/forevermark/print/the one/park lifestyle solitaire ring/FM_Brand_Partnership_News_LifestyleandProduct_Park_Solitaire_Ring_202.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Brand_Partnership_News_LifestyleandProduct_Park_Solitaire_Ring_202.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217493/forevermark/print/the one/pendant/FM_Partnership_TheOne_Print_Newspaper_COMUPendant.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_COMUPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217475/forevermark/print/the one/round ring/FM_Partnership_TheOne_Print_Newspaper_COMURoundRing.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_COMURoundRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217345/forevermark/print/the one/solitaire ring/FM_Partnership_TheOne_Print_Newspaper_SolitaireRing.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_SolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217330/forevermark/print/the one/solitaire ring with eternity band/FM_Partnership_TheOne_Print_Newspaper_SolitaireRingEternityBand.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_SolitaireRingEternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217309/forevermark/print/the one/three stone ring/FM_Partnership_TheOne_Print_Newspaper_ThreeStoneRing.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_ThreeStoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217290/forevermark/print/the one/yellow cushion ring/FM_Partnership_TheOne_Print_Newspaper_GoldenCushionRing.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_GoldenCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490209505/forevermark/print/the one/pendant/FM_Partnership_TheOne_Print_Newspaper_YellowGoldBezelPendant.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_YellowGoldBezelPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490209505/forevermark/print/the one/pendant/FM_Partnership_TheOne_Print_Newspaper_SolitairePendantNecklace.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_SolitairePendantNecklace.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490209505/forevermark/print/the one/pendant/FM_Partnership_TheOne_Print_Newspaper_ClusterPendant.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_ClusterPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490209617/forevermark/print/the one/ear studs/FM_Partnership_TheOne_Print_Newspaper_COMUCushionStudEarrings.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_COMUCushionStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1495129121/forevermark/print/the one/ear studs/FM_Brand_Partnership_News_GAL_Earrings_WG_S101.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_ClusterStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490209723/forevermark/print/the one/misc rings/FM_Partnership_TheOne_Print_Newspaper_COMUOvalRing.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_COMUOvalRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490209724/forevermark/print/the one/misc rings/FM_Partnership_TheOne_Print_Newspaper_ClusterRing.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_ClusterRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490209724/forevermark/print/the one/misc rings/FM_Partnership_TheOne_Print_Newspaper_BezelStackedRings.jpg">
    <p class="asset-title">Newspaper</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_BezelStackedRings.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Portrait</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217618/forevermark/print/the one/bridge lifestyle ad with three stone ring/FM_Partnership_TheOne_Print_Portrait_LifestyleThreeStoneRing.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_LifestyleThreeStoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217515/forevermark/print/the one/cushion ring/FM_Partnership_TheOne_Print_Portrait_COMUCushionRing.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_COMUCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217460/forevermark/print/the one/diamond in hand/FM_Partnership_TheOne_Print_Portrait_DiamondInHand.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_DiamondInHand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217426/forevermark/print/the one/ear studs/FM_Partnership_TheOne_Print_Portrait_Studs.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_Studs.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217411/forevermark/print/the one/eternity band/FM_Partnership_TheOne_Print_Portrait_EternityBand.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_EternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217389/forevermark/print/the one/line bracelet/FM_Partnership_TheOne_Print_Portrait_LineBracelet.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_LineBracelet.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217371/forevermark/print/the one/park lifestyle solitaire ring/FM_Partnership_TheOne_Print_Portrait_LifestyleSolitaireRing.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_LifestyleSolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217498/forevermark/print/the one/pendant/FM_Partnership_TheOne_Print_Portrait_COMUPendant.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_COMUPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217481/forevermark/print/the one/round ring/FM_Partnership_TheOne_Print_Portrait_COMURoundRing.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_COMURoundRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217348/forevermark/print/the one/solitaire ring/FM_Partnership_TheOne_Print_Portrait_SolitaireRing.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_SolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217332/forevermark/print/the one/solitaire ring with eternity band/FM_Partnership_TheOne_Print_Portrait_SolitaireRingEternityBand.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_SolitaireRingEternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217316/forevermark/print/the one/three stone ring/FM_Partnership_TheOne_Print_Portrait_ThreeStoneRing.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_ThreeStoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488223876/forevermark/print/the one/yellow cushion ring/FM_Partnership_TheOne_Print_Portrait_GoldenCushionRing.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_GoldenCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490210448/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Portrait_SolitairePendantNecklace.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_SolitairePendantNecklace.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490210448/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Portrait_YellowGoldBezelPendant.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_YellowGoldBezelPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490210447/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Portrait_COMUOvalRing.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_COMUOvalRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490210447/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Portrait_COMUCushionStudEarrings.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_COMUCushionStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490210447/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Portrait_ClusterStudEarrings.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_ClusterStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490210447/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Portrait_ClusterPendant.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_ClusterPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490210447/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Portrait_BezelStackedRings.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_BezelStackedRings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490210447/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Portrait_ClusterRing.jpg">
    <p class="asset-title">Portrait</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Portrait_ClusterRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Spread</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217626/forevermark/print/the one/bridge lifestyle ad with three stone ring/FM_Partnership_TheOne_Print_Spread_LifestyleThreeStoneRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_LifestyleThreeStoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217515/forevermark/print/the one/cushion ring/FM_Partnership_TheOne_Print_Spread_COMUCushionRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_COMUCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217461/forevermark/print/the one/diamond in hand/FM_Partnership_TheOne_Print_Spread_DiamondInHand.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_DiamondInHand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217431/forevermark/print/the one/ear studs/FM_Partnership_TheOne_Print_Spread_Studs.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_Studs.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217412/forevermark/print/the one/eternity band/FM_Partnership_TheOne_Print_Spread_EternityBand.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_EternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217390/forevermark/print/the one/line bracelet/FM_Partnership_TheOne_Print_Spread_LineBracelet.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_LineBracelet.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217374/forevermark/print/the one/park lifestyle solitaire ring/FM_Partnership_TheOne_Print_Spread_LifestyleSolitaireRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_LifestyleSolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217500/forevermark/print/the one/pendant/FM_Partnership_TheOne_Print_Spread_COMUPendant.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_COMUPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217481/forevermark/print/the one/round ring/FM_Partnership_TheOne_Print_Newspaper_COMUSpreadRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Newspaper_COMUSpreadRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217349/forevermark/print/the one/solitaire ring/FM_Partnership_TheOne_Print_Spread_SolitaireRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_SolitaireRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217332/forevermark/print/the one/solitaire ring with eternity band/FM_Partnership_TheOne_Print_Spread_SolitaireRingEternityBand.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_SolitaireRingEternityBand.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217317/forevermark/print/the one/three stone ring/FM_Partnership_TheOne_Print_Spread_ThreeStoneRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_ThreeStoneRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488217295/forevermark/print/the one/yellow cushion ring/FM_Partnership_TheOne_Print_Spread_GoldenCushionRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_GoldenCushionRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490211270/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Spread_YellowGoldBezelPendant.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_YellowGoldBezelPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490211270/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Spread_SolitairePendantNecklace.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_SolitairePendantNecklace.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490211268/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Spread_COMUOvalRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_COMUOvalRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490211269/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Spread_COMUCushionStudEarrings.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_COMUCushionStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490211269/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Spread_ClusterStudEarrings.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_ClusterStudEarrings.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490211268/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Spread_ClusterRing.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_ClusterRing.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490211269/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Spread_ClusterPendant.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_ClusterPendant.zip" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1490211268/forevermark/print/the one/post launch additions/FM_Partnership_TheOne_Print_Spread_BezelStackedRings.jpg">
    <p class="asset-title">Spread</p>
    <a data-file="campaigns/the-one/FM_Partnership_TheOne_Print_Spread_BezelStackedRings.zip" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Radio</h3>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
      <p class="asset-title">Radio Script</p>
      <a data-file="campaigns/the-one/FM_Partnership_TheOne_Radio_Script.pdf" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset">
      <div class="aplayer" data-audio="https://s3-us-west-2.amazonaws.com/resp-forevermark/campaigns/the-one/radio/Radio+Non-Holiday+Chris_mixdown.mp3" data-thumbnail="https://res.cloudinary.com/response-mktg/image/upload/c_limit,w_600,q_auto/v1488226188/forevermark/website/the one/website imagery/FM_Brand_TheOne_Website_Imagery_LifestyleHandsFull.jpg"></div>
      <p class="asset-title">Male Voice - 60 Second</p>
      <a data-file="campaigns/the-one/FM_Partnership_TheOne_Radio_NonHoliday.zip" class="asset-download">Download</a>
    </article>

    <article class="row asset">
      <div class="aplayer" data-audio="https://s3-us-west-2.amazonaws.com/resp-forevermark/campaigns/the-one/radio/Radio+Non-Holiday+Luisa_mixdown.mp3" data-thumbnail="https://res.cloudinary.com/response-mktg/image/upload/c_limit,w_600,q_auto/v1488226188/forevermark/website/the one/website imagery/FM_Brand_TheOne_Website_Imagery_LifestyleHandsFull.jpg"></div>
      <p class="asset-title">Female Voice - 60 Second</p>
      <a data-file="campaigns/the-one/FM_Partnership_TheOne_Radio_NonHoliday.zip" class="asset-download">Download</a>
    </article>
  </section>


  <article class="row">
    <h3 class="subsection-title" data-nav="2">Social Media</h3>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
      <p class="asset-title">Jeweler Guide</p>
      <p class="asset-type">Copy Suggestions</p>
      <a data-file="campaigns/the-one/FM_Partnership_TheOne_SocialMedia_SuggestedSocialCopy.docx" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Facebook</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488226437/forevermark/social/facebook/the one/FM_Partnership_TheOne_SocialMedia_Facebook_HaloPendantAndRing.jpg">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/the-one/FM_Partnership_TheOne_SocialMedia_Facebook_HaloPendantAndRing.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488226434/forevermark/social/facebook/the one/FM_Partnership_TheOne_SocialMedia_Facebook_PendantAndStuds.jpg">
      <p class="asset-title">Facebook</p>
      <a data-file="campaigns/the-one/FM_Partnership_TheOne_SocialMedia_Facebook_PendantAndStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Instagram</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488226454/forevermark/social/instagram/the one/FM_Partnership_TheOne_SocialMedia_Instagram_HaloPendantAndRing.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/the-one/FM_Partnership_TheOne_SocialMedia_Instagram_HaloPendantAndRing.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488226452/forevermark/social/instagram/the one/The_One_Instagram_2.jpg">
      <p class="asset-title">Instagram</p>
      <a data-file="campaigns/the-one/The_One_Instagram_2.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Twitter</h4>
  </article>

  <section class="two-column">
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488226464/forevermark/social/twitter/the one/FM_Partnership_TheOne_SocialMedia_Twitter_HaloPendantAndRing.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/the-one/FM_Partnership_TheOne_SocialMedia_Twitter_HaloPendantAndRing.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset">
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488226464/forevermark/social/twitter/the one/FM_Partnership_TheOne_SocialMedia_Twitter_PendantAndStuds.jpg">
      <p class="asset-title">Twitter</p>
      <a data-file="campaigns/the-one/FM_Partnership_TheOne_SocialMedia_Twitter_PendantAndStuds.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">TV</h3>
    <p>To order The One commercial tagged with your store logo <a href="http://www.fmjorderform.com/" target="_blank">click here</a>.</p>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/205903965" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">30 Second</p>
    <a data-file="campaigns/the-one/FM_Brand_TheOne_TV_30SecADIF.mp4" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h3 class="subsection-title" data-nav="2">Website</h3>
    <h4 class="subsubsection-title" data-nav="3">Brand Films</h4>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe src="https://player.vimeo.com/video/215015160" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Video</p>
    <p class="asset-type">Absolute Beauty</p>
    <a data-file="marketing/strategic-marketing-plan/absolute_beauty.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/205443264" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Video</p>
    <p class="asset-type">Journey</p>
    <a data-file="marketing/strategic-marketing-plan/journey.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/205452887" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Video</p>
    <p class="asset-type">Loop</p>
    <a data-file="marketing/strategic-marketing-plan/loop.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/205453883" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Video</p>
    <p class="asset-type">Pursuit</p>
    <a data-file="marketing/strategic-marketing-plan/pursuit.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/205453540" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Video</p>
    <p class="asset-type">Responsible Sourcing</p>
    <a data-file="marketing/strategic-marketing-plan/responsible-sourcing-90s.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/205453654" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Video</p>
    <p class="asset-type">Responsible Sourcing - Annie Griffiths</p>
    <a data-file="marketing/strategic-marketing-plan/responsible-sourcing.mp4" class="asset-download">Download</a>
  </article>

  <article class="row asset video">
    <div class="embed-container">
      <iframe data-embed="https://player.vimeo.com/video/205444801" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <p class="asset-title">Video</p>
    <p class="asset-type">Surat</p>
    <a data-file="marketing/strategic-marketing-plan/surat.mp4" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Forevermark Brand Signature</h4>
  </article>

  <article class="row copy">
    <p>
      <span class="bold">Forevermark Jeweler Website Required Brand Messaging:</span><br>
      <p>
        Forevermark is the diamond brand from The De Beers Group of Companies, which has a history of diamond expertise spanning more than 125 years. Forevermark is committed to the unwavering and passionate pursuit of the world’s most beautiful diamonds, brought to you with integrity.
      </p>
      <p>
        In Forevermark’s constant pursuit of absolute beauty, every Forevermark diamond undergoes a journey of rigorous selection. Forevermark goes beyond the 4Cs in search of only those diamonds that meet its strict standards for quality and beauty.
      </p>
      <p>
        Forevermark diamonds are also responsibly sourced. They come from mines that not only comply with strict political, financial, social and environmental requirements, but also benefit the communities in which they are operating. This ensures that each Forevermark diamond can be given or worn with pride.
      </p>
      <p>
        Less than 1% of the world’s diamond are worthy of the Forevermark inscription – the symbol of the Forevermark promise of beauty, rarity and responsible sourcing.  The inscription, which includes the Forevermark icon and a unique identification number, is 1/5000th the width of a human hair. It is invisible to the naked eye and can only be seen under 50 times magnification. The inscription not only represents the Forevermark promise, but also allows you to register your diamond in your name.
      </p>
      <p>
        With its promise of beauty, rarity and responsible sourcing, and the unique inscription as a representation of that promise, a Forevermark diamond is the ultimate symbol of the emotions and moments that you wish to cherish forever.
      </p>
      <p>
        <span class="bold">Additional Responsible Sourcing Messaging:</span><br>
        Forevermark diamonds are responsibly sourced. They come from mines that not only comply with strict political, financial, social and environmental requirements, but also benefit the communities in which they are operating. This ensures that each Forevermark diamond can be given or worn with pride.
      </p>
      <p>
        or
      </p>
      <p>
        Responsible sourcing is a pillar of the Forevermark brand, and one of the main reasons why everyone can feel proud to give, own and wear a Forevermark diamond. Sourcing our diamonds responsibly means that, throughout their journey from rough to polished diamond, particular care has been taken to ensure responsible business practices, support the advancement of women, and protect the natural world, which is the ultimate source of our diamonds.
      </p>
    </p>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487865294/forevermark/misc/PDF_Image_2x.png" class="download-icon">
    <p class="asset-title">Logo & Brand Guidelines Signature</p>
    <a data-file="marketing/strategic-marketing-plan/logo_guidelines.pdf" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Forevermark Jeweler Authorized Logo</h4>
  </article>

  <article class="row asset">
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487882304/forevermark/strategic-marketing-plan/authorized_jeweler_US_logo.jpg">
    <p class="asset-title">Authorized US Jeweler Logo</p>
    <a data-file="marketing/strategic-marketing-plan/us_jeweler_logo.jpg" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Product Listing and Pricing Guidelines</h4>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487867925/forevermark/misc/DOC_Image.png" class="download-icon">
    <p class="asset-title">Product Listing Guidelines</p>
    <a data-file="campaigns/the-one/OP_ProductListingGuidelines.docx" class="asset-download">Download</a>
  </article>

  <article class="row asset">
    <img src="https://res.cloudinary.com/response-mktg/image/upload/v1487866347/forevermark/misc/XLS_Image_2x.png" class="download-icon">
    <p class="asset-title">Classics SKU Links</p>
    <a data-file="campaigns/the-one/FM_Brand_TheOne_Website_ClassicsSKULinks.xlsx" class="asset-download">Download</a>
  </article>

  <article class="row">
    <h4 class="subsubsection-title" data-nav="3">Website Imagery</h4>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1488488267/forevermark/website/the%20one/TheOne_Website_Imagery.png">
    <p class="asset-title">The One Imagery</p>
    <p class="asset-type">Web</p>
    <a data-file="campaigns/the-one/TheOne_Website_Imagery.zip"class="asset-download">Download</a>
  </article>



<!--
  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487882561/forevermark/strategic-marketing-plan/Bridge-1-Web.jpg">
    <p class="asset-title">Bridge</p>
    <a data-file="marketing/strategic-marketing-plan/bridge.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487882562/forevermark/strategic-marketing-plan/Park-web.jpg">
    <p class="asset-title">Park</p>
    <a data-file="marketing/strategic-marketing-plan/park.jpg" class="asset-download">Download</a>
  </article>

  <article class="row asset" data-expand>
    <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487882563/forevermark/strategic-marketing-plan/Diamond-in-Hand-web.jpg">
    <p class="asset-title">Diamond in Hand</p>
    <a data-file="marketing/strategic-marketing-plan/diamond_hand.jpg" class="asset-download">Download</a>
  </article>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883194/forevermark/strategic-marketing-plan/Comu_Pendant.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/comu_pendant.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883145/forevermark/strategic-marketing-plan/Solitaire-_-Wedding-band.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/wedding_band.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883146/forevermark/strategic-marketing-plan/ses_three_stone.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/ses_three_stone.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883139/forevermark/strategic-marketing-plan/EVER-US_RING.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/ever_us_ring.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883136/forevermark/strategic-marketing-plan/Galili_stud.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/galili_stud.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883148/forevermark/strategic-marketing-plan/Round-Halo-Ring.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/round_halo_ring.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883134/forevermark/strategic-marketing-plan/pcs_solitaire.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/pcs_solitaire.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883132/forevermark/strategic-marketing-plan/Cushion-Ring.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/cushion_ring.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883125/forevermark/strategic-marketing-plan/ALK-BRACELET.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/alk_bracelet.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487883153/forevermark/strategic-marketing-plan/A-link_eternity_ring.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">Without Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/eternity_ring.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884033/forevermark/strategic-marketing-plan/Cushion_V2_New.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/cushion_v2_new.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884020/forevermark/strategic-marketing-plan/A_LINK_BRACELET_Side.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/a_link_bracelet.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884029/forevermark/strategic-marketing-plan/Yellow_Ring.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/yellow_ring.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884047/forevermark/strategic-marketing-plan/Round_Halo_V4.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/round_halo_v4.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884015/forevermark/strategic-marketing-plan/PCS_Ring_2930_up.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/pcs_ring_2930_up.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884008/forevermark/strategic-marketing-plan/PCS_Ring_2930_side.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/pcs_ring_2930_side.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884012/forevermark/strategic-marketing-plan/PCS_Ring_2930_front.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/pcs_ring_2930_front.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884014/forevermark/strategic-marketing-plan/PCS_Ring_2920__Side.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/pcs_ring_2920_Side.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884010/forevermark/strategic-marketing-plan/PCS_Ring_2920__Up.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/pcs_ring_2920_up.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884025/forevermark/strategic-marketing-plan/PCS_Ring_2920__Front.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/pcs_ring_2920_front.jpg" class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884011/forevermark/strategic-marketing-plan/E3S_EARRINGS.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/e3s_earrings.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884004/forevermark/strategic-marketing-plan/ALK_BRACELET.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/alk_bracelet.jpg"class="asset-download">Download</a>
    </article>
  </section>

  <section class="two-column">
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884007/forevermark/strategic-marketing-plan/PCS_ADV_3_Stones_Up.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/pcs_adv_3_stones_up.jpg" class="asset-download">Download</a>
    </article>
    <article class="row asset" data-expand>
      <img data-lazy="https://res.cloudinary.com/response-mktg/image/upload/v1487884003/forevermark/strategic-marketing-plan/A_LINK_BRACELET_Up.jpg">
      <p class="asset-title">Product</p>
      <p class="asset-type">With Inscription</p>
      <a data-file="marketing/strategic-marketing-plan/a_link_bracelet_up.jpg" class="asset-download">Download</a>
    </article>
  </section>
-->

</section>
