.login-page {
  display: flex;
  justify-content: center;
  // position: relative;
  z-index: 100;
}

.login-page .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 33%;
  margin: 100px auto;
  // text-align: center;
  // position: relative;
  z-index: 200;
  form {
    width: 100%;
    input {
      font-size: 28px;
      font-family: "proxima-nova", "Open Sans", "Helvetica", sans-serif;
    }
  }
}

.login-page .login-submit {
  color: $blue-gray;
  width: 50%;
  font-size: 28px;
  font-weight: 300;
  padding: 15px;
  border: 2px solid $gray;
  transition: all .15s ease-in-out;
  font-family: "proxima-nova", "Open Sans", "Helvetica", sans-serif;
  &:hover {
    color: #fff;
    background: $blue-gray;
    border: 2px solid $blue-gray;
  }
}
